@using SFA.Apprenticeships.Web.Recruit.Constants
@{
    ViewBag.Title = "Recruit an Apprentice";
}

<div class="grid-row">
    <section class="grid-row column-two-thirds">
        <div class="inner-block-padr">
            <h1 class="heading-xlarge">
                Recruit an apprentice
            </h1>
            <h2 class="heading-medium">Provider sign in</h2>
            <p class="text">
                You'll be taken to the "Information Management Services" sign in
                area. Once signed in you'll be automatically returned to our service.
            </p>
            <p>
                <a href="@Url.RouteUrl(RecruitmentRouteNames.SignIn)" class="button">Sign in</a>
            </p>
        </div>
    </section>
    <section class="grid-row column-one-third gov-border">
        <br>
        <ul class="list-text">
            <li>
                <a href="/recruitment/info-expect-from-employer.html">Responsibilities of the employer</a>
            </li>
            <li>
                <a href="/recruitment/info-whos-involved.html">Who's involved in an apprenticeship?</a>
            </li>
            <li>
                <a href="/recruitment/info-expect-from-apprentice.html">What to expect from your apprentice</a>
            </li>
            <li>
                <a href="/recruitment/info-expect-from-provider.html">Responsibilities of the provider</a>
            </li>
            <li>
                <a href="/recruitment/info-payments-and-funding.html">Payments and funding</a>
            </li>
            <li>
                <a href="/recruitment/info-six-steps.html">How to employ an apprentice</a>
            </li>
        </ul>
    </section>
</div>
