@{
    ViewBag.Title = "Recruit an Apprentice - Login Dummy";
}

<h1>Mocked logins</h1>

<a href="@Url.Action("LoginDummy", new { loginType = "validProvider" })" class="button">Login Valid Provider</a>
<a href="@Url.Action("LoginDummy", new { loginType = "invalidProvider" })" class="button">Login No Valid Provider</a>
