@using SFA.Apprenticeships.Web.Candidate.ViewModels.Account
@model object
@{
    ViewBag.Title = "Confirm account deletion - Find an apprenticeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Confirm account deletion</h1>
        <div class="panel panel-border-wide sfa-xlarge-bottom-margin">
            <p>You will no longer be able to use this service, and your account data will be lost.​</p>
        </div>
    </div>
</div>

<div class="inline">
    @Html.ActionLink("Delete account", "SetDeletionPendingForAccount", "Account", new { @class = "button" })
    @Html.ActionLink("Cancel", "DeleteAccountSettings", "Account", new { @class = "button sfa-button-secondary" })
</div>
