@using SFA.Apprenticeships.Web.Candidate.ViewModels.Account
@model object
@{
    ViewBag.Title = "Confirm account deletion - Find an apprenticeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hgroup">
    <div class="text">
        <h1 class="heading-xlarge">Confirm account deletion
            <span class="heading-secondary ">You will no longer be able to use this service, and your account data will be lost.​</span>
        </h1>
    </div>
</div>

@Html.ActionLink("Delete account", "SetDeletionPendingForAccount", "Account", new {@class = "button"})
@Html.ActionLink("Cancel", "DeleteAccountSettings", "Account")