@model object
@{
    ViewBag.Title = "Terms and conditions - Find an apprenticeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="info-summary" role="group" aria-labelledby="InfoMessageText" tabindex="-1">

            <p id="InfoMessageText">To use this service you must accept our updated terms and conditions</p>

        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Terms and conditions</h1>
        <p>Please read and accept our updated terms and conditions​</p>
    </div>
    @Html.Partial("_TermsAndConditions")
</div>

<div class="grid-row">
    <div class="column-two-thirds inline">
        @Html.ActionLink("Accept", "AcceptTermsAndConditions", "Account", Model, new { @class = "button" })
        @Html.ActionLink("Decline", "DeclineTermsAndConditions", "Account", Model, new { @class = "button sfa-button-secondary" })
    </div>
</div>