@model SFA.Apprenticeships.Web.Candidate.ViewModels.Account.EmailViewModel
@{
    ViewBag.Title = "Change your email address - Find an apprenticeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Change your email address</h1>
    </div>
    <div class="column-one-third">
        <ul class="list sfa-align-right-tablet sfa-xlarge-top-margin">
            <li>
            @Html.RouteLink("Find an apprenticeship", CandidateRouteNames.ApprenticeshipSearch, null, new {id = "find-apprenticeship-link"})
            </li>
        </ul>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <p>
            To change your email address we'll need to send you a code to verify it's yours.
        </p>
        @using (Html.BeginRouteForm(RouteNames.UpdateEmail, FormMethod.Post, new { id = "update-email-form", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("ValidationSummary", ViewData.ModelState)
            @Html.FormTextFor(m => m.EmailAddress, controlHtmlAttributes: new { autocomplete = "off", type = "email", spellcheck = "false" })

            <div class="form-group">
                <button id="btn-sendcode" class="button">Send code</button>
            </div>
        }
    </div>
</div>