@{
    ViewBag.Title = "Update Email Address - Find an apprenticeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-wrapper">
    <div class="grid grid-1-2">
        <h1 class="heading-xlarge">Change your email address</h1>
    </div>
    <div class="grid grid-1-2">
        <p>
            <a href="#" class="page-link">Find an apprenticeship</a>
        </p>
    </div>
</div>
<p class="text">
    To change your email address we'll need to send you a code to verify it's
    yours.
</p>
@using (Html.BeginRouteForm(RouteNames.UpdateEmail, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)

    <div class="form-group">
        <label for="enterEmail" class="form-label">Enter new email address</label>
        <input type="text" class="form-control" id="enterEmail">
    </div>
    <div class="form-group">
        <a href="@Url.RouteUrl(RouteNames.VertifyUpdatedEmail)" class="button" id="">Send code</a>
    </div>
}