@model SFA.Apprenticeships.Web.Candidate.ViewModels.Account.VertifyUpdatedEmailViewModel
@{
    ViewBag.Title = "VerifyUpdatedEmailAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-wrapper">
    <div class="grid grid-1-2">
        <h1 class="heading-xlarge">Verify your email address</h1>
    </div>
    <div class="grid grid-1-2">
        <p>
            <a href="#" class="page-link">Find an apprenticeship</a>
        </p>
    </div>
</div>
<p class="text">
    You've been sent a code to your new email address, enter your code to verify
    your address.
</p>
@using (Html.BeginRouteForm(RouteNames.VertifyUpdatedEmail, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("ValidationSummary", ViewData.ModelState)
    
    <div class="form-group form-group-withlink">
        <label for="enterCode" class="form-label">Enter code</label>
        <input type="text" class="form-control" id="enterCode">
    </div>
    <div class="form-group">
        <p>
            <a href="">Resend code</a>
        </p>
    </div>
    <div class="form-group">
        <label for="enterPass" class="form-label">Enter your account password</label>
        <span class="form-hint">We need your password for security reasons</span>
        <input type="text" class="form-control" id="enterPass">
    </div>
    <div class="form-group">
        <a href="settings.html" class="button" id="emailVerified">Verify email</a>
    </div>
}
