@using SFA.Apprenticeships.Web.Recruit.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy.VacancyLinksViewModel

@{
    var vacancyTypeText = ViewData["vacancyTypeText"];
}

@if (Model.Status.CanManageVacancyDates())
{
    <p class="small-btm-margin">
        @Html.RouteLink("Manage " + vacancyTypeText + " dates", RecruitmentRouteNames.ManageDates, new { vacancyReferenceNumber = Model.VacancyReferenceNumber }, new { @class = "disp-block" })
    </p>
}
@if (Model.Status.CanWithdrawVacancy())
{
    <!--<p class="small-btm-margin">
        <a href="">Withdraw this @vacancyTypeText</a>
    </p>-->
}
@if (Model.Status.CanShareApplications())
{
    <p class="small-btm-margin">
        @Html.RouteLink("Show applications", RecruitmentRouteNames.ShareApplications, new { vacancyReferenceNumber = Model.VacancyReferenceNumber }, new { @class = "disp-block" })
    </p>
}