@using SFA.Apprenticeships.Web.Recruit.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy.VacancyLinksViewModel

@if (Model.Status.CanManageVacancyDates())
{
    <p class="small-btm-margin">
        @Html.RouteLink("Change vacancy dates", RecruitmentRouteNames.ManageDates, new { vacancyReferenceNumber = Model.VacancyReferenceNumber }, new { @class = "disp-block" })
    </p>
}

@if (Model.Status.CanShareApplications(Model.TotalNumberOfApplications))
{
    <p class="small-btm-margin">
        @Html.RouteLink("Share applications", RecruitmentRouteNames.ShareApplications, new { vacancyReferenceNumber = Model.VacancyReferenceNumber }, new { @class = "disp-block" })
    </p>
}

@if (Model.Status.CanArchiveVacancy() && Model.VacancyType.CanArchiveVacancy())
{
    <p class="small-btm-margin">
        @Html.RouteLink("Archive vacancy", RecruitmentRouteNames.ArchiveVacancy, new { vacancyReferenceNumber = Model.VacancyReferenceNumber }, new { @class = "disp-block" })
    </p>
}
@if (Model.Status.CanBulkDecline(Model.TotalNumberOfApplications))
{
    <p class="small-btm-margin">
        @Html.RouteLink("Respond to candidates", RecruitmentRouteNames.ArchiveVacancy, new { vacancyReferenceNumber = Model.VacancyReferenceNumber }, new { @class = "disp-block" })
    </p>
}