@using SFA.Apprenticeships.Domain.Entities.Raa.Vacancies
@model SFA.Apprenticeships.Domain.Entities.Raa.Vacancies.ApprenticeshipLevel
@{
    var text = Model == ApprenticeshipLevel.Unknown ? "Select an apprenticeship standard" : Model.ToString();
    if (Model == ApprenticeshipLevel.FoundationDegree || Model == ApprenticeshipLevel.Masters)
    {
        text = ApprenticeshipLevel.Degree.ToString();
    }
}
<span>@text</span>