@model string
<details>
    <summary>Add comment on vacancy</summary>
    <div class="detail-content">
        <div class="blocklabel-single-container">
            @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, new { @class = "form-control", placeholder = ViewData.ModelMetadata.Watermark ?? ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName })
        </div>
    </div>
</details>