@model string

@{
    var state = string.IsNullOrWhiteSpace(Model) ? string.Empty : "open";
}

<style>
    .qa-comment {
        background: yellow;
        padding: 20px;   
    }
</style>
<details @state>
    <summary>Comment</summary>
    <div class="detail-content qa-comment">
        <div>QA Comment</div>
        <div class="blocklabel-single-container">
            @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, new {@class = "form-control"})
        </div>
    </div>
</details>