@model string

@{
    var state = string.IsNullOrWhiteSpace(Model) ? string.Empty : "open";
}

<details class="@state" @state>
    <summary>@ViewData["Label"]</summary>
    <div class="detail-content qa-comment">
        <div class="blocklabel-single-container">
            @Html.TextAreaFor(m => m, new { @class = "form-control form-control-3-4 form-textarea-medium", type = "text" })
        </div>
    </div>
</details>