<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:nlog="http://www.nlog-project.org/schemas/NLog.xsd">
  <appSettings>
    <add key="Environment" value="DEMO" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ida:Wtrealm" value="http://sfa-manage-demo.cloudapp.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ida:SessionTimeout" value="60" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="RedirectToHTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Custom" xdt:Transform="SetAttributes(errorMode)"></httpErrors>
  </system.webServer>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <variable name="environment" value="DEMO" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)"/>
    <targets xdt:Transform="Replace">
      <target name="fallbacklogger" xsi:type="RabbitMQTarget" QueueName="SFA.Logging" ExchangeName="SFA.Logging" ExchangeType="topic" RoutingKey="SFA.Apprenticeships.Web.Manage.{0}" AppId="SFA.Apprenticeships.Web.Manage">
        <layout xsi:type="JsonLayout">
          <property name="user" layout="${mdlc:userId}" />
          <property name="session" layout="${mdlc:sessionId}" />
          <property name="application" layout="SFA.Apprenticeships.Web.Manage" />
          <property name="environment" layout="${environment}" />
          <property name="version" layout="${gdc:item=version}" />
          <property name="date" layout="${longdate}" />
          <property name="level" layout="${level:upperCase=true}" />
          <property name="logger" layout="${logger}" />
          <property name="machinename" layout="${machinename}" />
          <property name="processname" layout="${processname}" />
          <property name="message" layout="${message}" />
          <property name="exception" layout="${onexception:${exception:format=tostring}}" />
          <property name="errordata" layout="${onexception:${exception:format=data}}" />
          <property name="errorcode" layout="${event-context:item=ErrorCode}" />
          <property name="stacktrace" layout="${onexception:${stacktrace:tostring}}" />
          <property name="ticks" layout="${ticks}" />
          <property name="processid" layout="${processid}" />
          <property name="useragent" layout="${mdlc:UserAgent}" />
          <property name="referrer" layout="${mdlc:UrlReferrer}" />
          <property name="userlanguages" layout="${mdlc:UserLanguages}" />
          <property name="currentculture" layout="${mdlc:CurrentCulture}" />
          <property name="currentuiculture" layout="${mdlc:CurrentUICulture}" />
          <property name="headers" layout="${mdlc:Headers}" />
          <property name="requestGuid" layout="${mdlc:requestGuid}" />
          <property name="headersLogged" layout="${mdlc:headersLogged}" />
        </layout>
      </target>
      <target xsi:type="ApplicationInsightsTarget" name="aiTarget" />
    </targets>
    <rules xdt:Transform="Replace">
      <logger name="*" minlevel="Info" writeTo="fallbacklogger" />
      <logger name="*" minlevel="Trace" writeTo="aiTarget" />
    </rules>
  </nlog>
</configuration>