@model MonitoringInformationViewModel

<div class="form-group inline clearfix">
    <p class="form-label" id="disability-label">What is your ethnic group?</p>
    <p class="form-hint text">
        We need this information to make sure we're giving equal opportunities
        to all candidates
    </p>
    <select id="ethnicity-dropdown" name="MonitoringInformation.Ethnicity" class="para-btm-margin">
        <option value="0">-- Please select --</option>
        <option value="99">Prefer not to say</option>
        <optgroup label="White">
            <option value="31">English/Welsh/Scottish/Northern Irish/British</option>
            <option value="32">Irish</option>
            <option value="33">Gypsy or Irish Traveller</option>
            <option value="34">Other White background</option>
        </optgroup>
        <optgroup label="Mixed/Multiple ethnic groups">
            <option value="35">White and Black Caribbean</option>
            <option value="36">White and Black African</option>
            <option value="37">White and Asian</option>
            <option value="38">Other mixed/multiple ethnic background</option>
        </optgroup>
        <optgroup label="Asian/Asian British">
            <option value="39">Indian</option>
            <option value="40">Pakistani</option>
            <option value="41">Bangladeshi</option>
            <option value="42">Chinese</option>
            <option value="43">Other Asian background</option>
        </optgroup>
        <optgroup label="Black/African/Caribbean/Black British">
            <option value="44">African</option>
            <option value="45">Caribbean</option>
            <option value="46">Other Black/African/Caribbean background</option>
        </optgroup>
        <optgroup label="Other ethnic group">
            <option value="47">Arab</option>
            <option value="98">Other ethnic group</option>
        </optgroup>
    </select>
</div>