@model MonitoringInformationViewModel

<div class="form-group inline clearfix">
    <p class="form-label" id="disability-label">What is your ethnic group?</p>
    <p class="form-hint text">
        We need this information to make sure we're giving equal opportunities
        to all candidates
    </p>
    <select name="" id="" class="para-btm-margin">
        <option value="">-- Please select --</option>
        <option value="">Prefer not to say</option>
        <optgroup label="White">
            <option value="">English/Welsh/Scottish/Northern Irish/British</option>
            <option value="">Irish</option>
            <option value="">Gypsy or Irish Traveller</option>
            <option value="">Other White background</option>
        </optgroup>
        <optgroup label="Mixed/Multiple ethnic groups">
            <option value="">White and Black Caribbean</option>
            <option value="">White and Black African</option>
            <option value="">White and Asian</option>
            <option value="">Other mixed/multiple ethnic background</option>
        </optgroup>
        <optgroup label="Asian/Asian British">
            <option value="">Indian</option>
            <option value="">Pakistani</option>
            <option value="">Bangladeshi</option>
            <option value="">Chinese</option>
            <option value="">Other Asian background</option>
        </optgroup>
        <optgroup label="Black/African/Caribbean/Black British">
            <option value="">African</option>
            <option value="">Caribbean</option>
            <option value="">Other Black/African/Caribbean background</option>
        </optgroup>
        <optgroup label="Other ethnic group">
            <option value="">Arab</option>
            <option value="">Other ethnic group</option>
        </optgroup>
    </select>
</div>
