@model MonitoringInformationViewModel

<div class="form-group inline clearfix">
    <p class="form-label" id="gender-label">Are you?</p>
    <label for="gender-male" class="block-label">
        <input name="gender" type="radio" id="gender-male" aria-labelledby="gender-label">Male
    </label>
    <label for="gender-female" class="block-label">
        <input name="gender" type="radio" id="gender-female" aria-labelledby="gender-label">Female
    </label>
    <label for="gender-other" class="block-label">
        <input name="gender" type="radio" id="gender-other" aria-labelledby="gender-label">Other
    </label>
    <label for="gender-no" class="block-label">
        <input name="gender" type="radio" id="gender-no" aria-labelledby="gender-label">Prefer not to say
    </label>
</div>
