<div class="form-group">
    <details>
        <summary><span class="summary">Why are we asking all these questions?</span></summary>
        <div class="panel panel-border-narrow">
            <p>
                The Skills Funding Agency aims to make apprenticeships and
                traineeships inclusive. Learning more about you will help
                us do this and meet our obligations under the Equality
                Act 2010.
            </p>
            <p>
                You don’t have to answer the questions, but the information
                allows us to make the application process easier.
            </p>
            <p>
                Your answers will be treated in confidence and are covered
                by the Data Protection Act 1998.
            </p>
            <p>
                Answering the questions may lead to a guaranteed interview
                if you are disabled and the employer is a member of the
                Two Ticks scheme.
            </p>
        </div>
    </details>
</div>
