@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.Apprenticeship.ApprenticeshipApplicationViewModel

@{
    ViewBag.Title = "SentDecisionConfirmation";
}

<h2>SentDecisionConfirmation</h2>

<div class="success-banner">
    <h1 class="heading-large no-btm-margin">
        <i class="fa fa-check"></i>
        <span>@Model.ConfirmationSentMessage resubmitted for approval</span>
                
    </h1>
</div>