@using SFA.Apprenticeships.Web.Manage.Constants
@{
    ViewBag.Title = "Manage an Apprentice";
}

<div class="grid-wrapper">
    <section class="grid grid-2-3">
        <div class="inner-block-padr">
            <h1 class="heading-xlarge">
                Recruitment
            </h1>
            <p>
                Review vacancies, search for providers, search for candidates...
            </p>
            <div class="get-started form-group">
                <a href="@Url.RouteUrl(ManagementRouteNames.SignIn)" class="button">Agency</a>
            </div>
        </div>
    </section>
    <section class="grid grid-1-3 gov-border">
        <br>
        <ul class="list-text">
            <li>
                <a href="/recruitment/info-expect-from-employer.html">Responsibilities of the employer</a>
            </li>
            <li>
                <a href="/recruitment/info-whos-involved.html">Who's involved in an apprenticeship?</a>
            </li>
            <li>
                <a href="/recruitment/info-expect-from-apprentice.html">What to expect from your apprentice</a>
            </li>
            <li>
                <a href="/recruitment/info-expect-from-provider.html">Responsibilities of the provider</a>
            </li>
            <li>
                <a href="/recruitment/info-payments-and-funding.html">Payments and funding</a>
            </li>
            <li>
                <a href="/recruitment/info-six-steps.html">How to employ an apprentice</a>
            </li>
        </ul>
    </section>
</div>
