<?xml version="1.0" encoding="utf-8" ?>
<dataCacheClients>
  <dataCacheClient name="nascache">
    <!--To use the in-role flavor of Windows Azure Cache, set identifier to be the cache cluster role name -->
    <!--To use the Windows Azure Cache Service, set identifier to be the endpoint of the cache cluster -->
    <autoDiscover isEnabled="true" identifier="nascache.cache.windows.net" />
    <!--<localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" />-->
    <!--Use this section to specify security settings for connecting to your cache. This section is not required if your cache is hosted on a role that is a part of your cloud service. -->
    <securityProperties mode="Message" sslEnabled="true">
      <messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vbmFzY2FjaGU2MzIxLWNhY2hlLmFjY2Vzc2NvbnRyb2wud2luZG93cy5uZXQvL1dSQVB2MC45LyZvd25lciZweHh0Nm5UOGltRGI5WjNHRXNIVGVnWWRheWI5MnR2Mk5DeSs1SU9rSmM4PSZodHRwOi8vbmFzY2FjaGUuY2FjaGUud2luZG93cy5uZXQv" />
    </securityProperties>
  </dataCacheClient>
</dataCacheClients>
