<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- LOCAL CONFIG -->
    <appSettings>
        <add key="ConfigurationStorageConnectionString" value="UseDevelopmentStorage=true" />
        <add key="ConfigurationEventHubLogConnectionString" value="UNSET" />
    </appSettings>	
</configuration>