<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- DEV CONFIG -->
  <appSettings>
    <add key="ConfigurationStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=2dev;AccountKey=ChogkZ0DFs3Bq697ypD+EQ9n+emELazh4rX987+2fbJQxGzE5qrdw+XHjD2ljd1s3vgjr1KtCb3fTxmw67S4tQ==" />
    <add key="ConfigurationEventHubLogConnectionString" value="Endpoint=sb://nasdevbus.servicebus.windows.net/;SharedAccessKeyName=Send;SharedAccessKey=zb3lhda3MifyAutBdkwe1e4dAyu1b9h9ESr874ovna0=;TransportType=Amqp" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NASLegacyGateway"
					sendTimeout="00:05:00"
					maxBufferSize="2147483647"
					maxBufferPoolSize="2147483647"
					maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647"
						maxStringContentLength="2147483647"
						maxArrayLength="2147483647" maxBytesPerRead="2147483647"
						maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="SFABasicHttpBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="EmployerDataServiceBinding"
					maxReceivedMessageSize="2147483647">
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="GatewayCertificate">
          <clientCredentials>
            <clientCertificate findValue="1016B535C17DF3F7AE66C7F6D2E339AADB734D7B" storeName="My" storeLocation="LocalMachine" x509FindType="FindByThumbprint"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://sfa-apprenticeships-pre-test-service.cloudapp.net/Services/Dev.svc"
				binding="basicHttpBinding" bindingConfiguration="NASLegacyGateway"
				contract="GatewayServiceProxy.GatewayServiceContract" name="SecureService" />

      <endpoint address="https://apprenticeshipvacancymatchingservice.lsc.gov.uk/Services/ReferenceData/ReferenceData51.svc"
          binding="basicHttpBinding" bindingConfiguration="SFABasicHttpBinding"
          contract="LegacyReferenceDataProxy.IReferenceData" name="ReferenceData" />

      <endpoint address="http://services.edrs.lsc.gov.uk/lookup17.asmx"
				binding="basicHttpBinding" bindingConfiguration="EmployerDataServiceBinding"
				contract="EmployerDataService.EmployerLookupSoap" name="EmployerDataService" />
    </client>
  </system.serviceModel>
</configuration>