@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy.CommentViewModel
    
@if (Model.HasComment && Model.Status.IsStateReviewable())
{
    <a href="@Model.ViewCommentUrl">        
        <img src="~/Content/_assets/img/bubble.svg" class="raa-icon-comment-img" alt="there are comments" />
    </a>
}
