@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy.CommentViewModel
    
@if (Model.HasComment && Model.Status.IsStateReviewable())
{
    <a href="@Model.ViewCommentUrl">
        @*<i class="fa fa-comment the-icon raa-icon-comment" title="there are comments"><span class="visuallyhidden">there are comments</span></i>*@
        <img src="~/Content/_assets/img/bubble.svg" class="raa-icon-comment" alt="there are comments" />
    </a>
}
