@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy.EditLinkViewModel

<a name="@Model.AnchorName"></a>
@if (Model.Status.IsStateReviewable())
{
    <a href="@Model.EditUrl" class="edit-comment-link">Edit/comment</a>
}