@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@model ValidationResultViewModel

<a name="@Model.AnchorName"></a>
@if (Model.Status.IsStateReviewable())
{
    if (Model.HasWarning)
    {
        <a href="@Model.ViewValidationResultUrl">
            <i class="fa fa-flag the-icon" title="@Model.Warning"></i>
        </a>
    }
    else if (!Model.HasError)
    {
        <img src="~/Content/_assets/img/checkmark.svg" class="raa-icon-checkmark-img"/>
    }
}

@Html.Partial(CommentViewModel.PartialIconView, Model.CommentViewModel)