@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@model ValidationResultViewModel

@if (Model.Status.IsStateReviewable())
{
    <a name="@Model.AnchorName"></a>
    if (Model.HasWarning)
    {
        <a href="@Model.ViewValidationResultUrl"><i class="fa fa-flag the-icon" title="@Model.Warning"></i></a>
    }
    else
    {
        <i class="fa fa-check the-icon"></i>
    }
}

@Html.Partial(CommentViewModel.PartialIconView, Model.CommentViewModel)