@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

<div class="grid-wrapper">
    <div class="grid grid-1-2">
        <label class="heading-xlarge" id="ThankYouLabel">Thank You</label>
    </div>
</div>
