@using SFA.Apprenticeships.Web.Recruit.Constants
@{
    ViewBag.Title = "Service unavailable";
}
<p>
    Sorry, there appears to be an error with this page. Please refresh your browser or try navigating to <a href="@Url.RouteUrl(RecruitmentRouteNames.RecruitmentHome)">Recruitment home</a>.
</p>
