@using SFA.Apprenticeships.Web.Recruit.Constants
@{
    ViewBag.Title = "Vacancy no longer available - Find an apprenticeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 class="heading-xlarge">Vacancy no longer available</h1>
</div>

<div>
    <p>The vacancy you’re looking for is no longer available.</p>
</div>

<p><a href="@Url.RouteUrl(RecruitmentRouteNames.RecruitmentHome)">Recruitment home</a></p>
