/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[Campaign](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[exchangerate] [numeric](23, 10) NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[timezoneruleversionnumber] [int] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[utcconversiontimezonecode] [int] NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL,
	[actualend] [datetime] NULL,
	[actualendutc] [datetime] NULL,
	[actualstart] [datetime] NULL,
	[actualstartutc] [datetime] NULL,
	[budgetedcost] [money] NULL,
	[budgetedcost_base] [money] NULL,
	[campaignid] [uniqueidentifier] NULL,
	[codename] [nvarchar](32) NULL,
	[description] [ntext] NULL,
	[expectedresponse] [int] NULL,
	[expectedrevenue] [money] NULL,
	[expectedrevenue_base] [money] NULL,
	[importsequencenumber] [int] NULL,
	[istemplate] [bit] NULL,
	[istemplatename] [nvarchar](255) NULL,
	[message] [nvarchar](256) NULL,
	[name] [nvarchar](128) NULL,
	[objective] [ntext] NULL,
	[othercost] [money] NULL,
	[othercost_base] [money] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneriddsc] [int] NULL,
	[owneridname] [nvarchar](160) NULL,
	[owneridtype] [int] NULL,
	[owneridyominame] [nvarchar](160) NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[pricelistdsc] [int] NULL,
	[pricelistid] [uniqueidentifier] NULL,
	[pricelistname] [nvarchar](100) NULL,
	[promotioncodename] [nvarchar](128) NULL,
	[proposedend] [datetime] NULL,
	[proposedendutc] [datetime] NULL,
	[proposedstart] [datetime] NULL,
	[proposedstartutc] [datetime] NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](255) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[totalactualcost] [money] NULL,
	[totalactualcost_base] [money] NULL,
	[totalcampaignactivityactualcost] [money] NULL,
	[totalcampaignactivityactualcost_base] [money] NULL,
	[typecode] [int] NULL,
	[typecodename] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]