/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[Contract](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[exchangerate] [numeric](23, 10) NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[timezoneruleversionnumber] [int] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[utcconversiontimezonecode] [int] NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL,
	[importsequencenumber] [int] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneriddsc] [int] NULL,
	[owneridname] [nvarchar](160) NULL,
	[owneridtype] [int] NULL,
	[owneridyominame] [nvarchar](160) NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](255) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[accountid] [uniqueidentifier] NULL,
	[accountiddsc] [int] NULL,
	[accountidname] [nvarchar](160) NULL,
	[accountidyominame] [nvarchar](160) NULL,
	[activeon] [datetime] NULL,
	[activeonutc] [datetime] NULL,
	[allotmenttypecode] [int] NULL,
	[allotmenttypecodename] [nvarchar](255) NULL,
	[billingaccountid] [uniqueidentifier] NULL,
	[billingaccountiddsc] [int] NULL,
	[billingaccountidname] [nvarchar](160) NULL,
	[billingaccountidyominame] [nvarchar](160) NULL,
	[billingcontactid] [uniqueidentifier] NULL,
	[billingcontactiddsc] [int] NULL,
	[billingcontactidname] [nvarchar](160) NULL,
	[billingcontactidyominame] [nvarchar](450) NULL,
	[billingcustomerid] [uniqueidentifier] NULL,
	[billingcustomeriddsc] [int] NULL,
	[billingcustomeridname] [nvarchar](160) NULL,
	[billingcustomeridtype] [int] NULL,
	[billingcustomeridyominame] [nvarchar](450) NULL,
	[billingendon] [datetime] NULL,
	[billingendonutc] [datetime] NULL,
	[billingfrequencycode] [int] NULL,
	[billingfrequencycodename] [nvarchar](255) NULL,
	[billingstarton] [datetime] NULL,
	[billingstartonutc] [datetime] NULL,
	[billtoaddress] [uniqueidentifier] NULL,
	[billtoaddressdsc] [int] NULL,
	[billtoaddressname] [nvarchar](200) NULL,
	[cancelon] [datetime] NULL,
	[cancelonutc] [datetime] NULL,
	[contactid] [uniqueidentifier] NULL,
	[contactiddsc] [int] NULL,
	[contactidname] [nvarchar](160) NULL,
	[contactidyominame] [nvarchar](450) NULL,
	[contractid] [uniqueidentifier] NULL,
	[contractlanguage] [ntext] NULL,
	[contractnumber] [nvarchar](100) NULL,
	[contractservicelevelcode] [int] NULL,
	[contractservicelevelcodename] [nvarchar](255) NULL,
	[contracttemplateabbreviation] [nvarchar](20) NULL,
	[contracttemplateid] [uniqueidentifier] NULL,
	[contracttemplateiddsc] [int] NULL,
	[contracttemplateidname] [nvarchar](100) NULL,
	[customerid] [uniqueidentifier] NULL,
	[customeriddsc] [int] NULL,
	[customeridname] [nvarchar](160) NULL,
	[customeridtype] [int] NULL,
	[duration] [int] NULL,
	[effectivitycalendar] [nvarchar](168) NULL,
	[expireson] [datetime] NULL,
	[expiresonutc] [datetime] NULL,
	[netprice] [money] NULL,
	[netprice_base] [money] NULL,
	[originatingcontract] [uniqueidentifier] NULL,
	[originatingcontractdsc] [int] NULL,
	[originatingcontractname] [nvarchar](100) NULL,
	[owningteam] [uniqueidentifier] NULL,
	[serviceaddress] [uniqueidentifier] NULL,
	[serviceaddressdsc] [int] NULL,
	[serviceaddressname] [nvarchar](200) NULL,
	[title] [nvarchar](100) NULL,
	[totaldiscount] [money] NULL,
	[totaldiscount_base] [money] NULL,
	[totalprice] [money] NULL,
	[totalprice_base] [money] NULL,
	[usediscountaspercentage] [bit] NULL,
	[usediscountaspercentagename] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]