/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[QuarterlyFiscalCalendar](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[timezoneruleversionnumber] [int] NULL,
	[utcconversiontimezonecode] [int] NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[exchangerate] [numeric](23, 10) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL,
	[businessunitid] [uniqueidentifier] NULL,
	[businessunitiddsc] [int] NULL,
	[businessunitidname] [nvarchar](160) NULL,
	[effectiveon] [datetime] NULL,
	[effectiveonutc] [datetime] NULL,
	[fiscalperiodtype] [int] NULL,
	[quarter1] [money] NULL,
	[quarter1_base] [money] NULL,
	[quarter2] [money] NULL,
	[quarter2_base] [money] NULL,
	[quarter3] [money] NULL,
	[quarter3_base] [money] NULL,
	[quarter4] [money] NULL,
	[quarter4_base] [money] NULL,
	[salespersonid] [uniqueidentifier] NULL,
	[salespersoniddsc] [int] NULL,
	[salespersonidname] [nvarchar](160) NULL,
	[salespersonidyominame] [nvarchar](160) NULL,
	[userfiscalcalendarid] [uniqueidentifier] NULL
) ON [PRIMARY]