/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[OpportunityClose](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[activityid] [uniqueidentifier] NULL,
	[actualdurationminutes] [int] NULL,
	[actualend] [datetime] NULL,
	[actualendutc] [datetime] NULL,
	[actualrevenue] [money] NULL,
	[actualrevenue_base] [money] NULL,
	[actualstart] [datetime] NULL,
	[actualstartutc] [datetime] NULL,
	[category] [nvarchar](250) NULL,
	[competitorid] [uniqueidentifier] NULL,
	[competitoriddsc] [int] NULL,
	[competitoridname] [nvarchar](100) NULL,
	[competitoridyominame] [nvarchar](100) NULL,
	[description] [ntext] NULL,
	[exchangerate] [numeric](23, 10) NULL,
	[importsequencenumber] [int] NULL,
	[isbilled] [bit] NULL,
	[isbilledname] [nvarchar](255) NULL,
	[isworkflowcreated] [bit] NULL,
	[isworkflowcreatedname] [nvarchar](255) NULL,
	[opportunityid] [uniqueidentifier] NULL,
	[opportunityiddsc] [int] NULL,
	[opportunityidname] [nvarchar](400) NULL,
	[opportunityidtype] [int] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneriddsc] [int] NULL,
	[owneridname] [nvarchar](160) NULL,
	[owneridtype] [int] NULL,
	[owneridyominame] [nvarchar](160) NULL,
	[scheduleddurationminutes] [int] NULL,
	[scheduledend] [datetime] NULL,
	[scheduledendutc] [datetime] NULL,
	[scheduledstart] [datetime] NULL,
	[scheduledstartutc] [datetime] NULL,
	[serviceid] [uniqueidentifier] NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](255) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[subcategory] [nvarchar](250) NULL,
	[subject] [nvarchar](200) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[utcconversiontimezonecode] [int] NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]