/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[Opportunity](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[description] [nvarchar](max) NULL,
	[importsequencenumber] [int] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneriddsc] [int] NULL,
	[owneridname] [nvarchar](160) NULL,
	[owneridtype] [int] NULL,
	[owneridyominame] [nvarchar](160) NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](255) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[utcconversiontimezonecode] [int] NULL,
	[prioritycode] [int] NULL,
	[prioritycodename] [nvarchar](255) NULL,
	[accountid] [uniqueidentifier] NULL,
	[accountiddsc] [int] NULL,
	[accountidname] [nvarchar](160) NULL,
	[accountidyominame] [nvarchar](160) NULL,
	[actualclosedate] [datetime] NULL,
	[actualclosedateutc] [datetime] NULL,
	[actualvalue] [money] NULL,
	[actualvalue_base] [money] NULL,
	[campaignid] [uniqueidentifier] NULL,
	[campaigniddsc] [int] NULL,
	[campaignidname] [nvarchar](128) NULL,
	[closeprobability] [int] NULL,
	[contactid] [uniqueidentifier] NULL,
	[contactiddsc] [int] NULL,
	[contactidname] [nvarchar](160) NULL,
	[contactidyominame] [nvarchar](450) NULL,
	[customerid] [uniqueidentifier] NULL,
	[customeriddsc] [int] NULL,
	[customeridname] [nvarchar](160) NULL,
	[customeridtype] [int] NULL,
	[customeridyominame] [nvarchar](450) NULL,
	[estimatedclosedate] [datetime] NULL,
	[estimatedclosedateutc] [datetime] NULL,
	[estimatedvalue] [money] NULL,
	[estimatedvalue_base] [money] NULL,
	[exchangerate] [decimal](23, 10) NULL,
	[isprivatename] [nvarchar](255) NULL,
	[isrevenuesystemcalculated] [bit] NULL,
	[isrevenuesystemcalculatedname] [nvarchar](255) NULL,
	[lsc_opportunitytype] [int] NULL,
	[lsc_opportunitytypename] [nvarchar](255) NULL,
	[lsc_potentialvolumeofapprentices] [nvarchar](50) NULL,
	[name] [nvarchar](300) NULL,
	[opportunityid] [uniqueidentifier] NULL,
	[opportunityratingcode] [int] NULL,
	[opportunityratingcodename] [nvarchar](255) NULL,
	[originatingleadid] [uniqueidentifier] NULL,
	[originatingleadiddsc] [int] NULL,
	[originatingleadidname] [nvarchar](160) NULL,
	[originatingleadidyominame] [nvarchar](450) NULL,
	[owningteam] [uniqueidentifier] NULL,
	[participatesinworkflow] [bit] NULL,
	[participatesinworkflowname] [nvarchar](255) NULL,
	[pricelevelid] [uniqueidentifier] NULL,
	[priceleveliddsc] [int] NULL,
	[pricelevelidname] [nvarchar](100) NULL,
	[pricingerrorcode] [int] NULL,
	[pricingerrorcodename] [nvarchar](255) NULL,
	[salesstagecode] [int] NULL,
	[salesstagecodename] [nvarchar](255) NULL,
	[stepid] [uniqueidentifier] NULL,
	[stepname] [nvarchar](200) NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL,
	[lsc_apprenticeshiprequiredid] [uniqueidentifier] NULL,
	[lsc_apprenticeshiprequirediddsc] [int] NULL,
	[lsc_apprenticeshiprequiredidname] [nvarchar](100) NULL,
	[lsc_ilr] [nvarchar](20) NULL,
	[lsc_total_volume_apprenticeships] [int] NULL,
	[lsc_volume_apprenticeships_16_18] [int] NULL,
	[lsc_volume_apprenticeships_19_24] [int] NULL,
	[lsc_volume_apprenticeships_25plus] [int] NULL,
	[lsc_actualopportunitycreated] [datetime] NULL,
	[lsc_actualopportunitycreatedutc] [datetime] NULL,
	[lsc_actualproviderreferreddate] [datetime] NULL,
	[lsc_actualproviderreferreddateutc] [datetime] NULL,
	[lsc_actualproviderselected] [datetime] NULL,
	[lsc_actualproviderselectedutc] [datetime] NULL,
	[lsc_agreedstartdate] [datetime] NULL,
	[lsc_agreedstartdateutc] [datetime] NULL,
	[lsc_apprenticeshiplevel] [int] NULL,
	[lsc_apprenticeshiplevelname] [nvarchar](255) NULL,
	[lsc_av_reasons] [int] NULL,
	[lsc_av_reasonsname] [nvarchar](255) NULL,
	[lsc_avol] [bit] NULL,
	[lsc_avolname] [nvarchar](255) NULL,
	[lsc_emploercontactid] [uniqueidentifier] NULL,
	[lsc_emploercontactiddsc] [int] NULL,
	[lsc_emploercontactidname] [nvarchar](160) NULL,
	[lsc_emploercontactidyominame] [nvarchar](160) NULL,
	[lsc_employeestartdate] [datetime] NULL,
	[lsc_employeestartdateutc] [datetime] NULL,
	[lsc_employercontactid] [uniqueidentifier] NULL,
	[lsc_employercontactiddsc] [int] NULL,
	[lsc_employercontactidname] [nvarchar](160) NULL,
	[lsc_employercontactidyominame] [nvarchar](450) NULL,
	[lsc_estproviderselecteddate] [datetime] NULL,
	[lsc_estproviderselecteddateutc] [datetime] NULL,
	[lsc_esttotalvolumeofapprentices] [int] NULL,
	[lsc_estvolumeofapprentices1618] [int] NULL,
	[lsc_estvolumeofapprentices1914] [int] NULL,
	[lsc_estvolumeofapprentices25] [int] NULL,
	[lsc_estvolumeofapprenticesagenotknown] [int] NULL,
	[lsc_neworexistingrole] [int] NULL,
	[lsc_neworexistingrolename] [nvarchar](255) NULL,
	[lsc_pathwayid] [uniqueidentifier] NULL,
	[lsc_pathwayiddsc] [int] NULL,
	[lsc_pathwayidname] [nvarchar](200) NULL,
	[lsc_potentialavol] [bit] NULL,
	[lsc_potentialavolname] [nvarchar](255) NULL,
	[lsc_potentialavolreasons] [int] NULL,
	[lsc_potentialavolreasonsname] [nvarchar](255) NULL,
	[lsc_referredto] [int] NULL,
	[lsc_referredtobroker] [bit] NULL,
	[lsc_referredtobrokername] [nvarchar](255) NULL,
	[lsc_referredtoname] [nvarchar](255) NULL,
	[lsc_region] [uniqueidentifier] NULL,
	[lsc_regiondsc] [int] NULL,
	[lsc_regionname] [nvarchar](200) NULL,
	[lsc_sectortier1] [int] NULL,
	[lsc_sectortier1name] [nvarchar](255) NULL,
	[lsc_sectortier2] [int] NULL,
	[lsc_sectortier2name] [nvarchar](255) NULL,
	[lsc_specifyunknownsector] [nvarchar](100) NULL,
	[lsc_av] [int] NULL,
	[lsc_avname] [nvarchar](255) NULL,
	[lsc_divisionid] [uniqueidentifier] NULL,
	[lsc_divisioniddsc] [int] NULL,
	[lsc_divisionidname] [nvarchar](100) NULL,
	[lsc_pipelineragrating] [int] NULL,
	[lsc_pipelineragratingname] [nvarchar](255) NULL,
	[lsc_potentialav] [int] NULL,
	[lsc_potentialavname] [nvarchar](255) NULL,
	[LSC_Funded] [bit] NULL,
	[lsc_apprenticeshiportraineeshipopportunity] [bit] NULL,
	[LSC_FundingOptionIdDsc] [int] NULL,
	[LSC_FundingOptionIdName] [nvarchar](100) NULL,
	[LSC_SectorTier1IdDsc] [int] NULL,
	[LSC_SectorTier1IdName] [nvarchar](255) NULL,
	[LSC_SectorTier2IdDsc] [int] NULL,
	[LSC_SectorTier2IdName] [nvarchar](255) NULL,
	[LSC_FundingOptionId] [uniqueidentifier] NULL,
	[LSC_SectorTier1Id] [uniqueidentifier] NULL,
	[LSC_SectorTier2Id] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]