/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[Product](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[description] [nvarchar](500) NULL,
	[importsequencenumber] [int] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](255) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[utcconversiontimezonecode] [int] NULL,
	[exchangerate] [numeric](23, 10) NULL,
	[name] [nvarchar](300) NULL,
	[pricelevelid] [uniqueidentifier] NULL,
	[priceleveliddsc] [int] NULL,
	[pricelevelidname] [nvarchar](100) NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL,
	[currentcost] [money] NULL,
	[currentcost_base] [money] NULL,
	[defaultuomid] [uniqueidentifier] NULL,
	[defaultuomiddsc] [int] NULL,
	[defaultuomidname] [nvarchar](100) NULL,
	[defaultuomscheduleid] [uniqueidentifier] NULL,
	[defaultuomscheduleiddsc] [int] NULL,
	[defaultuomscheduleidname] [nvarchar](200) NULL,
	[iskit] [bit] NULL,
	[iskitname] [nvarchar](255) NULL,
	[isstockitem] [bit] NULL,
	[isstockitemname] [nvarchar](255) NULL,
	[organizationid] [uniqueidentifier] NULL,
	[organizationiddsc] [int] NULL,
	[organizationidname] [nvarchar](160) NULL,
	[price] [money] NULL,
	[price_base] [money] NULL,
	[productid] [uniqueidentifier] NULL,
	[productnumber] [nvarchar](100) NULL,
	[producttypecode] [int] NULL,
	[producttypecodename] [nvarchar](255) NULL,
	[producturl] [nvarchar](255) NULL,
	[quantitydecimal] [int] NULL,
	[quantityonhand] [numeric](23, 10) NULL,
	[size] [nvarchar](200) NULL,
	[standardcost] [money] NULL,
	[standardcost_base] [money] NULL,
	[stockvolume] [numeric](23, 10) NULL,
	[stockweight] [numeric](23, 10) NULL,
	[subjectid] [uniqueidentifier] NULL,
	[subjectiddsc] [int] NULL,
	[subjectidname] [nvarchar](500) NULL,
	[suppliername] [nvarchar](100) NULL,
	[vendorname] [nvarchar](100) NULL,
	[vendorpartnumber] [nvarchar](100) NULL
) ON [PRIMARY]