/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[campaignresponse](
	[activityid] [uniqueidentifier] NULL,
	[actualdurationminutes] [int] NULL,
	[actualend] [datetime] NULL,
	[actualendutc] [datetime] NULL,
	[actualstart] [datetime] NULL,
	[actualstartutc] [datetime] NULL,
	[category] [nvarchar](250) NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[description] [ntext] NULL,
	[importsequencenumber] [int] NULL,
	[isbilled] [bit] NULL,
	[isbilledname] [nvarchar](255) NULL,
	[isworkflowcreated] [bit] NULL,
	[isworkflowcreatedname] [nvarchar](255) NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneriddsc] [int] NULL,
	[owneridname] [nvarchar](160) NULL,
	[owneridtype] [int] NULL,
	[owneridyominame] [nvarchar](160) NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[prioritycode] [int] NULL,
	[prioritycodename] [nvarchar](255) NULL,
	[regardingobjectid] [uniqueidentifier] NULL,
	[regardingobjectiddsc] [int] NULL,
	[regardingobjectidname] [nvarchar](400) NULL,
	[regardingobjectidyominame] [nvarchar](400) NULL,
	[regardingobjecttypecode] [int] NULL,
	[scheduleddurationminutes] [int] NULL,
	[scheduledend] [datetime] NULL,
	[scheduledendutc] [datetime] NULL,
	[scheduledstart] [datetime] NULL,
	[scheduledstartutc] [datetime] NULL,
	[serviceid] [uniqueidentifier] NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](255) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[subcategory] [nvarchar](250) NULL,
	[subject] [nvarchar](200) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[utcconversiontimezonecode] [int] NULL,
	[channeltypecode] [int] NULL,
	[channeltypecodename] [nvarchar](255) NULL,
	[companyname] [nvarchar](100) NULL,
	[emailaddress] [nvarchar](100) NULL,
	[fax] [nvarchar](50) NULL,
	[firstname] [nvarchar](50) NULL,
	[lastname] [nvarchar](50) NULL,
	[originatingactivitydsc] [int] NULL,
	[originatingactivityid] [uniqueidentifier] NULL,
	[originatingactivityidtypecode] [int] NULL,
	[originatingactivityname] [nvarchar](200) NULL,
	[promotioncodename] [nvarchar](250) NULL,
	[receivedon] [datetime] NULL,
	[receivedonutc] [datetime] NULL,
	[responsecode] [int] NULL,
	[responsecodename] [nvarchar](255) NULL,
	[telephone] [nvarchar](50) NULL,
	[yomicompanyname] [nvarchar](100) NULL,
	[yomifirstname] [nvarchar](150) NULL,
	[yomilastname] [nvarchar](150) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]