/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[ResourceSpec](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[businessunitid] [uniqueidentifier] NULL,
	[businessunitiddsc] [int] NULL,
	[businessunitidname] [nvarchar](160) NULL,
	[constraints] [ntext] NULL,
	[description] [ntext] NULL,
	[effortrequired] [float] NULL,
	[groupobjectid] [uniqueidentifier] NULL,
	[name] [nvarchar](160) NULL,
	[objectiveexpression] [ntext] NULL,
	[objecttypecode] [int] NULL,
	[objecttypecodename] [nvarchar](255) NULL,
	[organizationid] [uniqueidentifier] NULL,
	[organizationiddsc] [int] NULL,
	[organizationidname] [nvarchar](160) NULL,
	[requiredcount] [int] NULL,
	[resourcespecid] [uniqueidentifier] NULL,
	[samesite] [bit] NULL,
	[samesitename] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]