/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[CustomerRelationship](
	[converserelationshipid] [uniqueidentifier] NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[customerid] [uniqueidentifier] NULL,
	[customeriddsc] [int] NULL,
	[customeridname] [nvarchar](160) NULL,
	[customeridtype] [int] NULL,
	[customeridyominame] [nvarchar](450) NULL,
	[customerrelationshipid] [uniqueidentifier] NULL,
	[customerroledescription] [ntext] NULL,
	[customerroleid] [uniqueidentifier] NULL,
	[customerroleiddsc] [int] NULL,
	[customerroleidname] [nvarchar](100) NULL,
	[importsequencenumber] [int] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneriddsc] [int] NULL,
	[owneridname] [nvarchar](160) NULL,
	[owneridtype] [int] NULL,
	[owneridyominame] [nvarchar](160) NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[partnerid] [uniqueidentifier] NULL,
	[partneriddsc] [int] NULL,
	[partneridname] [nvarchar](160) NULL,
	[partneridtype] [int] NULL,
	[partneridyominame] [nvarchar](450) NULL,
	[partnerroledescription] [ntext] NULL,
	[partnerroleid] [uniqueidentifier] NULL,
	[partnerroleiddsc] [int] NULL,
	[partnerroleidname] [nvarchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]