/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[Quote](
	[accountid] [uniqueidentifier] NULL,
	[accountiddsc] [int] NULL,
	[accountidname] [nvarchar](160) NULL,
	[accountidyominame] [nvarchar](160) NULL,
	[billto_addressid] [uniqueidentifier] NULL,
	[billto_city] [nvarchar](50) NULL,
	[billto_contactname] [nvarchar](150) NULL,
	[billto_country] [nvarchar](50) NULL,
	[billto_fax] [nvarchar](50) NULL,
	[billto_line1] [nvarchar](50) NULL,
	[billto_line2] [nvarchar](50) NULL,
	[billto_line3] [nvarchar](50) NULL,
	[billto_name] [nvarchar](200) NULL,
	[billto_postalcode] [nvarchar](20) NULL,
	[billto_stateorprovince] [nvarchar](50) NULL,
	[billto_telephone] [nvarchar](50) NULL,
	[campaignid] [uniqueidentifier] NULL,
	[campaigniddsc] [int] NULL,
	[campaignidname] [nvarchar](128) NULL,
	[closedon] [datetime] NULL,
	[closedonutc] [datetime] NULL,
	[contactid] [uniqueidentifier] NULL,
	[contactiddsc] [int] NULL,
	[contactidname] [nvarchar](160) NULL,
	[contactidyominame] [nvarchar](450) NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[customerid] [uniqueidentifier] NULL,
	[customeriddsc] [int] NULL,
	[customeridname] [nvarchar](160) NULL,
	[customeridtype] [int] NULL,
	[description] [nvarchar](max) NULL,
	[discountamount] [money] NULL,
	[discountamount_base] [money] NULL,
	[discountpercentage] [numeric](23, 10) NULL,
	[effectivefrom] [datetime] NULL,
	[effectivefromutc] [datetime] NULL,
	[effectiveto] [datetime] NULL,
	[effectivetoutc] [datetime] NULL,
	[exchangerate] [numeric](23, 10) NULL,
	[expireson] [datetime] NULL,
	[expiresonutc] [datetime] NULL,
	[freightamount] [money] NULL,
	[freightamount_base] [money] NULL,
	[freighttermscode] [int] NULL,
	[freighttermscodename] [nvarchar](255) NULL,
	[importsequencenumber] [int] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[name] [nvarchar](300) NULL,
	[opportunityid] [uniqueidentifier] NULL,
	[opportunityiddsc] [int] NULL,
	[opportunityidname] [nvarchar](300) NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneriddsc] [int] NULL,
	[owneridname] [nvarchar](160) NULL,
	[owneridtype] [int] NULL,
	[owneridyominame] [nvarchar](160) NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owningteam] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[paymenttermscode] [int] NULL,
	[paymenttermscodename] [nvarchar](255) NULL,
	[pricelevelid] [uniqueidentifier] NULL,
	[priceleveliddsc] [int] NULL,
	[pricelevelidname] [nvarchar](100) NULL,
	[pricingerrorcode] [int] NULL,
	[pricingerrorcodename] [nvarchar](255) NULL,
	[quoteid] [uniqueidentifier] NOT NULL,
	[quotenumber] [nvarchar](100) NOT NULL,
	[requestdeliveryby] [datetime] NULL,
	[requestdeliverybyutc] [datetime] NULL,
	[revisionnumber] [int] NOT NULL,
	[shippingmethodcode] [int] NULL,
	[shippingmethodcodename] [nvarchar](255) NULL,
	[shipto_addressid] [uniqueidentifier] NOT NULL,
	[shipto_city] [nvarchar](50) NULL,
	[shipto_contactname] [nvarchar](150) NULL,
	[shipto_country] [nvarchar](50) NULL,
	[shipto_fax] [nvarchar](50) NULL,
	[shipto_freighttermscode] [int] NULL,
	[shipto_freighttermscodename] [nvarchar](255) NULL,
	[shipto_line1] [nvarchar](50) NULL,
	[shipto_line2] [nvarchar](50) NULL,
	[shipto_line3] [nvarchar](50) NULL,
	[shipto_name] [nvarchar](200) NULL,
	[shipto_postalcode] [nvarchar](20) NULL,
	[shipto_stateorprovince] [nvarchar](50) NULL,
	[shipto_telephone] [nvarchar](50) NULL,
	[statecode] [int] NOT NULL,
	[statecodename] [nvarchar](255) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[totalamount] [money] NULL,
	[totalamount_base] [money] NULL,
	[totalamountlessfreight] [money] NULL,
	[totalamountlessfreight_base] [money] NULL,
	[totaldiscountamount] [money] NULL,
	[totaldiscountamount_base] [money] NULL,
	[totallineitemamount] [money] NULL,
	[totallineitemamount_base] [money] NULL,
	[totallineitemdiscountamount] [money] NULL,
	[totallineitemdiscountamount_base] [money] NULL,
	[totaltax] [money] NULL,
	[totaltax_base] [money] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[utcconversiontimezonecode] [int] NULL,
	[willcall] [bit] NULL,
	[willcallname] [nvarchar](255) NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]