/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[ContractDetail](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[importsequencenumber] [int] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](255) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[utcconversiontimezonecode] [int] NULL,
	[accountid] [uniqueidentifier] NULL,
	[activeon] [datetime] NULL,
	[activeonutc] [datetime] NULL,
	[allotmentsremaining] [int] NULL,
	[allotmentsused] [int] NULL,
	[contactid] [uniqueidentifier] NULL,
	[contractdetailid] [uniqueidentifier] NULL,
	[contractid] [uniqueidentifier] NULL,
	[contractiddsc] [int] NULL,
	[contractidname] [nvarchar](100) NULL,
	[contractstatecode] [int] NULL,
	[contractstatecodename] [nvarchar](255) NULL,
	[customerid] [uniqueidentifier] NULL,
	[customeriddsc] [int] NULL,
	[customeridname] [nvarchar](160) NULL,
	[customeridtype] [int] NULL,
	[discount] [money] NULL,
	[discount_base] [money] NULL,
	[discountpercentage] [numeric](23, 10) NULL,
	[effectivitycalendar] [nvarchar](168) NULL,
	[exchangerate] [numeric](23, 10) NULL,
	[expireson] [datetime] NULL,
	[expiresonutc] [datetime] NULL,
	[initialquantity] [int] NULL,
	[lineitemorder] [int] NULL,
	[net] [money] NULL,
	[net_base] [money] NULL,
	[price] [money] NULL,
	[price_base] [money] NULL,
	[productid] [uniqueidentifier] NULL,
	[productiddsc] [int] NULL,
	[productidname] [nvarchar](100) NULL,
	[productserialnumber] [nvarchar](100) NULL,
	[rate] [money] NULL,
	[rate_base] [money] NULL,
	[serviceaddress] [uniqueidentifier] NULL,
	[serviceaddressdsc] [int] NULL,
	[serviceaddressname] [nvarchar](200) NULL,
	[servicecontractunitscode] [int] NULL,
	[servicecontractunitscodename] [nvarchar](255) NULL,
	[title] [nvarchar](500) NULL,
	[totalallotments] [int] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[uomid] [uniqueidentifier] NULL,
	[uomiddsc] [int] NULL,
	[uomidname] [nvarchar](100) NULL,
	[uomscheduleid] [uniqueidentifier] NULL,
	[uomscheduleiddsc] [int] NULL,
	[uomscheduleidname] [nvarchar](200) NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL
) ON [PRIMARY]