/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[Service](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[description] [ntext] NULL,
	[name] [nvarchar](160) NULL,
	[organizationid] [uniqueidentifier] NULL,
	[organizationiddsc] [int] NULL,
	[organizationidname] [nvarchar](160) NULL,
	[resourcespecid] [uniqueidentifier] NULL,
	[anchoroffset] [int] NULL,
	[calendarid] [uniqueidentifier] NULL,
	[duration] [int] NULL,
	[granularity] [nvarchar](100) NULL,
	[importsequencenumber] [int] NULL,
	[initialstatuscode] [int] NULL,
	[initialstatuscodename] [nvarchar](255) NULL,
	[isschedulable] [bit] NULL,
	[isschedulablename] [nvarchar](255) NULL,
	[isvisible] [bit] NULL,
	[isvisiblename] [nvarchar](255) NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[resourcespeciddsc] [int] NULL,
	[resourcespecidname] [nvarchar](160) NULL,
	[serviceid] [uniqueidentifier] NULL,
	[showresources] [bit] NULL,
	[showresourcesname] [nvarchar](255) NULL,
	[strategyid] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]