/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[CustomerAddress](
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[addressnumber] [int] NULL,
	[addresstypecode] [int] NULL,
	[addresstypecodename] [nvarchar](255) NULL,
	[city] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[county] [nvarchar](50) NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[customeraddressid] [uniqueidentifier] NULL,
	[fax] [nvarchar](50) NULL,
	[freighttermscode] [int] NULL,
	[freighttermscodename] [nvarchar](255) NULL,
	[importsequencenumber] [int] NULL,
	[latitude] [float] NULL,
	[line1] [nvarchar](200) NULL,
	[line2] [nvarchar](200) NULL,
	[line3] [nvarchar](200) NULL,
	[longitude] [float] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[name] [nvarchar](200) NULL,
	[objecttypecode] [int] NULL,
	[objecttypecodename] [nvarchar](255) NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[parentid] [uniqueidentifier] NULL,
	[postalcode] [nvarchar](20) NULL,
	[postofficebox] [nvarchar](20) NULL,
	[primarycontactname] [nvarchar](150) NULL,
	[shippingmethodcode] [int] NULL,
	[shippingmethodcodename] [nvarchar](255) NULL,
	[stateorprovince] [nvarchar](50) NULL,
	[telephone1] [nvarchar](50) NULL,
	[telephone2] [nvarchar](50) NULL,
	[telephone3] [nvarchar](50) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[upszone] [nvarchar](4) NULL,
	[utcconversiontimezonecode] [int] NULL,
	[utcoffset] [int] NULL
) ON [PRIMARY]