/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[CompetitorAddress](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[addressnumber] [int] NULL,
	[addresstypecode] [int] NULL,
	[addresstypecodename] [nvarchar](255) NULL,
	[city] [nvarchar](50) NULL,
	[competitoraddressid] [uniqueidentifier] NULL,
	[country] [nvarchar](50) NULL,
	[county] [nvarchar](50) NULL,
	[fax] [nvarchar](50) NULL,
	[latitude] [float] NULL,
	[line1] [nvarchar](200) NULL,
	[line2] [nvarchar](200) NULL,
	[line3] [nvarchar](200) NULL,
	[longitude] [float] NULL,
	[name] [nvarchar](200) NULL,
	[parentid] [uniqueidentifier] NULL,
	[parentiddsc] [int] NULL,
	[parentidname] [nvarchar](100) NULL,
	[parentidyominame] [nvarchar](100) NULL,
	[postalcode] [nvarchar](20) NULL,
	[postofficebox] [nvarchar](20) NULL,
	[shippingmethodcode] [int] NULL,
	[shippingmethodcodename] [nvarchar](255) NULL,
	[stateorprovince] [nvarchar](50) NULL,
	[telephone1] [nvarchar](50) NULL,
	[telephone2] [nvarchar](50) NULL,
	[telephone3] [nvarchar](50) NULL,
	[upszone] [nvarchar](4) NULL,
	[utcoffset] [int] NULL
) ON [PRIMARY]