/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[lsc_localauthoritytoregion](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[importsequencenumber] [int] NULL,
	[lsc_regionid] [uniqueidentifier] NULL,
	[lsc_regioniddsc] [int] NULL,
	[lsc_regionidname] [nvarchar](200) NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneriddsc] [int] NULL,
	[owneridname] [nvarchar](160) NULL,
	[owneridtype] [int] NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](255) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[utcconversiontimezonecode] [int] NULL,
	[lsc_localauthoritytoregionid] [uniqueidentifier] NULL,
	[lsc_name] [nvarchar](100) NULL,
	[lsc_divisionid] [uniqueidentifier] NULL,
	[lsc_divisioniddsc] [int] NULL,
	[lsc_divisionidname] [nvarchar](100) NULL,
	[lsc_queue1id] [uniqueidentifier] NULL,
	[lsc_queue1iddsc] [int] NULL,
	[lsc_queue1idname] [nvarchar](200) NULL,
	[lsc_queue2id] [uniqueidentifier] NULL,
	[lsc_queue2iddsc] [int] NULL,
	[lsc_queue2idname] [nvarchar](200) NULL
) ON [PRIMARY]
