/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[CalendarRule](
	[effort] [float] NULL,
	[businessunitid] [uniqueidentifier] NULL,
	[calendarid] [uniqueidentifier] NULL,
	[calendarruleid] [uniqueidentifier] NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[description] [ntext] NULL,
	[duration] [int] NULL,
	[effectiveintervalend] [datetime] NULL,
	[effectiveintervalendutc] [datetime] NULL,
	[effectiveintervalstart] [datetime] NULL,
	[effectiveintervalstartutc] [datetime] NULL,
	[endtime] [datetime] NULL,
	[endtimeutc] [datetime] NULL,
	[extentcode] [int] NULL,
	[groupdesignator] [nvarchar](36) NULL,
	[innercalendarid] [uniqueidentifier] NULL,
	[ismodified] [bit] NULL,
	[ismodifiedname] [nvarchar](255) NULL,
	[isselected] [bit] NULL,
	[isselectedname] [nvarchar](255) NULL,
	[issimple] [bit] NULL,
	[issimplename] [nvarchar](255) NULL,
	[isvaried] [bit] NULL,
	[isvariedname] [nvarchar](255) NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[name] [nvarchar](160) NULL,
	[offset] [int] NULL,
	[organizationid] [uniqueidentifier] NULL,
	[pattern] [nvarchar](256) NULL,
	[rank] [int] NULL,
	[serviceid] [uniqueidentifier] NULL,
	[serviceiddsc] [int] NULL,
	[serviceidname] [nvarchar](160) NULL,
	[starttime] [datetime] NULL,
	[starttimeutc] [datetime] NULL,
	[subcode] [int] NULL,
	[timecode] [int] NULL,
	[timezonecode] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]