/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[List](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[importsequencenumber] [int] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[description] [ntext] NULL,
	[checkfordonotsendmmonlistmembersname] [nvarchar](255) NULL,
	[cost] [money] NULL,
	[cost_base] [money] NULL,
	[createdfromcode] [int] NULL,
	[createdfromcodename] [nvarchar](255) NULL,
	[donotsendonoptout] [bit] NULL,
	[exchangerate] [numeric](23, 10) NULL,
	[ignoreinactivelistmembers] [bit] NULL,
	[ignoreinactivelistmembersname] [nvarchar](255) NULL,
	[lastusedon] [datetime] NULL,
	[lastusedonutc] [datetime] NULL,
	[listid] [uniqueidentifier] NULL,
	[listname] [nvarchar](128) NULL,
	[lockstatus] [bit] NULL,
	[lockstatusname] [nvarchar](255) NULL,
	[membercount] [int] NULL,
	[membertype] [int] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneriddsc] [int] NULL,
	[owneridname] [nvarchar](160) NULL,
	[owneridtype] [int] NULL,
	[owneridyominame] [nvarchar](160) NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[purpose] [nvarchar](512) NULL,
	[source] [nvarchar](128) NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](255) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[utcconversiontimezonecode] [int] NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]