/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[OpportunityProduct](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[importsequencenumber] [int] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[timezoneruleversionnumber] [int] NULL,
	[utcconversiontimezonecode] [int] NULL,
	[baseamount] [money] NULL,
	[baseamount_base] [money] NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[description] [ntext] NULL,
	[exchangerate] [numeric](23, 10) NULL,
	[extendedamount] [money] NULL,
	[extendedamount_base] [money] NULL,
	[ispriceoverridden] [bit] NULL,
	[ispriceoverriddenname] [nvarchar](255) NULL,
	[isproductoverridden] [bit] NULL,
	[isproductoverriddenname] [nvarchar](255) NULL,
	[manualdiscountamount] [money] NULL,
	[manualdiscountamount_base] [money] NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[opportunityid] [uniqueidentifier] NULL,
	[opportunityiddsc] [int] NULL,
	[opportunityidname] [nvarchar](300) NULL,
	[opportunityproductid] [uniqueidentifier] NULL,
	[opportunitystatecode] [int] NULL,
	[opportunitystatecodename] [nvarchar](255) NULL,
	[priceperunit] [money] NULL,
	[priceperunit_base] [money] NULL,
	[pricingerrorcode] [int] NULL,
	[pricingerrorcodename] [nvarchar](255) NULL,
	[productdescription] [nvarchar](500) NULL,
	[productid] [uniqueidentifier] NULL,
	[productiddsc] [int] NULL,
	[productidname] [nvarchar](100) NULL,
	[quantity] [numeric](23, 10) NULL,
	[tax] [money] NULL,
	[tax_base] [money] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[uomid] [uniqueidentifier] NULL,
	[uomiddsc] [int] NULL,
	[uomidname] [nvarchar](100) NULL,
	[volumediscountamount] [money] NULL,
	[volumediscountamount_base] [money] NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]