/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[SystemUser](
	[accessmode] [int] NULL,
	[accessmodename] [nvarchar](255) NULL,
	[address1_addressid] [uniqueidentifier] NULL,
	[address1_addresstypecode] [int] NULL,
	[address1_addresstypecodename] [nvarchar](255) NULL,
	[address1_city] [nvarchar](50) NULL,
	[address1_country] [nvarchar](50) NULL,
	[address1_county] [nvarchar](50) NULL,
	[address1_fax] [nvarchar](50) NULL,
	[address1_latitude] [float] NULL,
	[address1_line1] [nvarchar](200) NULL,
	[address1_line2] [nvarchar](200) NULL,
	[address1_line3] [nvarchar](200) NULL,
	[address1_longitude] [float] NULL,
	[address1_name] [nvarchar](200) NULL,
	[address1_postalcode] [nvarchar](20) NULL,
	[address1_postofficebox] [nvarchar](20) NULL,
	[address1_shippingmethodcode] [int] NULL,
	[address1_shippingmethodcodename] [nvarchar](255) NULL,
	[address1_stateorprovince] [nvarchar](50) NULL,
	[address1_telephone1] [nvarchar](50) NULL,
	[address1_telephone2] [nvarchar](50) NULL,
	[address1_telephone3] [nvarchar](50) NULL,
	[address1_upszone] [nvarchar](4) NULL,
	[address1_utcoffset] [int] NULL,
	[address2_addressid] [uniqueidentifier] NULL,
	[address2_addresstypecode] [int] NULL,
	[address2_addresstypecodename] [nvarchar](255) NULL,
	[address2_city] [nvarchar](50) NULL,
	[address2_country] [nvarchar](50) NULL,
	[address2_county] [nvarchar](50) NULL,
	[address2_fax] [nvarchar](50) NULL,
	[address2_latitude] [float] NULL,
	[address2_line1] [nvarchar](200) NULL,
	[address2_line2] [nvarchar](200) NULL,
	[address2_line3] [nvarchar](200) NULL,
	[address2_longitude] [float] NULL,
	[address2_name] [nvarchar](200) NULL,
	[address2_postalcode] [nvarchar](20) NULL,
	[address2_postofficebox] [nvarchar](20) NULL,
	[address2_shippingmethodcode] [int] NULL,
	[address2_shippingmethodcodename] [nvarchar](255) NULL,
	[address2_stateorprovince] [nvarchar](50) NULL,
	[address2_telephone1] [nvarchar](50) NULL,
	[address2_telephone2] [nvarchar](50) NULL,
	[address2_telephone3] [nvarchar](50) NULL,
	[address2_upszone] [nvarchar](4) NULL,
	[address2_utcoffset] [int] NULL,
	[businessunitid] [uniqueidentifier] NULL,
	[businessunitiddsc] [int] NULL,
	[businessunitidname] [nvarchar](160) NULL,
	[calendarid] [uniqueidentifier] NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[disabledreason] [nvarchar](500) NULL,
	[displayinserviceviews] [bit] NULL,
	[displayinserviceviewsname] [nvarchar](255) NULL,
	[domainname] [nvarchar](255) NULL,
	[employeeid] [nvarchar](100) NULL,
	[firstname] [nvarchar](50) NULL,
	[fullname] [nvarchar](160) NULL,
	[governmentid] [nvarchar](100) NULL,
	[homephone] [nvarchar](50) NULL,
	[importsequencenumber] [int] NULL,
	[incomingemaildeliverymethod] [int] NULL,
	[incomingemaildeliverymethodname] [nvarchar](255) NULL,
	[internalemailaddress] [nvarchar](100) NULL,
	[invitestatuscode] [int] NULL,
	[invitestatuscodename] [nvarchar](255) NULL,
	[isdisabled] [bit] NULL,
	[isdisabledname] [nvarchar](255) NULL,
	[jobtitle] [nvarchar](100) NULL,
	[lastname] [nvarchar](50) NULL,
	[middlename] [nvarchar](50) NULL,
	[mobilealertemail] [nvarchar](100) NULL,
	[mobilephone] [nvarchar](50) NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[nickname] [nvarchar](50) NULL,
	[organizationid] [uniqueidentifier] NULL,
	[organizationiddsc] [int] NULL,
	[organizationidname] [nvarchar](160) NULL,
	[outgoingemaildeliverymethod] [int] NULL,
	[outgoingemaildeliverymethodname] [nvarchar](255) NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[parentsystemuserid] [uniqueidentifier] NULL,
	[parentsystemuseriddsc] [int] NULL,
	[parentsystemuseridname] [nvarchar](160) NULL,
	[parentsystemuseridyominame] [nvarchar](160) NULL,
	[passporthi] [int] NULL,
	[passportlo] [int] NULL,
	[personalemailaddress] [nvarchar](100) NULL,
	[photourl] [nvarchar](200) NULL,
	[preferredaddresscode] [int] NULL,
	[preferredaddresscodename] [nvarchar](255) NULL,
	[preferredemailcode] [int] NULL,
	[preferredemailcodename] [nvarchar](255) NULL,
	[preferredphonecode] [int] NULL,
	[preferredphonecodename] [nvarchar](255) NULL,
	[salutation] [nvarchar](20) NULL,
	[setupuser] [bit] NULL,
	[setupusername] [nvarchar](255) NULL,
	[siteid] [uniqueidentifier] NULL,
	[siteiddsc] [int] NULL,
	[siteidname] [nvarchar](160) NULL,
	[skills] [nvarchar](100) NULL,
	[systemuserid] [uniqueidentifier] NULL,
	[territoryid] [uniqueidentifier] NULL,
	[territoryiddsc] [int] NULL,
	[territoryidname] [nvarchar](200) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[title] [nvarchar](100) NULL,
	[utcconversiontimezonecode] [int] NULL,
	[windowsliveid] [nvarchar](100) NULL,
	[yomifirstname] [nvarchar](50) NULL,
	[yomifullname] [nvarchar](160) NULL,
	[yomilastname] [nvarchar](50) NULL,
	[yomimiddlename] [nvarchar](50) NULL,
	[lsc_virtualuser] [bit] NULL,
	[lsc_virtualusername] [nvarchar](255) NULL
) ON [PRIMARY]