/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[CustomerOpportunityRole](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[customerid] [uniqueidentifier] NULL,
	[customeriddsc] [int] NULL,
	[customeridname] [nvarchar](160) NULL,
	[customeridtype] [int] NULL,
	[customeridyominame] [nvarchar](450) NULL,
	[customeropportunityroleid] [uniqueidentifier] NULL,
	[description] [nvarchar](500) NULL,
	[importsequencenumber] [int] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[opportunityid] [uniqueidentifier] NULL,
	[opportunityiddsc] [int] NULL,
	[opportunityidname] [nvarchar](300) NULL,
	[opportunityroleid] [uniqueidentifier] NULL,
	[opportunityroleiddsc] [int] NULL,
	[opportunityroleidname] [nvarchar](100) NULL,
	[opportunitystatecode] [int] NULL,
	[opportunitystatuscode] [int] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneriddsc] [int] NULL,
	[owneridname] [nvarchar](160) NULL,
	[owneridtype] [int] NULL,
	[owneridyominame] [nvarchar](160) NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL
) ON [PRIMARY]
