/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[monthlyfiscalcalendar](
	[businessunitid] [uniqueidentifier] NULL,
	[businessunitiddsc] [int] NULL,
	[businessunitidname] [nvarchar](160) NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[effectiveon] [datetime] NULL,
	[effectiveonutc] [datetime] NULL,
	[exchangerate] [numeric](23, 10) NULL,
	[fiscalperiodtype] [int] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[month1] [money] NULL,
	[month1_base] [money] NULL,
	[month10] [money] NULL,
	[month10_base] [money] NULL,
	[month11] [money] NULL,
	[month11_base] [money] NULL,
	[month12] [money] NULL,
	[month12_base] [money] NULL,
	[month2] [money] NULL,
	[month2_base] [money] NULL,
	[month3] [money] NULL,
	[month3_base] [money] NULL,
	[month4] [money] NULL,
	[month4_base] [money] NULL,
	[month5] [money] NULL,
	[month5_base] [money] NULL,
	[month6] [money] NULL,
	[month6_base] [money] NULL,
	[month7] [money] NULL,
	[month7_base] [money] NULL,
	[month8] [money] NULL,
	[month8_base] [money] NULL,
	[month9] [money] NULL,
	[month9_base] [money] NULL,
	[salespersonid] [uniqueidentifier] NULL,
	[salespersoniddsc] [int] NULL,
	[salespersonidname] [nvarchar](160) NULL,
	[salespersonidyominame] [nvarchar](160) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[userfiscalcalendarid] [uniqueidentifier] NULL,
	[utcconversiontimezonecode] [int] NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL
) ON [PRIMARY]