/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[Contact](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[description] [nvarchar](max) NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[accountid] [uniqueidentifier] NULL,
	[accountiddsc] [int] NULL,
	[accountidname] [nvarchar](160) NULL,
	[accountidyominame] [nvarchar](160) NULL,
	[accountrolecode] [int] NULL,
	[accountrolecodename] [nvarchar](255) NULL,
	[address1_addressid] [uniqueidentifier] NULL,
	[address1_addresstypecode] [int] NULL,
	[address1_addresstypecodename] [nvarchar](255) NULL,
	[address1_city] [nvarchar](50) NULL,
	[address1_country] [nvarchar](50) NULL,
	[address1_county] [nvarchar](50) NULL,
	[address1_fax] [nvarchar](50) NULL,
	[address1_freighttermscode] [int] NULL,
	[address1_freighttermscodename] [nvarchar](255) NULL,
	[address1_latitude] [float] NULL,
	[address1_line1] [nvarchar](200) NULL,
	[address1_line2] [nvarchar](200) NULL,
	[address1_line3] [nvarchar](200) NULL,
	[address1_longitude] [float] NULL,
	[address1_name] [nvarchar](200) NULL,
	[address1_postalcode] [nvarchar](20) NULL,
	[address1_postofficebox] [nvarchar](20) NULL,
	[address1_primarycontactname] [nvarchar](150) NULL,
	[address1_shippingmethodcode] [int] NULL,
	[address1_shippingmethodcodename] [nvarchar](255) NULL,
	[address1_stateorprovince] [nvarchar](50) NULL,
	[address1_telephone1] [nvarchar](50) NULL,
	[address1_telephone2] [nvarchar](50) NULL,
	[address1_telephone3] [nvarchar](50) NULL,
	[address1_upszone] [nvarchar](4) NULL,
	[address1_utcoffset] [int] NULL,
	[address2_addressid] [uniqueidentifier] NULL,
	[address2_addresstypecode] [int] NULL,
	[address2_addresstypecodename] [nvarchar](255) NULL,
	[address2_city] [nvarchar](50) NULL,
	[address2_country] [nvarchar](50) NULL,
	[address2_county] [nvarchar](50) NULL,
	[address2_fax] [nvarchar](50) NULL,
	[address2_freighttermscode] [int] NULL,
	[address2_freighttermscodename] [nvarchar](255) NULL,
	[address2_latitude] [float] NULL,
	[address2_line1] [nvarchar](200) NULL,
	[address2_line2] [nvarchar](200) NULL,
	[address2_line3] [nvarchar](200) NULL,
	[address2_longitude] [float] NULL,
	[address2_name] [nvarchar](200) NULL,
	[address2_postalcode] [nvarchar](20) NULL,
	[address2_postofficebox] [nvarchar](20) NULL,
	[address2_primarycontactname] [nvarchar](150) NULL,
	[address2_shippingmethodcode] [int] NULL,
	[address2_shippingmethodcodename] [nvarchar](255) NULL,
	[address2_stateorprovince] [nvarchar](50) NULL,
	[address2_telephone1] [nvarchar](50) NULL,
	[address2_telephone2] [nvarchar](50) NULL,
	[address2_telephone3] [nvarchar](50) NULL,
	[address2_upszone] [nvarchar](4) NULL,
	[address2_utcoffset] [int] NULL,
	[aging30] [money] NULL,
	[aging30_base] [money] NULL,
	[aging60] [money] NULL,
	[aging60_base] [money] NULL,
	[aging90] [money] NULL,
	[aging90_base] [money] NULL,
	[anniversary] [datetime] NULL,
	[anniversaryutc] [datetime] NULL,
	[annualincome] [money] NULL,
	[annualincome_base] [money] NULL,
	[assistantname] [nvarchar](100) NULL,
	[assistantphone] [nvarchar](50) NULL,
	[birthdate] [datetime] NULL,
	[birthdateutc] [datetime] NULL,
	[childrensnames] [nvarchar](255) NULL,
	[contactid] [uniqueidentifier] NULL,
	[creditlimit] [money] NULL,
	[creditlimit_base] [money] NULL,
	[creditonhold] [bit] NULL,
	[creditonholdname] [nvarchar](255) NULL,
	[customersizecode] [int] NULL,
	[customersizecodename] [nvarchar](255) NULL,
	[customertypecode] [int] NULL,
	[customertypecodename] [nvarchar](255) NULL,
	[defaultpricelevelid] [uniqueidentifier] NULL,
	[defaultpriceleveliddsc] [int] NULL,
	[defaultpricelevelidname] [nvarchar](100) NULL,
	[department] [nvarchar](100) NULL,
	[donotbulkemail] [bit] NULL,
	[donotbulkemailname] [nvarchar](255) NULL,
	[donotbulkpostalmail] [bit] NULL,
	[donotbulkpostalmailname] [nvarchar](255) NULL,
	[donotemail] [bit] NULL,
	[donotemailname] [nvarchar](255) NULL,
	[donotfax] [bit] NULL,
	[donotfaxname] [nvarchar](255) NULL,
	[donotphone] [bit] NULL,
	[donotphonename] [nvarchar](255) NULL,
	[donotpostalmail] [bit] NULL,
	[donotpostalmailname] [nvarchar](255) NULL,
	[donotsendmarketingmaterialname] [nvarchar](255) NULL,
	[donotsendmm] [bit] NULL,
	[educationcode] [int] NULL,
	[educationcodename] [nvarchar](255) NULL,
	[emailaddress1] [nvarchar](100) NULL,
	[emailaddress2] [nvarchar](100) NULL,
	[emailaddress3] [nvarchar](100) NULL,
	[employeeid] [nvarchar](50) NULL,
	[exchangerate] [decimal](23, 10) NULL,
	[externaluseridentifier] [nvarchar](50) NULL,
	[familystatuscode] [int] NULL,
	[familystatuscodename] [nvarchar](255) NULL,
	[fax] [nvarchar](50) NULL,
	[firstname] [nvarchar](50) NULL,
	[ftpsiteurl] [nvarchar](200) NULL,
	[fullname] [nvarchar](160) NULL,
	[gendercode] [int] NULL,
	[gendercodename] [nvarchar](255) NULL,
	[governmentid] [nvarchar](50) NULL,
	[haschildrencode] [int] NULL,
	[haschildrencodename] [nvarchar](255) NULL,
	[importsequencenumber] [int] NULL,
	[isbackofficecustomer] [bit] NULL,
	[isbackofficecustomername] [nvarchar](255) NULL,
	[isprivatename] [nvarchar](255) NULL,
	[jobtitle] [nvarchar](100) NULL,
	[lastname] [nvarchar](50) NULL,
	[lastusedincampaign] [datetime] NULL,
	[lastusedincampaignutc] [datetime] NULL,
	[leadsourcecode] [int] NULL,
	[leadsourcecodename] [nvarchar](255) NULL,
	[lsc_navmsregistered] [bit] NULL,
	[lsc_navmsregisteredname] [nvarchar](255) NULL,
	[lsc_uniquelearnernumber] [nvarchar](10) NULL,
	[managername] [nvarchar](100) NULL,
	[managerphone] [nvarchar](50) NULL,
	[mastercontactiddsc] [int] NULL,
	[mastercontactidname] [nvarchar](160) NULL,
	[mastercontactidyominame] [nvarchar](450) NULL,
	[masterid] [uniqueidentifier] NULL,
	[merged] [bit] NULL,
	[mergedname] [nvarchar](255) NULL,
	[middlename] [nvarchar](50) NULL,
	[mobilephone] [nvarchar](50) NULL,
	[nickname] [nvarchar](50) NULL,
	[numberofchildren] [int] NULL,
	[originatingleadid] [uniqueidentifier] NULL,
	[originatingleadiddsc] [int] NULL,
	[originatingleadidname] [nvarchar](160) NULL,
	[originatingleadidyominame] [nvarchar](450) NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneriddsc] [int] NULL,
	[owneridname] [nvarchar](160) NULL,
	[owneridtype] [int] NULL,
	[owneridyominame] [nvarchar](160) NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owningteam] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[pager] [nvarchar](50) NULL,
	[parentcontactid] [uniqueidentifier] NULL,
	[parentcontactiddsc] [int] NULL,
	[parentcontactidname] [nvarchar](160) NULL,
	[parentcontactidyominame] [nvarchar](450) NULL,
	[parentcustomerid] [uniqueidentifier] NULL,
	[parentcustomeriddsc] [int] NULL,
	[parentcustomeridname] [nvarchar](160) NULL,
	[parentcustomeridtype] [int] NULL,
	[parentcustomeridyominame] [nvarchar](450) NULL,
	[participatesinworkflow] [bit] NULL,
	[participatesinworkflowname] [nvarchar](255) NULL,
	[paymenttermscode] [int] NULL,
	[paymenttermscodename] [nvarchar](255) NULL,
	[preferredappointmentdaycode] [int] NULL,
	[preferredappointmentdaycodename] [nvarchar](255) NULL,
	[preferredappointmenttimecode] [int] NULL,
	[preferredappointmenttimecodename] [nvarchar](255) NULL,
	[preferredcontactmethodcode] [int] NULL,
	[preferredcontactmethodcodename] [nvarchar](255) NULL,
	[preferredequipmentid] [uniqueidentifier] NULL,
	[preferredequipmentiddsc] [int] NULL,
	[preferredequipmentidname] [nvarchar](160) NULL,
	[preferredserviceid] [uniqueidentifier] NULL,
	[preferredserviceiddsc] [int] NULL,
	[preferredserviceidname] [nvarchar](160) NULL,
	[preferredsystemuserid] [uniqueidentifier] NULL,
	[preferredsystemuseriddsc] [int] NULL,
	[preferredsystemuseridname] [nvarchar](160) NULL,
	[preferredsystemuseridyominame] [nvarchar](160) NULL,
	[salutation] [nvarchar](100) NULL,
	[shippingmethodcode] [int] NULL,
	[shippingmethodcodename] [nvarchar](255) NULL,
	[spousesname] [nvarchar](100) NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](255) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[suffix] [nvarchar](10) NULL,
	[telephone1] [nvarchar](50) NULL,
	[telephone2] [nvarchar](50) NULL,
	[telephone3] [nvarchar](50) NULL,
	[territorycode] [int] NULL,
	[territorycodename] [nvarchar](255) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[utcconversiontimezonecode] [int] NULL,
	[websiteurl] [nvarchar](200) NULL,
	[yomifirstname] [nvarchar](150) NULL,
	[yomifullname] [nvarchar](450) NULL,
	[yomilastname] [nvarchar](150) NULL,
	[yomimiddlename] [nvarchar](150) NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]