/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[Lead](
	[accountid] [uniqueidentifier] NULL,
	[accountiddsc] [int] NULL,
	[accountidname] [nvarchar](160) NULL,
	[accountidyominame] [nvarchar](160) NULL,
	[address1_addressid] [uniqueidentifier] NULL,
	[address1_addresstypecode] [int] NULL,
	[address1_addresstypecodename] [nvarchar](255) NULL,
	[address1_city] [nvarchar](50) NULL,
	[address1_country] [nvarchar](50) NULL,
	[address1_county] [nvarchar](50) NULL,
	[address1_fax] [nvarchar](50) NULL,
	[address1_latitude] [float] NULL,
	[address1_line1] [nvarchar](200) NULL,
	[address1_line2] [nvarchar](200) NULL,
	[address1_line3] [nvarchar](200) NULL,
	[address1_longitude] [float] NULL,
	[address1_name] [nvarchar](200) NULL,
	[address1_postalcode] [nvarchar](20) NULL,
	[address1_postofficebox] [nvarchar](20) NULL,
	[address1_shippingmethodcode] [int] NULL,
	[address1_shippingmethodcodename] [nvarchar](255) NULL,
	[address1_stateorprovince] [nvarchar](50) NULL,
	[address1_telephone1] [nvarchar](50) NULL,
	[address1_telephone2] [nvarchar](50) NULL,
	[address1_telephone3] [nvarchar](50) NULL,
	[address1_upszone] [nvarchar](4) NULL,
	[address1_utcoffset] [int] NULL,
	[address2_addressid] [uniqueidentifier] NULL,
	[address2_addresstypecode] [int] NULL,
	[address2_addresstypecodename] [nvarchar](255) NULL,
	[address2_city] [nvarchar](50) NULL,
	[address2_country] [nvarchar](50) NULL,
	[address2_county] [nvarchar](50) NULL,
	[address2_fax] [nvarchar](50) NULL,
	[address2_latitude] [float] NULL,
	[address2_line1] [nvarchar](200) NULL,
	[address2_line2] [nvarchar](200) NULL,
	[address2_line3] [nvarchar](200) NULL,
	[address2_longitude] [float] NULL,
	[address2_name] [nvarchar](200) NULL,
	[address2_postalcode] [nvarchar](20) NULL,
	[address2_postofficebox] [nvarchar](20) NULL,
	[address2_shippingmethodcode] [int] NULL,
	[address2_shippingmethodcodename] [nvarchar](255) NULL,
	[address2_stateorprovince] [nvarchar](50) NULL,
	[address2_telephone1] [nvarchar](50) NULL,
	[address2_telephone2] [nvarchar](50) NULL,
	[address2_telephone3] [nvarchar](50) NULL,
	[address2_upszone] [nvarchar](4) NULL,
	[address2_utcoffset] [int] NULL,
	[campaignid] [uniqueidentifier] NULL,
	[campaigniddsc] [int] NULL,
	[campaignidname] [nvarchar](128) NULL,
	[companyname] [nvarchar](100) NULL,
	[contactid] [uniqueidentifier] NULL,
	[contactiddsc] [int] NULL,
	[contactidname] [nvarchar](160) NULL,
	[contactidyominame] [nvarchar](450) NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[customerid] [uniqueidentifier] NULL,
	[customeriddsc] [int] NULL,
	[customeridname] [nvarchar](160) NULL,
	[customeridtype] [int] NULL,
	[description] [nvarchar](max) NULL,
	[donotbulkemail] [bit] NULL,
	[donotbulkemailname] [nvarchar](255) NULL,
	[donotemail] [bit] NULL,
	[donotemailname] [nvarchar](255) NULL,
	[donotfax] [bit] NULL,
	[donotfaxname] [nvarchar](255) NULL,
	[donotphone] [bit] NULL,
	[donotphonename] [nvarchar](255) NULL,
	[donotpostalmail] [bit] NULL,
	[donotpostalmailname] [nvarchar](255) NULL,
	[donotsendmarketingmaterialname] [nvarchar](255) NULL,
	[donotsendmm] [bit] NULL,
	[emailaddress1] [nvarchar](100) NULL,
	[emailaddress2] [nvarchar](100) NULL,
	[emailaddress3] [nvarchar](100) NULL,
	[estimatedamount] [money] NULL,
	[estimatedamount_base] [money] NULL,
	[estimatedclosedate] [datetime] NULL,
	[estimatedclosedateutc] [datetime] NULL,
	[estimatedvalue] [float] NULL,
	[exchangerate] [decimal](23, 10) NULL,
	[fax] [nvarchar](50) NULL,
	[firstname] [nvarchar](50) NULL,
	[fullname] [nvarchar](160) NULL,
	[importsequencenumber] [int] NULL,
	[industrycode] [int] NULL,
	[industrycodename] [nvarchar](255) NULL,
	[isprivatename] [nvarchar](255) NULL,
	[jobtitle] [nvarchar](100) NULL,
	[lastname] [nvarchar](50) NULL,
	[lastusedincampaign] [datetime] NULL,
	[lastusedincampaignutc] [datetime] NULL,
	[leadid] [uniqueidentifier] NULL,
	[leadqualitycode] [int] NULL,
	[leadqualitycodename] [nvarchar](255) NULL,
	[leadsourcecode] [int] NULL,
	[leadsourcecodename] [nvarchar](255) NULL,
	[lsc_noofemployees] [int] NULL,
	[lsc_noofemployeesname] [nvarchar](255) NULL,
	[lsc_originatingrequestofleadid] [uniqueidentifier] NULL,
	[lsc_originatingrequestofleadiddsc] [int] NULL,
	[lsc_originatingrequestofleadidname] [nvarchar](200) NULL,
	[lsc_regionid] [uniqueidentifier] NULL,
	[lsc_regioniddsc] [int] NULL,
	[lsc_regionidname] [nvarchar](200) NULL,
	[lsc_sector] [int] NULL,
	[lsc_sectorframework] [int] NULL,
	[lsc_sectorframeworkname] [nvarchar](255) NULL,
	[lsc_sectorname] [nvarchar](255) NULL,
	[masterid] [uniqueidentifier] NULL,
	[masterleadiddsc] [int] NULL,
	[masterleadidname] [nvarchar](160) NULL,
	[masterleadidyominame] [nvarchar](450) NULL,
	[merged] [bit] NULL,
	[mergedname] [nvarchar](255) NULL,
	[middlename] [nvarchar](50) NULL,
	[mobilephone] [nvarchar](20) NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[numberofemployees] [int] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneriddsc] [int] NULL,
	[owneridname] [nvarchar](160) NULL,
	[owneridtype] [int] NULL,
	[owneridyominame] [nvarchar](160) NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owningteam] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[pager] [nvarchar](20) NULL,
	[participatesinworkflow] [bit] NULL,
	[participatesinworkflowname] [nvarchar](255) NULL,
	[preferredcontactmethodcode] [int] NULL,
	[preferredcontactmethodcodename] [nvarchar](255) NULL,
	[prioritycode] [int] NULL,
	[prioritycodename] [nvarchar](255) NULL,
	[revenue] [money] NULL,
	[revenue_base] [money] NULL,
	[salesstagecode] [int] NULL,
	[salesstagecodename] [nvarchar](255) NULL,
	[salutation] [nvarchar](100) NULL,
	[sic] [nvarchar](20) NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](255) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[subject] [nvarchar](300) NULL,
	[telephone1] [nvarchar](50) NULL,
	[telephone2] [nvarchar](50) NULL,
	[telephone3] [nvarchar](50) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[utcconversiontimezonecode] [int] NULL,
	[websiteurl] [nvarchar](200) NULL,
	[yomicompanyname] [nvarchar](100) NULL,
	[yomifirstname] [nvarchar](150) NULL,
	[yomifullname] [nvarchar](450) NULL,
	[yomilastname] [nvarchar](150) NULL,
	[yomimiddlename] [nvarchar](150) NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL,
	[LSC_Employercommitment] [bit] NULL,
	[lsc_employercommitmentname] [nvarchar](255) NULL,
	[lsc_framework] [bit] NULL,
	[lsc_frameworkname] [nvarchar](255) NULL,
	[lsc_providercapacity] [bit] NULL,
	[lsc_providercapacityname] [nvarchar](255) NULL,
	[lsc_active_apprenticeships] [int] NULL,
	[lsc_siccodeid] [uniqueidentifier] NULL,
	[lsc_siccodeiddsc] [int] NULL,
	[lsc_siccodeidname] [nvarchar](4000) NULL,
	[lsc_urn] [nvarchar](9) NULL,
	[lsc_actuactual_lead_created_date] [datetime] NULL,
	[lsc_actuactual_lead_created_dateutc] [datetime] NULL,
	[lsc_closelead] [int] NULL,
	[lsc_closeleadname] [nvarchar](255) NULL,
	[lsc_closereason] [int] NULL,
	[lsc_closereasonname] [nvarchar](255) NULL,
	[lsc_createoppbutton] [nvarchar](100) NULL,
	[lsc_datereferred] [datetime] NULL,
	[lsc_datereferredutc] [datetime] NULL,
	[lsc_employercommitmentdate] [datetime] NULL,
	[lsc_employercommitmentdateutc] [datetime] NULL,
	[lsc_employercontactid] [uniqueidentifier] NULL,
	[lsc_employercontactiddsc] [int] NULL,
	[lsc_employercontactidname] [nvarchar](160) NULL,
	[lsc_employercontactidyominame] [nvarchar](450) NULL,
	[lsc_followupcontactdate] [datetime] NULL,
	[lsc_followupcontactdateutc] [datetime] NULL,
	[lsc_followupcontactmade] [bit] NULL,
	[lsc_followupcontactmadename] [nvarchar](255) NULL,
	[lsc_followupcontactmadeoption] [int] NULL,
	[lsc_followupcontactmadeoptionname] [nvarchar](255) NULL,
	[lsc_followupcontactnotes] [nvarchar](max) NULL,
	[lsc_hearaboutapprenticeships] [int] NULL,
	[lsc_hearaboutapprenticeshipsname] [nvarchar](255) NULL,
	[lsc_initialcontactdate] [datetime] NULL,
	[lsc_initialcontactdateutc] [datetime] NULL,
	[lsc_initialcontactmade] [bit] NULL,
	[lsc_initialcontactmadename] [nvarchar](255) NULL,
	[lsc_initialcontactmadeoption] [int] NULL,
	[lsc_initialcontactmadeoptionname] [nvarchar](255) NULL,
	[lsc_initialcontactnotes] [nvarchar](max) NULL,
	[lsc_initialcontactrecorded] [datetime] NULL,
	[lsc_initialcontactrecordedutc] [datetime] NULL,
	[lsc_last_action] [int] NULL,
	[lsc_last_actionname] [nvarchar](255) NULL,
	[lsc_lastaction] [datetime] NULL,
	[lsc_lastactionutc] [datetime] NULL,
	[lsc_lastassigned] [datetime] NULL,
	[lsc_lastassignedutc] [datetime] NULL,
	[lsc_lastfollowupdate] [datetime] NULL,
	[lsc_lastfollowupdateutc] [datetime] NULL,
	[lsc_lastopportunitycreateddate] [datetime] NULL,
	[lsc_lastopportunitycreateddateutc] [datetime] NULL,
	[lsc_nextfollowupcontactdate] [datetime] NULL,
	[lsc_nextfollowupcontactdateutc] [datetime] NULL,
	[lsc_previousexperience] [int] NULL,
	[lsc_previousexperiencename] [nvarchar](255) NULL,
	[lsc_referred] [bit] NULL,
	[lsc_referredname] [nvarchar](255) NULL,
	[lsc_referredto] [int] NULL,
	[lsc_referredtoname] [nvarchar](255) NULL,
	[lsc_requesttype] [int] NULL,
	[lsc_requesttypename] [nvarchar](255) NULL,
	[lsc_divisionid] [uniqueidentifier] NULL,
	[lsc_divisioniddsc] [int] NULL,
	[lsc_divisionidname] [nvarchar](100) NULL,
	[lsc_employercommitmenttype] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]