/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[lsc_referredlearningprovider](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[importsequencenumber] [int] NULL,
	[lsc_apprenticeshipopportunityid] [uniqueidentifier] NULL,
	[lsc_apprenticeshipopportunityiddsc] [int] NULL,
	[lsc_apprenticeshipopportunityidname] [nvarchar](300) NULL,
	[lsc_date_referred] [datetime] NULL,
	[lsc_date_referredutc] [datetime] NULL,
	[lsc_date_responded] [datetime] NULL,
	[lsc_date_respondedutc] [datetime] NULL,
	[lsc_employerid] [uniqueidentifier] NULL,
	[lsc_employeriddsc] [int] NULL,
	[lsc_employeridname] [nvarchar](160) NULL,
	[lsc_employeridyominame] [nvarchar](160) NULL,
	[lsc_learningpartnerid] [uniqueidentifier] NULL,
	[lsc_learningpartneriddsc] [int] NULL,
	[lsc_learningpartneridname] [nvarchar](160) NULL,
	[lsc_learningpartneridyominame] [nvarchar](160) NULL,
	[lsc_name] [nvarchar](100) NULL,
	[lsc_referredlearningproviderid] [uniqueidentifier] NULL,
	[lsc_response_time] [int] NULL,
	[lsc_selected] [bit] NULL,
	[lsc_selected_reason] [int] NULL,
	[lsc_selected_reasonname] [nvarchar](255) NULL,
	[lsc_selectedname] [nvarchar](255) NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[organizationid] [uniqueidentifier] NULL,
	[organizationiddsc] [int] NULL,
	[organizationidname] [nvarchar](160) NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](255) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[utcconversiontimezonecode] [int] NULL,
	[lsc_pleasespecify] [nvarchar](100) NULL,
	[lsc_reason_for_referral] [int] NULL,
	[lsc_reason_for_referral_other] [nvarchar](100) NULL,
	[lsc_reason_for_referralname] [nvarchar](255) NULL
) ON [PRIMARY]