/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[ProductPriceLevel](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[exchangerate] [numeric](23, 10) NULL,
	[importsequencenumber] [int] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[pricelevelid] [uniqueidentifier] NULL,
	[priceleveliddsc] [int] NULL,
	[pricelevelidname] [nvarchar](100) NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL,
	[amount] [money] NULL,
	[amount_base] [money] NULL,
	[discounttypeid] [uniqueidentifier] NULL,
	[discounttypeiddsc] [int] NULL,
	[discounttypeidname] [nvarchar](100) NULL,
	[organizationid] [uniqueidentifier] NULL,
	[percentage] [numeric](23, 10) NULL,
	[pricingmethodcode] [int] NULL,
	[pricingmethodcodename] [nvarchar](255) NULL,
	[productid] [uniqueidentifier] NULL,
	[productiddsc] [int] NULL,
	[productidname] [nvarchar](100) NULL,
	[productpricelevelid] [uniqueidentifier] NULL,
	[quantitysellingcode] [int] NULL,
	[quantitysellingcodename] [nvarchar](255) NULL,
	[roundingoptionamount] [money] NULL,
	[roundingoptionamount_base] [money] NULL,
	[roundingoptioncode] [int] NULL,
	[roundingoptioncodename] [nvarchar](255) NULL,
	[roundingpolicycode] [int] NULL,
	[roundingpolicycodename] [nvarchar](255) NULL,
	[uomid] [uniqueidentifier] NULL,
	[uomiddsc] [int] NULL,
	[uomidname] [nvarchar](100) NULL,
	[uomscheduleid] [uniqueidentifier] NULL,
	[uomscheduleiddsc] [int] NULL,
	[uomscheduleidname] [nvarchar](200) NULL
) ON [PRIMARY]