/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[Incident](
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[importsequencenumber] [int] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[timezoneruleversionnumber] [int] NULL,
	[utcconversiontimezonecode] [int] NULL,
	[accountid] [uniqueidentifier] NULL,
	[accountiddsc] [int] NULL,
	[accountidname] [nvarchar](160) NULL,
	[accountidyominame] [nvarchar](160) NULL,
	[actualserviceunits] [int] NULL,
	[billedserviceunits] [int] NULL,
	[caseorigincode] [int] NULL,
	[caseorigincodename] [nvarchar](255) NULL,
	[casetypecode] [int] NULL,
	[casetypecodename] [nvarchar](255) NULL,
	[contactid] [uniqueidentifier] NULL,
	[contactiddsc] [int] NULL,
	[contactidname] [nvarchar](160) NULL,
	[contactidyominame] [nvarchar](450) NULL,
	[contractdetailid] [uniqueidentifier] NULL,
	[contractdetailiddsc] [int] NULL,
	[contractdetailidname] [nvarchar](500) NULL,
	[contractid] [uniqueidentifier] NULL,
	[contractiddsc] [int] NULL,
	[contractidname] [nvarchar](100) NULL,
	[contractservicelevelcode] [int] NULL,
	[contractservicelevelcodename] [nvarchar](255) NULL,
	[customerid] [uniqueidentifier] NULL,
	[customeriddsc] [int] NULL,
	[customeridname] [nvarchar](160) NULL,
	[customeridtype] [int] NULL,
	[customersatisfactioncode] [int] NULL,
	[customersatisfactioncodename] [nvarchar](255) NULL,
	[description] [ntext] NULL,
	[followupby] [datetime] NULL,
	[followupbyutc] [datetime] NULL,
	[incidentid] [uniqueidentifier] NULL,
	[incidentstagecode] [int] NULL,
	[incidentstagecodename] [nvarchar](255) NULL,
	[isdecrementing] [bit] NULL,
	[isdecrementingname] [nvarchar](255) NULL,
	[kbarticleid] [uniqueidentifier] NULL,
	[kbarticleiddsc] [int] NULL,
	[kbarticleidname] [nvarchar](500) NULL,
	[lsc_details] [nvarchar](100) NULL,
	[lsc_magicfaultnumber] [nvarchar](100) NULL,
	[lsc_originatingrequestid] [uniqueidentifier] NULL,
	[lsc_originatingrequestiddsc] [int] NULL,
	[lsc_originatingrequestidname] [nvarchar](200) NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneriddsc] [int] NULL,
	[owneridname] [nvarchar](160) NULL,
	[owneridtype] [int] NULL,
	[owneridyominame] [nvarchar](160) NULL,
	[prioritycode] [int] NULL,
	[prioritycodename] [nvarchar](255) NULL,
	[productid] [uniqueidentifier] NULL,
	[productiddsc] [int] NULL,
	[productidname] [nvarchar](100) NULL,
	[productserialnumber] [nvarchar](100) NULL,
	[responsiblecontactid] [uniqueidentifier] NULL,
	[responsiblecontactiddsc] [int] NULL,
	[responsiblecontactidname] [nvarchar](160) NULL,
	[responsiblecontactidyominame] [nvarchar](450) NULL,
	[severitycode] [int] NULL,
	[severitycodename] [nvarchar](255) NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](255) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[subjectid] [uniqueidentifier] NULL,
	[subjectiddsc] [int] NULL,
	[subjectidname] [nvarchar](500) NULL,
	[ticketnumber] [nvarchar](100) NULL,
	[title] [nvarchar](200) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]