/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[Discount](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[amount] [money] NULL,
	[amount_base] [money] NULL,
	[discountid] [uniqueidentifier] NULL,
	[discounttypeid] [uniqueidentifier] NULL,
	[discounttypeiddsc] [int] NULL,
	[discounttypeidname] [nvarchar](100) NULL,
	[exchangerate] [numeric](23, 10) NULL,
	[highquantity] [numeric](23, 10) NULL,
	[importsequencenumber] [int] NULL,
	[isamounttype] [bit] NULL,
	[isamounttypename] [nvarchar](255) NULL,
	[lowquantity] [numeric](23, 10) NULL,
	[organizationid] [uniqueidentifier] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[percentage] [numeric](23, 10) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL
) ON [PRIMARY]
