CREATE TABLE [dbo].[UserFiscalCalendar](
	[businessunitid] [uniqueidentifier] NULL,
	[businessunitiddsc] [int] NULL,
	[businessunitidname] [nvarchar](160) NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[importsequencenumber] [int] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[effectiveon] [datetime] NULL,
	[effectiveonutc] [datetime] NULL,
	[exchangerate] [numeric](23, 10) NULL,
	[fiscalperiodtype] [int] NULL,
	[period1] [money] NULL,
	[period1_base] [money] NULL,
	[period10] [money] NULL,
	[period10_base] [money] NULL,
	[period11] [money] NULL,
	[period11_base] [money] NULL,
	[period12] [money] NULL,
	[period12_base] [money] NULL,
	[period13] [money] NULL,
	[period13_base] [money] NULL,
	[period2] [money] NULL,
	[period2_base] [money] NULL,
	[period3] [money] NULL,
	[period3_base] [money] NULL,
	[period4] [money] NULL,
	[period4_base] [money] NULL,
	[period5] [money] NULL,
	[period5_base] [money] NULL,
	[period6] [money] NULL,
	[period6_base] [money] NULL,
	[period7] [money] NULL,
	[period7_base] [money] NULL,
	[period8] [money] NULL,
	[period8_base] [money] NULL,
	[period9] [money] NULL,
	[period9_base] [money] NULL,
	[salespersonid] [uniqueidentifier] NULL,
	[salespersoniddsc] [int] NULL,
	[salespersonidname] [nvarchar](160) NULL,
	[salespersonidyominame] [nvarchar](160) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[userfiscalcalendarid] [uniqueidentifier] NULL,
	[utcconversiontimezonecode] [int] NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL
) ON [PRIMARY]
