/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[Account](
	[accountcategorycode] [int] NULL,
	[accountcategorycodename] [nvarchar](255) NULL,
	[accountclassificationcode] [int] NULL,
	[accountclassificationcodename] [nvarchar](255) NULL,
	[accountid] [uniqueidentifier] NULL,
	[accountnumber] [nvarchar](20) NULL,
	[accountratingcode] [int] NULL,
	[accountratingcodename] [nvarchar](255) NULL,
	[address1_addressid] [uniqueidentifier] NULL,
	[address1_addresstypecode] [int] NULL,
	[address1_addresstypecodename] [nvarchar](255) NULL,
	[address1_city] [nvarchar](50) NULL,
	[address1_country] [nvarchar](50) NULL,
	[address1_county] [nvarchar](50) NULL,
	[address1_fax] [nvarchar](50) NULL,
	[address1_freighttermscode] [int] NULL,
	[address1_freighttermscodename] [nvarchar](255) NULL,
	[address1_latitude] [float] NULL,
	[address1_line1] [nvarchar](200) NULL,
	[address1_line2] [nvarchar](200) NULL,
	[address1_line3] [nvarchar](200) NULL,
	[address1_longitude] [float] NULL,
	[address1_name] [nvarchar](200) NULL,
	[address1_postalcode] [nvarchar](20) NULL,
	[address1_postofficebox] [nvarchar](20) NULL,
	[address1_primarycontactname] [nvarchar](150) NULL,
	[address1_shippingmethodcode] [int] NULL,
	[address1_shippingmethodcodename] [nvarchar](255) NULL,
	[address1_stateorprovince] [nvarchar](50) NULL,
	[address1_telephone1] [nvarchar](50) NULL,
	[address1_telephone2] [nvarchar](50) NULL,
	[address1_telephone3] [nvarchar](50) NULL,
	[address1_upszone] [nvarchar](4) NULL,
	[address1_utcoffset] [int] NULL,
	[address2_addressid] [uniqueidentifier] NULL,
	[address2_addresstypecode] [int] NULL,
	[address2_addresstypecodename] [nvarchar](255) NULL,
	[address2_city] [nvarchar](50) NULL,
	[address2_country] [nvarchar](50) NULL,
	[address2_county] [nvarchar](50) NULL,
	[address2_fax] [nvarchar](50) NULL,
	[address2_freighttermscode] [int] NULL,
	[address2_freighttermscodename] [nvarchar](255) NULL,
	[address2_latitude] [float] NULL,
	[address2_line1] [nvarchar](200) NULL,
	[address2_line2] [nvarchar](200) NULL,
	[address2_line3] [nvarchar](200) NULL,
	[address2_longitude] [float] NULL,
	[address2_name] [nvarchar](200) NULL,
	[address2_postalcode] [nvarchar](20) NULL,
	[address2_postofficebox] [nvarchar](20) NULL,
	[address2_primarycontactname] [nvarchar](150) NULL,
	[address2_shippingmethodcode] [int] NULL,
	[address2_shippingmethodcodename] [nvarchar](255) NULL,
	[address2_stateorprovince] [nvarchar](50) NULL,
	[address2_telephone1] [nvarchar](50) NULL,
	[address2_telephone2] [nvarchar](50) NULL,
	[address2_telephone3] [nvarchar](50) NULL,
	[address2_upszone] [nvarchar](4) NULL,
	[address2_utcoffset] [int] NULL,
	[aging30] [money] NULL,
	[aging30_base] [money] NULL,
	[aging60] [money] NULL,
	[aging60_base] [money] NULL,
	[aging90] [money] NULL,
	[aging90_base] [money] NULL,
	[businesstypecode] [int] NULL,
	[businesstypecodename] [nvarchar](255) NULL,
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[creditlimit] [money] NULL,
	[creditlimit_base] [money] NULL,
	[creditonhold] [bit] NULL,
	[creditonholdname] [nvarchar](255) NULL,
	[customersizecode] [int] NULL,
	[customersizecodename] [nvarchar](255) NULL,
	[customertypecode] [int] NULL,
	[customertypecodename] [nvarchar](255) NULL,
	[defaultpricelevelid] [uniqueidentifier] NULL,
	[defaultpriceleveliddsc] [int] NULL,
	[defaultpricelevelidname] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[donotbulkemail] [bit] NULL,
	[donotbulkemailname] [nvarchar](255) NULL,
	[donotbulkpostalmail] [bit] NULL,
	[donotbulkpostalmailname] [nvarchar](255) NULL,
	[donotemail] [bit] NULL,
	[donotemailname] [nvarchar](255) NULL,
	[donotfax] [bit] NULL,
	[donotfaxname] [nvarchar](255) NULL,
	[donotphone] [bit] NULL,
	[donotphonename] [nvarchar](255) NULL,
	[donotpostalmail] [bit] NULL,
	[donotpostalmailname] [nvarchar](255) NULL,
	[donotsendmarketingmaterialname] [nvarchar](255) NULL,
	[donotsendmm] [bit] NULL,
	[emailaddress1] [nvarchar](100) NULL,
	[emailaddress2] [nvarchar](100) NULL,
	[emailaddress3] [nvarchar](100) NULL,
	[exchangerate] [decimal](23, 10) NULL,
	[fax] [nvarchar](50) NULL,
	[ftpsiteurl] [nvarchar](200) NULL,
	[importsequencenumber] [int] NULL,
	[industrycode] [int] NULL,
	[industrycodename] [nvarchar](255) NULL,
	[isprivatename] [nvarchar](255) NULL,
	[lastusedincampaign] [datetime] NULL,
	[lastusedincampaignutc] [datetime] NULL,
	[lsc_employees1618] [int] NULL,
	[lsc_learningproviderstatus] [int] NULL,
	[lsc_learningproviderstatusname] [nvarchar](255) NULL,
	[lsc_navmsregistered] [bit] NULL,
	[lsc_navmsregisteredname] [nvarchar](255) NULL,
	[lsc_noofemployees] [int] NULL,
	[lsc_noofemployeesname] [nvarchar](255) NULL,
	[lsc_sector] [int] NULL,
	[lsc_sectorframework] [int] NULL,
	[lsc_sectorframeworkname] [nvarchar](255) NULL,
	[lsc_sectorname] [nvarchar](255) NULL,
	[lsc_traininghistory] [nvarchar](max) NULL,
	[lsc_uniqueemployernumber] [nvarchar](10) NULL,
	[lsc_uniquelearnerprovidernumber] [nvarchar](10) NULL,
	[marketcap] [money] NULL,
	[marketcap_base] [money] NULL,
	[masteraccountiddsc] [int] NULL,
	[masteraccountidname] [nvarchar](160) NULL,
	[masteraccountidyominame] [nvarchar](160) NULL,
	[masterid] [uniqueidentifier] NULL,
	[merged] [bit] NULL,
	[mergedname] [nvarchar](255) NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[name] [nvarchar](160) NULL,
	[numberofemployees] [int] NULL,
	[originatingleadid] [uniqueidentifier] NULL,
	[originatingleadiddsc] [int] NULL,
	[originatingleadidname] [nvarchar](160) NULL,
	[originatingleadidyominame] [nvarchar](450) NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneriddsc] [int] NULL,
	[owneridname] [nvarchar](160) NULL,
	[owneridtype] [int] NULL,
	[owneridyominame] [nvarchar](160) NULL,
	[ownershipcode] [int] NULL,
	[ownershipcodename] [nvarchar](255) NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owningteam] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[parentaccountid] [uniqueidentifier] NULL,
	[parentaccountiddsc] [int] NULL,
	[parentaccountidname] [nvarchar](160) NULL,
	[parentaccountidyominame] [nvarchar](160) NULL,
	[participatesinworkflow] [bit] NULL,
	[participatesinworkflowname] [nvarchar](255) NULL,
	[paymenttermscode] [int] NULL,
	[paymenttermscodename] [nvarchar](255) NULL,
	[preferredappointmentdaycode] [int] NULL,
	[preferredappointmentdaycodename] [nvarchar](255) NULL,
	[preferredappointmenttimecode] [int] NULL,
	[preferredappointmenttimecodename] [nvarchar](255) NULL,
	[preferredcontactmethodcode] [int] NULL,
	[preferredcontactmethodcodename] [nvarchar](255) NULL,
	[preferredequipmentid] [uniqueidentifier] NULL,
	[preferredequipmentiddsc] [int] NULL,
	[preferredequipmentidname] [nvarchar](160) NULL,
	[preferredserviceid] [uniqueidentifier] NULL,
	[preferredserviceiddsc] [int] NULL,
	[preferredserviceidname] [nvarchar](160) NULL,
	[preferredsystemuserid] [uniqueidentifier] NULL,
	[preferredsystemuseriddsc] [int] NULL,
	[preferredsystemuseridname] [nvarchar](160) NULL,
	[preferredsystemuseridyominame] [nvarchar](160) NULL,
	[primarycontactid] [uniqueidentifier] NULL,
	[primarycontactiddsc] [int] NULL,
	[primarycontactidname] [nvarchar](160) NULL,
	[primarycontactidyominame] [nvarchar](450) NULL,
	[revenue] [money] NULL,
	[revenue_base] [money] NULL,
	[sharesoutstanding] [int] NULL,
	[shippingmethodcode] [int] NULL,
	[shippingmethodcodename] [nvarchar](255) NULL,
	[sic] [nvarchar](20) NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](255) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[stockexchange] [nvarchar](20) NULL,
	[telephone1] [nvarchar](50) NULL,
	[telephone2] [nvarchar](50) NULL,
	[telephone3] [nvarchar](50) NULL,
	[territorycode] [int] NULL,
	[territorycodename] [nvarchar](255) NULL,
	[territoryid] [uniqueidentifier] NULL,
	[territoryiddsc] [int] NULL,
	[territoryidname] [nvarchar](200) NULL,
	[tickersymbol] [nvarchar](10) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[transactioncurrencyid] [uniqueidentifier] NULL,
	[transactioncurrencyiddsc] [int] NULL,
	[transactioncurrencyidname] [nvarchar](100) NULL,
	[utcconversiontimezonecode] [int] NULL,
	[websiteurl] [nvarchar](200) NULL,
	[yominame] [nvarchar](160) NULL,
	[crm_moneyformatstring] [nvarchar](255) NULL,
	[lsc_urn] [nvarchar](10) NULL,
	[lsc_siccodeid] [uniqueidentifier] NULL,
	[lsc_siccodeiddsc] [int] NULL,
	[lsc_siccodeidname] [nvarchar](4000) NULL,
	[lsc_age] [bit] NULL,
	[lsc_agename] [nvarchar](255) NULL,
	[lsc_avemployer] [bit] NULL,
	[lsc_avemployername] [nvarchar](255) NULL,
	[lsc_business_intelligence] [nvarchar](max) NULL,
	[lsc_effortrating] [int] NULL,
	[lsc_effortratingname] [nvarchar](255) NULL,
	[lsc_futurejobsfund] [bit] NULL,
	[lsc_futurejobsfundname] [nvarchar](255) NULL,
	[lsc_keyaccount] [bit] NULL,
	[lsc_keyaccountname] [nvarchar](255) NULL,
	[lsc_managingproviderid] [uniqueidentifier] NULL,
	[lsc_managingprovideriddsc] [int] NULL,
	[lsc_managingprovideridname] [nvarchar](160) NULL,
	[lsc_managingprovideridyominame] [nvarchar](160) NULL,
	[lsc_opportunityrating] [int] NULL,
	[lsc_opportunityratingname] [nvarchar](255) NULL,
	[lsc_opportunityscore] [int] NULL,
	[lsc_otherprimarymanagingorganisation] [nvarchar](100) NULL,
	[lsc_primaryaccountmanager] [int] NULL,
	[lsc_primaryaccountmanagername] [nvarchar](255) NULL,
	[lsc_providerrelationships] [bit] NULL,
	[lsc_providerrelationshipsname] [nvarchar](255) NULL,
	[lsc_skillspledge] [bit] NULL,
	[lsc_skillspledgename] [nvarchar](255) NULL,
	[lsc_statement_of_intent] [nvarchar](max) NULL,
	[lsc_traintogain] [bit] NULL,
	[lsc_traintogainname] [nvarchar](255) NULL,
	[lsc_divisionid] [uniqueidentifier] NULL,
	[lsc_divisioniddsc] [int] NULL,
	[lsc_divisionidname] [nvarchar](100) NULL,
	[lsc_eligibleforsewir2012] [int] NULL,
	[lsc_eligibleforsewir2012name] [nvarchar](255) NULL,
	[lsc_nationalaccount] [int] NULL,
	[lsc_nationalaccountname] [nvarchar](255) NULL,
	[lsc_potentiallyeligibleforsewir2012] [int] NULL,
	[lsc_potentiallyeligibleforsewir2012name] [nvarchar](255) NULL,
	[lsc_urnstatus] [int] NULL,
	[lsc_urnstatusname] [nvarchar](255) NULL,
	[lsc_interestedintraineeships] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]