/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[lsc_request](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[importsequencenumber] [int] NULL,
	[lsc_addressname] [nvarchar](200) NULL,
	[lsc_alternateemail] [nvarchar](100) NULL,
	[lsc_areyouaregitereduserofnavms] [bit] NULL,
	[lsc_areyouaregitereduserofnavmsname] [nvarchar](255) NULL,
	[lsc_businessphone] [nvarchar](100) NULL,
	[lsc_campaignid] [uniqueidentifier] NULL,
	[lsc_campaigniddsc] [int] NULL,
	[lsc_campaignidname] [nvarchar](128) NULL,
	[lsc_channelsource] [int] NULL,
	[lsc_channelsourcename] [nvarchar](255) NULL,
	[lsc_city] [nvarchar](100) NULL,
	[lsc_companyname] [nvarchar](100) NULL,
	[lsc_country] [nvarchar](100) NULL,
	[lsc_county] [nvarchar](100) NULL,
	[lsc_details] [nvarchar](50) NULL,
	[lsc_email] [nvarchar](100) NULL,
	[lsc_fax] [nvarchar](100) NULL,
	[lsc_firstname] [nvarchar](100) NULL,
	[lsc_fulfilled] [bit] NULL,
	[lsc_fulfilledname] [nvarchar](255) NULL,
	[lsc_fulfillmentchanel] [bit] NULL,
	[lsc_fulfillmentchanelname] [nvarchar](255) NULL,
	[lsc_homephone] [nvarchar](100) NULL,
	[lsc_mobilephone] [nvarchar](100) NULL,
	[lsc_natureofenquiry] [nvarchar](max) NULL,
	[lsc_postcode] [nvarchar](100) NULL,
	[lsc_preferredemail] [nvarchar](100) NULL,
	[lsc_regionid] [uniqueidentifier] NULL,
	[lsc_regioniddsc] [int] NULL,
	[lsc_regionidname] [nvarchar](200) NULL,
	[lsc_request] [nvarchar](200) NULL,
	[lsc_requestformarketinginfo] [bit] NULL,
	[lsc_requestformarketinginfoname] [nvarchar](255) NULL,
	[lsc_requestid] [uniqueidentifier] NULL,
	[lsc_requesttype] [int] NULL,
	[lsc_requesttypename] [nvarchar](255) NULL,
	[lsc_stakeholdertype] [int] NULL,
	[lsc_stakeholdertypename] [nvarchar](255) NULL,
	[lsc_street1] [nvarchar](100) NULL,
	[lsc_street2] [nvarchar](100) NULL,
	[lsc_street3] [nvarchar](100) NULL,
	[lsc_surname] [nvarchar](100) NULL,
	[lsc_title] [nvarchar](100) NULL,
	[lsc_ukprn] [nvarchar](100) NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[ownerid] [uniqueidentifier] NULL,
	[owneriddsc] [int] NULL,
	[owneridname] [nvarchar](160) NULL,
	[owneridtype] [int] NULL,
	[owningbusinessunit] [uniqueidentifier] NULL,
	[owninguser] [uniqueidentifier] NULL,
	[statecode] [int] NULL,
	[statecodename] [nvarchar](255) NULL,
	[statuscode] [int] NULL,
	[statuscodename] [nvarchar](255) NULL,
	[timezoneruleversionnumber] [int] NULL,
	[utcconversiontimezonecode] [int] NULL,
	[lsc_hearaboutapprenticeships] [int] NULL,
	[lsc_hearaboutapprenticeshipsname] [nvarchar](255) NULL,
	[lsc_noofemployees] [int] NULL,
	[lsc_noofemployeesname] [nvarchar](255) NULL,
	[lsc_position] [nvarchar](100) NULL,
	[lsc_previousexperience] [int] NULL,
	[lsc_previousexperiencename] [nvarchar](255) NULL,
	[lsc_sector] [int] NULL,
	[lsc_sectorname] [nvarchar](255) NULL,
	[lsc_contactedon] [datetime] NULL,
	[lsc_contactedonutc] [datetime] NULL,
	[lsc_convertedtoleadon] [datetime] NULL,
	[lsc_convertedtoleadonutc] [datetime] NULL,
	[lsc_deactivatereason] [int] NULL,
	[lsc_deactivatereasonname] [nvarchar](255) NULL,
	[lsc_employercommitmentcheckbox] [bit] NULL,
	[lsc_employercommitmentcheckboxname] [nvarchar](255) NULL,
	[lsc_followup] [datetime] NULL,
	[lsc_followuputc] [datetime] NULL,
	[lsc_followupcontactmadeon] [datetime] NULL,
	[lsc_followupcontactmadeonutc] [datetime] NULL,
	[lsc_followupnote] [nvarchar](4000) NULL,
	[lsc_initialcontactmadeon] [datetime] NULL,
	[lsc_initialcontactmadeonutc] [datetime] NULL,
	[lsc_referredinternallyon] [datetime] NULL,
	[lsc_referredinternallyonutc] [datetime] NULL,
	[lsc_referredtobrokeron] [datetime] NULL,
	[lsc_referredtobrokeronutc] [datetime] NULL,
	[lsc_referredtocallcentreon] [datetime] NULL,
	[lsc_referredtocallcentreonutc] [datetime] NULL,
	[lsc_referredtoconnexionson] [datetime] NULL,
	[lsc_referredtoconnexionsonutc] [datetime] NULL,
	[lsc_requestdeactivatedon] [datetime] NULL,
	[lsc_requestdeactivatedonutc] [datetime] NULL,
	[lsc_stage] [int] NULL,
	[lsc_stagechangedon] [datetime] NULL,
	[lsc_stagechangedonutc] [datetime] NULL,
	[lsc_stagename] [nvarchar](255) NULL,
	[lsc_stagestatus] [int] NULL,
	[lsc_stagestatusname] [nvarchar](255) NULL,
	[lsc_deactivate_reason_other] [nvarchar](100) NULL,
	[lsc_frameworkcheckbox] [bit] NULL,
	[lsc_frameworkcheckboxname] [nvarchar](255) NULL,
	[lsc_providercapacitycheckbox] [bit] NULL,
	[lsc_providercapacitycheckboxname] [nvarchar](255) NULL,
	[lsc_siccodeid] [uniqueidentifier] NULL,
	[lsc_siccodeiddsc] [int] NULL,
	[lsc_siccodeidname] [nvarchar](4000) NULL,
	[lsc_urn] [nvarchar](9) NULL,
	[lsc_companyid] [uniqueidentifier] NULL,
	[lsc_companyiddsc] [int] NULL,
	[lsc_companyidname] [nvarchar](160) NULL,
	[lsc_companyidyominame] [nvarchar](160) NULL,
	[lsc_contactid] [uniqueidentifier] NULL,
	[lsc_contactiddsc] [int] NULL,
	[lsc_contactidname] [nvarchar](160) NULL,
	[lsc_contactidyominame] [nvarchar](450) NULL,
	[lsc_divisionid] [uniqueidentifier] NULL,
	[lsc_divisioniddsc] [int] NULL,
	[lsc_divisionidname] [nvarchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
