/*
Added to support the existing Data Science ETL process used to produce MI reports
*/
CREATE TABLE [dbo].[Site](
	[createdby] [uniqueidentifier] NULL,
	[createdbydsc] [int] NULL,
	[createdbyname] [nvarchar](160) NULL,
	[createdbyyominame] [nvarchar](160) NULL,
	[createdon] [datetime] NULL,
	[createdonutc] [datetime] NULL,
	[importsequencenumber] [int] NULL,
	[modifiedby] [uniqueidentifier] NULL,
	[modifiedbydsc] [int] NULL,
	[modifiedbyname] [nvarchar](160) NULL,
	[modifiedbyyominame] [nvarchar](160) NULL,
	[modifiedon] [datetime] NULL,
	[modifiedonutc] [datetime] NULL,
	[overriddencreatedon] [datetime] NULL,
	[overriddencreatedonutc] [datetime] NULL,
	[address1_addressid] [uniqueidentifier] NULL,
	[address1_addresstypecode] [int] NULL,
	[address1_addresstypecodename] [nvarchar](255) NULL,
	[address1_city] [nvarchar](50) NULL,
	[address1_country] [nvarchar](50) NULL,
	[address1_county] [nvarchar](50) NULL,
	[address1_fax] [nvarchar](50) NULL,
	[address1_latitude] [float] NULL,
	[address1_line1] [nvarchar](200) NULL,
	[address1_line2] [nvarchar](200) NULL,
	[address1_line3] [nvarchar](200) NULL,
	[address1_longitude] [float] NULL,
	[address1_name] [nvarchar](200) NULL,
	[address1_postalcode] [nvarchar](20) NULL,
	[address1_postofficebox] [nvarchar](20) NULL,
	[address1_shippingmethodcode] [int] NULL,
	[address1_shippingmethodcodename] [nvarchar](255) NULL,
	[address1_stateorprovince] [nvarchar](50) NULL,
	[address1_telephone1] [nvarchar](50) NULL,
	[address1_telephone2] [nvarchar](50) NULL,
	[address1_telephone3] [nvarchar](50) NULL,
	[address1_upszone] [nvarchar](4) NULL,
	[address1_utcoffset] [int] NULL,
	[address2_addressid] [uniqueidentifier] NULL,
	[address2_addresstypecode] [int] NULL,
	[address2_addresstypecodename] [nvarchar](255) NULL,
	[address2_city] [nvarchar](50) NULL,
	[address2_country] [nvarchar](50) NULL,
	[address2_county] [nvarchar](50) NULL,
	[address2_fax] [nvarchar](50) NULL,
	[address2_latitude] [float] NULL,
	[address2_line1] [nvarchar](200) NULL,
	[address2_line2] [nvarchar](200) NULL,
	[address2_line3] [nvarchar](200) NULL,
	[address2_longitude] [float] NULL,
	[address2_name] [nvarchar](200) NULL,
	[address2_postalcode] [nvarchar](20) NULL,
	[address2_postofficebox] [nvarchar](20) NULL,
	[address2_shippingmethodcode] [int] NULL,
	[address2_shippingmethodcodename] [nvarchar](255) NULL,
	[address2_stateorprovince] [nvarchar](50) NULL,
	[address2_telephone1] [nvarchar](50) NULL,
	[address2_telephone2] [nvarchar](50) NULL,
	[address2_telephone3] [nvarchar](50) NULL,
	[address2_upszone] [nvarchar](4) NULL,
	[address2_utcoffset] [int] NULL,
	[emailaddress] [nvarchar](100) NULL,
	[name] [nvarchar](160) NULL,
	[organizationid] [uniqueidentifier] NULL,
	[siteid] [uniqueidentifier] NULL,
	[timezonecode] [int] NULL
) ON [PRIMARY]