@model SFA.Apprenticeships.Web.Recruit.ViewModels.InformationRadiatorViewModel

@{

}

<h1 class="heading-xlarge">Service Status</h1>

<ul>
    <li>Database: @(Model.DatabaseStatus.ToString())</li>
</ul>