@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Admin.ManageVacancyTransferViewModel

@{
    ViewBag.Title = "ManageVacanciesTransfers";
}

<h1 id="heading" class="heading-xlarge">Manage Vacancies Transfers</h1>

@Html.DisplayTextFor(m=>m.ProviderId)
@Html.DisplayTextFor(m => m.ProviderSiteId)

