<div class="account-info">
    <div class="small-btm-margin">
        <span class="your-name" id="bannerUserName">John Smith (Key Training Ltd)</span>
        <a href="/apprentice/profile-signin.html?Status=signout" id="btnSignOut"><i class="fa fa-sign-out"></i>Sign out</a>
    </div>
    <div>
        <a class="account-link" id="applicationsLink" href="recruitment-home.html">Home</a>
        <a class="account-link" id="applicationsLink" href="manage-sites.html">Provider details</a>
        <a class="" id="applicationsLink" href="user-info.html">Contact details</a>
    </div>
</div>

