@using SFA.Apprenticeships.Domain.Entities.Raa.Vacancies
@model VacancyType

@if (Model == VacancyType.Traineeship)
{
    <section class="section-border grid-row" id="about-traineeships">
        <h2 class="heading-large">About traineeships</h2>
        <div class="column-two-thirds">
            <div class="inner-block-padr">
                <p>
                    A traineeship is a course with work experience that gets you ready for work or an apprenticeship. It can last up to 6 months.<br />
                    You can apply if you’re:
                    <ul>
                        <li>eligible to work in England</li>
                        <li>unemployed and have little or no work experience</li>
                        <li>aged 16 to 24 and qualified below Level 3</li>
                    </ul>
                </p>
                <p>
                    You’ll get:
                    <ul>
                        <li>a work experience placement</li>
                        <li>help with English and maths (if you need it)</li>
                    </ul>
                </p>
                <p>You won’t be paid, but you may be given expenses for things like travel and meals.</p>
            </div>
        </div>
    </section>
}