@using SFA.Apprenticeships.Web.Manage.Constants
@{
    ViewBag.Title = "Service unavailable";
}
<p>
    Sorry, there appears to be an error with this page. Please refresh your browser or try navigating to <a href="@Url.RouteUrl(ManagementRouteNames.LandingPage)">Recruitment home</a>.
</p>
