<div class="footer__hidden-version">
    @{
        var version = ViewBag.Version;
        var environment = ViewBag.Environment;
    }
    Environment: @environment &#x25cf; Version: @version &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>

