@model SFA.Apprenticeships.Web.Candidate.ViewModels.Applications.ApprenticeshipApplicationViewModel

<div class="hide-nojs" data-enter-action="#addTrainingCourseBtn" data-bind=" visible selectedsection()= = ='applyTrainingCourses' , stopbinding true">
    <fieldset id="applyTrainingCourses" class="sfa-xlarge-bottom-margin sfa-section-bordered">
        <legend class="heading-large">Training courses</legend>
        <p class="hide-nojs form-label-bold text" id="trainingCoursesQuestion">Have you been on a training course?</p>
        <p class="form-hint text" id="appTourTraining">
            Include any courses you've received, in or outside of work
        </p>
        <div class="hide-nojs">
            <div class="form-group inline clearfix">
                <label id="training-history-yes-label" data-target="training-history-panel" for="training-history-yes" class="block-label selection-button-radio" data-bind="css: {selected: showTrainingCourses()}">
                    @Html.RadioButtonFor(m => m.Candidate.HasTrainingCourses, true, new { id = "training-history-yes", data_bind = "attr:{'checked': hasTrainingCourses() }", aria_controls = "training-history-panel", aria_expanded = "false", aria_labelledby = "trainingCoursesQuestion" })
                    Yes
                </label>
                <label id="training-history-no-label" for="training-history-no" class="block-label selection-button-radio" data-bind="css: {selected: !showTrainingCourses()}">
                    @Html.RadioButtonFor(m => m.Candidate.HasTrainingCourses, false, new { id = "training-history-no", data_bind = "attr:{'checked': hasNoTrainingCourses() }", aria_labelledby = "hasNoTrainingCoursesQuestion" })
                    No
                </label>
            </div>
            <div id="training-history-panel" class="toggle-content" data-bind="style: {'display': trainingCoursesStatus() }" aria-hidden="true">
                <div id="training-history-apply" class="clearfix">
                    <div class="form-group form-group-compound" data-bind="parentvalElement: provider">
                        <label for="training-history-provider" class="form-label-bold">Provider</label>
                        <input type="text" class="form-control" id="training-history-provider" data-bind="value: provider" maxlength="50">
                    </div>
                    <div class="form-group form-group-compound" data-bind="parentvalElement: title">
                        <label for="training-history-course-title" class="form-label-bold">Course title</label>
                        <input type="text" class="form-control" id="training-history-course-title" data-bind="value: title" maxlength="50">
                    </div>
                    <div class="form-group inline-fixed validation-message-parent">
                        <div class="form-group error-wrapper vert-align-top sfa-no-bottom-margin">
                            <label for="training-history-from-month" class="form-label-bold">From</label>
                            <div class="form-group form-group-compound sfa-no-bottom-margin">
                                <span class="form-hint">Month</span>
                                <select class="form-control" id="training-history-from-month" data-bind="options: months, optionsText: 'monthName', optionsValue: 'monthNumber', value: fromMonth"></select>
                            </div>
                            <div class="form-group sfa-no-bottom-margin" data-bind="parentvalElement: fromYear">
                                <label for="training-history-from-year" class="form-hint">Year</label>
                                <input type="tel" class="form-control form-control-small" pattern="[0-9]*" maxlength="4" id="training-history-from-year" data-bind="value: fromYear">
                            </div>
                        </div>
                        <div class="form-group error-wrapper vert-align-top sfa-no-bottom-margin">
                            <label for="training-history-to-month" class="form-label-bold">To</label>
                            <div class="form-group form-group-compound sfa-no-bottom-margin">
                                <span class="form-hint">Month</span>
                                <select class="form-control" id="training-history-to-month" data-bind="options: months, optionsText: 'monthName', optionsValue: 'monthNumber', value: toMonth"></select>
                            </div>
                            <div class="form-group form-group-compound sfa-no-bottom-margin" data-bind="parentvalElement: toYear">
                                <label for="training-history-to-year" class="form-hint">Year</label>
                                <input type="tel" class="form-control form-control-small" pattern="[0-9]*" maxlength="4"
                                       id="training-history-to-year" data-bind="value: toYear" />
                            </div>
                        </div>
                        <div class="validation-message-container"></div>
                    </div>
                    <div class="form-group">
                        <a role="button" href="#" class="button" id="addTrainingCourseBtn" data-bind="click: addTrainingCourse">Save this training course</a>
                        <span class="visuallyhidden" aria-live="polite" id="trainingCourseAddConfirmText"></span>
                    </div>
                </div>
                <div id="training-history-summary" data-bind="foreach: trainingCourseItems">
                    <div class="grid-3-4">
                        <div id="training-history-item" class="grid-row training-history-item">
                            <div class="training-controls">
                                <div class="training-edit sfa-align-center">
                                    <a href="#" class="fake-link cell-span" data-bind="if: showEditButton, click: $parent.editTrainingCourse">Edit</a>
                                    <a href="#" class="fake-link cell-span" data-bind="ifnot: showEditButton,click: $parent.saveTrainingCourse">Save</a>
                                </div>
                                <div class="training-delete sfa-align-center">
                                    <span class="cell-span">
                                        <i class="font-xsmall fa fa-times-circle icon-black remove-training-history-item-link" data-bind="click: $parent.removeTrainingCourse"></i>
                                        <i class="visuallyhidden">Remove</i>
                                    </span>
                                </div>
                            </div>
                            <div class="column-one-half">
                                <table class="table-no-btm-border table-compound">
                                    <colgroup>
                                        <col class="t100">
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="heading-span">Training course</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-group form-group-compound inline-float width-all-49" data-bind="visible: !showEditButton()">
                                                    <input type="text" title="Provider" class="form-control" data-bind="value: itemProvider, attr:{'name':'Candidate.TrainingCourses[' + $index() +'].Provider'}" maxlength="50" />
                                                </div>
                                                <span class="cell-span training-history-provider-span" data-bind="visible: showEditButton, text: itemProvider, attr:{'id':'candidate_trainingcourses_' + $index() + '__provider'}"></span>
                                                <span class="cell-span training-hyphen" data-bind="visible: showEditButton">-</span>
                                                <div class="form-group form-group-compound inline-float width-all-49 no-right-margin" data-bind="visible: !showEditButton()">
                                                    <input type="text" title="Training course title" class="form-control" data-bind="value: itemTitle, attr:{'name':'Candidate.TrainingCourses[' + $index() +'].Title'}" maxlength="50" />
                                                </div>
                                                <span class="cell-span training-history-course-title-span" data-bind="visible: showEditButton, text: itemTitle, attr:{'id':'candidate_trainingcourses_' + $index() + '__title'}"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="column-one-half">
                                <table class="table-no-btm-border table-compound">
                                    <colgroup>
                                        <col class="t30">
                                        <col class="t30">
                                        <col class="t25">
                                        <col class="t15">
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="heading-span">From</span>
                                            </th>
                                            <th>
                                                <span class="heading-span">To</span>
                                            </th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="validation-message-parent">
                                                <div class="form-group form-group-compound" data-bind="visible: !showEditButton()">
                                                    <select class="form-control" title="From month" data-bind="options: $parent.months, optionsText: 'monthName', optionsValue: 'monthNumber', value: itemFromMonth, attr:{'name':'Candidate.TrainingCourses[' + $index() +'].FromMonth'} "></select>
                                                </div>
                                                <div class="form-group form-group-compound" data-bind="visible: !showEditButton()">
                                                    <input title="From year" type="text" class="form-control" data-bind="value: itemFromYear, attr:{'name':'Candidate.TrainingCourses[' + $index() +'].FromYear'}" pattern="[0-9]*" maxlength="4">
                                                </div>
                                                <span class="cell-span" data-bind="visible: showEditButton, text: getMonthLabel(itemFromMonth()), attr:{'id':'candidate_trainingcourses_' + $index() + '__frommonth'}"></span>
                                                <span class="cell-span" data-bind="visible: showEditButton, text: itemFromYear, attr:{'id':'candidate_trainingcourses_' + $index() + '__fromyear'}"></span>
                                                <div class="validation-message-container"></div>
                                            </td>
                                            <td class="validation-message-parent">
                                                <div class="form-group form-group-compound" data-bind="visible: !showEditButton()">
                                                    <select class="form-control" title="To month" data-bind="options: $parent.months, optionsText: 'monthName', optionsValue: 'monthNumber', value: itemToMonth, attr:{'name':'Candidate.TrainingCourses[' + $index() +'].ToMonth'}"></select>
                                                </div>
                                                <div class="form-group form-group-compound" data-bind="visible: !showEditButton()">
                                                    <input title="To year" type="text" class="form-control" data-bind="value: itemToYear, attr:{'name':'Candidate.TrainingCourses[' + $index() +'].ToYear'}" pattern="[0-9]*" maxlength="4">
                                                </div>
                                                <span class="cell-span" data-bind="visible: showEditButton, text: getMonthLabel(itemToMonth()), attr:{'id':'candidate_trainingcourses_' + $index() + '__tomonth'}"></span>
                                                <span class="cell-span" data-bind="visible: showEditButton, text: itemToYear, attr:{'id':'candidate_trainingcourses_' + $index() + '__toyear'}"></span>
                                                <div class="validation-message-container"></div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>

