@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy.CommentViewModel

@if (Model.HasComment)
{
    <details class="open" open>
        <summary>@Model.CommentLabel</summary>
        <div class="detail-content qa-comment">
            <div class="blocklabel-single-container preserve-formatting">@Model.Comment</div>
        </div>
    </details>
}