@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy.CommentViewModel
    
@if (Model.HasComment)
{
    <a href="@Model.ViewCommentUrl"><i class="fa fa-comment the-icon raa-icon-comment" title="there are comments"><span class="visuallyhidden">there are comments</span></i></a>
}
