@model NewVacancyViewModel
@using System.Web.Mvc.Html
@using SFA.Apprenticeships.Domain.Entities.Vacancies.ProviderVacancies.Apprenticeship
@using SFA.Apprenticeships.Web.Manage.Constants
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy

@using (Html.BeginRouteForm(ManagementRouteNames.BasicDetails, FormMethod.Post))
{
    @Html.DisplayFor(m => m, NewVacancyViewModel.PartialView)

    <div class="form-group">
        <button type="submit" class="button">Save</button>
        @Html.RouteLink("Cancel", ManagementRouteNames.ReviewVacancy, new { vacancyReferenceNumber = Model.VacancyReferenceNumber })
    </div>
}

@section scripts
{
    <script>
        $("input[name='OfflineVacancy']").change(function () {
            var selectedValue = $("input[name='OfflineVacancy']:checked").val();
            if (selectedValue === "False") {
                $("#apprenticeship-offline-application-url").val("");
                $("#apprenticheship-offline-application-instructions").val("");
            }
        });
    </script>
}