@model VacancyQuestionsViewModel
@using SFA.Apprenticeships.Web.Manage.Constants
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy

@using (Html.BeginRouteForm(ManagementRouteNames.Questions, FormMethod.Post, new { id = "vacancy-questions-form" }))
{
    @Html.DisplayFor(m => m, VacancyQuestionsViewModel.PartialView)

    <div class="column-one-half inline">
        <button type="submit" class="button">Save</button>
        @Html.RouteLink("Cancel", ManagementRouteNames.ReviewVacancy, new { vacancyReferenceNumber = Model.VacancyReferenceNumber }, new { @class = "button sfa-button-secondary" })
    </div>
}