@model VacancyRequirementsProspectsViewModel
@using SFA.Apprenticeships.Domain.Entities.Raa.Vacancies
@using SFA.Apprenticeships.Web.Manage.Constants
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy

@using (Html.BeginRouteForm(ManagementRouteNames.RequirementsAndProspoects, FormMethod.Post, new { id = "vacancy-requirements-and-prospects-form" }))
{
    @Html.DisplayFor(m => m, VacancyRequirementsProspectsViewModel.PartialView)

    <div class="column-one-half inline">
        <button type="submit" class="button">Save</button>
        @Html.RouteLink("Cancel", ManagementRouteNames.ReviewVacancy, new { vacancyReferenceNumber = Model.VacancyReferenceNumber }, new { @class = "button sfa-button-secondary" })
    </div>
}


@section scripts
{
    @Html.Partial("HtmlTextEditor")
}