@model VacancyViewModel
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@using SFA.Apprenticeships.Web.Manage.Constants
@{
    ViewBag.Title = "QA a Vacancy - Review vacancy";
}

@Html.Partial("ValidationSummary", ViewData.ModelState)

<div>
    @Html.DisplayFor(m => m, "Vacancy/VacancyPreviewHeader")
    @Html.DisplayFor(m => m, VacancyViewModel.PartialView)

    @using (Html.BeginRouteForm(ManagementRouteNames.ApproveVacancy, FormMethod.Post, new { id = "approve-vacancy-form" }))
    {
        @Html.HiddenFor(m => m.VacancyReferenceNumber)

        <section class="sfa-xlarge-top-margin">
            <div class="form-group inline">
                <button id="btnApprove" type="submit" class="button" name="VacancyQAAction" value="Approve">Approve and continue to next vacancy</button>
                <button id="btnReject" type="submit" class="button sfa-button-secondary" name="VacancyQAAction" value="Reject">Refer and continue to next vacancy</button>
                <button id="btnUnReserve" type="submit" class="button sfa-button-secondary" name="VacancyQAAction" value="UnReserveForQA">Agency home</button>
            </div>
        </section>
    }
</div>