@model VacancySummaryViewModel
@using SFA.Apprenticeships.Web.Manage.Constants
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy

@using (Html.BeginRouteForm(ManagementRouteNames.Summary, FormMethod.Post))
{
    @Html.DisplayFor(m => m, VacancySummaryViewModel.PartialView)

    <div class="grid grid-1-2">
        <button type="submit" class="button">Save</button>
        @Html.RouteLink("Cancel", ManagementRouteNames.ReviewVacancy, new { vacancyReferenceNumber = Model.VacancyReferenceNumber })
    </div>
}