@model FurtherVacancyDetailsViewModel
@using SFA.Apprenticeships.Web.Manage.Constants
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy

@using (Html.BeginRouteForm(ManagementRouteNames.Summary, FormMethod.Post, new { id = "vacancy-summary-form" }))
{
    @Html.HiddenFor(m => m.AcceptWarnings)

    @Html.DisplayFor(m => m, FurtherVacancyDetailsViewModel.PartialView)

    <div class="column-one-half inline">
        <button type="submit" class="button">Save</button>
        @Html.RouteLink("Cancel", ManagementRouteNames.ReviewVacancy, new { vacancyReferenceNumber = Model.VacancyReferenceNumber }, new { @class = "button sfa-button-secondary" })
    </div>
}

@section scripts
{
    @Html.Partial("HtmlTextEditor")
}