@model VacancyViewModel
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@{
    ViewBag.Title = "QA a Vacancy - View vacancy";
}

<div>
    @Html.DisplayFor(m => m, "Vacancy/VacancyPreviewHeader")
    @Html.DisplayFor(m => m, VacancyViewModel.PartialView)
</div>