@using SFA.Apprenticeships.Web.Raa.Common.Constants.ViewModels
@using SFA.Apprenticeships.Web.Recruit.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.BulkDeclineCandidatesViewModel

@{
    ViewBag.Title = "Sent Decision Confirmation";
}

<div class="success-banner" role="alert" aria-live="assertive">
    <h1 class="heading-large no-btm-margin">
        <i class="fa fa-check"></i>
        @(ApplicationViewModelMessages.BulkUnsuccessfulDecisionFormat + Model.SelectedApplicationIds.Count() + " candidates")
    </h1>
</div>

@Html.RouteLink("Return to vacancy applications", RecruitmentRouteNames.VacancyApplications, new { Model.VacancyApplicationsSearch.VacancyReferenceNumber }, new { @class = "button" })