@model SFA.Apprenticeships.Web.Recruit.ViewModels.Application.VacancyApplicationsViewModel

@{
    ViewBag.Title = "Recruit an Apprentice - Vacancy applications";
}

<div>
    <section>
        <div class="hgroup text">
            <h1 class="heading-xlarge" id="vacancy-title" itemprop="title">
                @Model.Title
            </h1>
            <p class="subtitle" id="vacancy-subtitle-employer-name" itemprop="hiringOrganization">@Model.EmployerName</p>
        </div>
        <div class="grid-wrapper">
            <div class="grid grid-2-3">
                <div class="inner-block-padr">
                    <div>
                        <div class="text" itemprop="description">
                            <p id="vacancy-description" class="preserve-formatting">@Model.ShortDescription</p>
                            <p>
                                <a href="live-apprenticeship.html">View apprenticeship</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-1-3">
                <p class="small-btm-margin">
                    <a href="create-vacancy-clone.html">Clone</a>
                </p>
                <p class="small-btm-margin">
                    <a href="">Extend</a>
                </p>
                <p class="small-btm-margin">
                    <a href="">Withdraw</a>
                </p>
                <p>
                    <a href="">Close</a>
                </p>
            </div>
        </div>
    </section>
</div>