<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- DEV CONFIG -->
	<configSections>
    <section name="SendGridConfiguration" type="SFA.Apprenticeships.Infrastructure.Communication.Email.SendGridConfiguration, SFA.Apprenticeships.Infrastructure"  requirePermission="false"/>		
	</configSections>
  <SendGridConfiguration>
    <Template
			Name="MessageTypes.EmployerEnquiry"
			Id="0ce03384-ba2d-49a7-9d5c-06d167d702bb"
			FromEmail="employerenquiry@apprenticeships.org.uk"
		/>
    <Template
			Name="MessageTypes.EmployerEnquiryConfirmation"
			Id="acd4e7d8-8528-4590-8648-a82e42554b92"
			FromEmail="employerenquiry@apprenticeships.org.uk"
		/>
    <Template
			Name="MessageTypes.GlaEmployerEnquiry"
			Id="0ce03384-ba2d-49a7-9d5c-06d167d702bb"
			FromEmail="employerenquiry@apprenticeships.org.uk"
		/>
    <Template
			Name="MessageTypes.GlaEmployerEnquiryConfirmation"
			Id="acd4e7d8-8528-4590-8648-a82e42554b92"
			FromEmail="donotreply@contactforms-sfa.gov.uk"
		/>
    <Template
        Name="MessageTypes.WebAccessRequest"
        Id="57a93836-f6f3-4709-9180-a0a9e6e18b69"
        FromEmail="donotreply@contactforms-sfa.gov.uk"
		/>
    <Template
        Name="MessageTypes.WebAccessRequestConfirmation"
        Id="7cee07d8-7811-491c-b5a2-d0d30a5f35b3"
        FromEmail="donotreply@contactforms-sfa.gov.uk"
		/>
  </SendGridConfiguration>
</configuration>