<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- DEV CONFIG -->
	<configSections>
    <section name="SendGridConfiguration" type="SFA.Apprenticeships.Infrastructure.Communication.Email.SendGridConfiguration, SFA.Apprenticeships.Infrastructure"  requirePermission="false"/>		
	</configSections>
  <SendGridConfiguration>
    <Template
			Name="MessageTypes.SendEmployerEnquiry"
			Id="0ce03384-ba2d-49a7-9d5c-06d167d702bb"
			FromEmail="donotreply@dev.contactforms-sfa.gov.uk"
		/>
    <Template
			Name="MessageTypes.SendGlaEmployerEnquiry"
			Id="0ce03384-ba2d-49a7-9d5c-06d167d702bb"
			FromEmail="donotreply@dev.apprenticeships.gov.uk"
		/>
    <Template
        Name="MessageTypes.SendWebAccessRequest"
        Id="57a93836-f6f3-4709-9180-a0a9e6e18b69"
        FromEmail="donotreply@dev.contactforms-sfa.gov.uk"
		/>
  </SendGridConfiguration>
</configuration>