@model ApprenticeshipSearchViewModel
@{
    var allChecked = Model.SearchField == "All" ? " checked" : "";
    var jobChecked = Model.SearchField == "JobTitle" ? " checked" : "";
    var descriptionChecked = Model.SearchField == "Description" ? " checked" : "";
    var employerChecked = Model.SearchField == "Employer" ? " checked" : "";
    var refChecked = Model.SearchField == "ReferenceNumber" ? " checked" : "";
}           

<span id="refine-search" class="hidden fake-link summary-style">Refine search</span>
<div id="refine-controls" class="hidden panel-indent med-btm-margin">
    <span class="form-hint">Choose an option to refine your search</span>
    <label class="form-label" for="refine-all"><input id="refine-all" type="radio" name="SearchField" value="All" @allChecked>All</label>
    <label class="form-label" for="refine-jobtitle"><input id="refine-jobtitle" type="radio" name="SearchField" value="JobTitle"@jobChecked>Job title</label>
    <label class="form-label" for="refine-description"><input id="refine-description" type="radio" name="SearchField" value="Description"@descriptionChecked>Description</label>
    <label class="form-label" for="refine-employer"><input id="refine-employer" type="radio" name="SearchField" value="Employer"@employerChecked>Employer</label>
    <label class="form-label" for="refine-reference"><input id="refine-reference" type="radio" name="SearchField" value="ReferenceNumber"@refChecked>Reference number</label>
</div>