@using SFA.Apprenticeships.Domain.Entities.Vacancies

@model ApprenticeshipVacancyDetailViewModel

    <h3 class="heading-small">@Model.Wage.Unit.GetHeaderDisplayText()</h3>
    <p id="vacancy-wage">
        @WagePresenter.GetDisplayAmount(Model.Wage.Type, Model.Wage.Amount, Model.Wage.AmountLowerBound, Model.Wage.AmountUpperBound, Model.Wage.Text, Model.Wage.HoursPerWeek, Model.StartDate)
    </p>


@if (Model.Wage.Type == WageType.ApprenticeshipMinimum)
{
    @Html.Partial("_ApprenticeMinimumWageExplained", Model.StartDate)
}

@if (Model.Wage.Type == WageType.NationalMinimum)
{
    @Html.Partial("_NationalMinimumWageExplained", Model.StartDate)
}
