.cancel-link{
    margin-left: 12px;
}

.locations-table {
    .location-positions {
        text-align: center;
    }
    .locations-positions-header{
        text-align: center;
    }
}

.location-search-results{
    padding: 0;
    vertical-align: middle;
}

.add-location-link{
    margin-top: 8px;
}

.remove-button-link{
    font-size: 14px;
}

.use-location-button-link{
    font-size: 14px;
}

.editable-item {
    position: relative;
    margin: -5px -5px 10px -5px;
    padding: 5px;
    .text,
    details,
    p {
        margin-bottom: 0;
    }
    .edit-comment-link {
        clear: both;
        @include copy-16;
        display: block;
        margin: .5rem 0;
    }
}

html:not(.touch) .editable-item {
    border: 1px dotted #fff;
    .edit-comment-link {
        color: white;
        &:focus {
            color: #005ea5;
        }
    }       
    &:hover {
        background: rgba( 0, 0, 0, .025 );
        border: 1px dotted #d4d4d4;
        .edit-comment-link {
            color: #005ea5;
        }
    }
}

.fa-flag {
    color: $light-blue;
}

.fa-check {
    color: $turquoise;
}

.raa-icon-comment {
    @extend copy-19;
    font-size: 19px !important;    
    color: $turquoise;
}

h2{
    a{
        i.raa-icon-comment{
            vertical-align: middle;
        }
    }
}

.preserve-formatting{
    white-space: pre-line;
}