.cancel-link{
    margin-left: 12px;
}

.locations-table {
    .location-positions {
        text-align: center;
    }
    .locations-positions-header{
        text-align: center;
    }
    tbody tr{
        height: 78px;
    }
}

.location-search-results{
    padding: 0;
    vertical-align: middle;
}

.add-location-link{
    margin-top: 8px;
}

.remove-button-link{
    font-size: 14px;
}

.use-location-button-link{
    font-size: 14px;
}

.editable-item {
    position: relative;
    margin: -5px -5px 10px -5px;
    padding: 5px;
    .text,
    details,
    p {
        margin-bottom: 0;
    }
    .edit-comment-link {
        clear: both;
        @include copy-16;
        display: block;
        margin: .5rem 0;
    }
}

html:not(.touch) .editable-item {
    border: 1px dotted #fff;
    .edit-comment-link {
        color: white;
        &:focus {
            color: #005ea5;
        }
    }       
    &:hover {
        background: rgba( 0, 0, 0, .025 );
        border: 1px dotted #d4d4d4;
        .edit-comment-link {
            color: #005ea5;
        }
    }
}

.fa-flag {
    color: $light-blue;
}

.fa-check {
    color: $turquoise;
}

.raa-icon-comment {
    @extend copy-19;
    font-size: 19px !important;    
    color: $turquoise;
}

h2{
    a{
        i.raa-icon-comment{
            vertical-align: middle;
        }
    }
}

.preserve-formatting{
    white-space: pre-line;
}

.unselected-apprenticeship-type {
  @include core-19;
  background: none;
  border: none;
  display: inline-block;
  line-height: 1.4;
  margin: 0 $gutter-half $gutter-half 0;
  padding: 7px 10px 5px 0;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}

// Dashboard 

.vacancies-summary {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    li {
        margin: 0;
        padding: 0 10px;
        display: block;
        float: left;
        a {
            text-decoration: none;
        }
        figure.data {
            .count {
                @include bold-48( $tabular-numbers: true );
                margin-bottom: 0;
                @media screen and ( max-width: 640px ) {
                    padding: .25em 0;
                    @include bold-48( $tabular-numbers: true );
                }
                @media screen and ( max-width: 768px ) {
                    @include bold-48( $tabular-numbers: true );
                    vertical-align: middle;
                    display: inline-block;
                    margin-right: 10px;
                }
                @media screen and ( min-width: 769px ) {
                    text-align: center;                        
                }
            }
            figcaption {
                display: block;
                @media screen and ( max-width: 768px ) {
                    vertical-align: middle;
                    display: inline-block;
                    margin-right: 10px;
                }
                h2 {
                    @include bold-16;
                    margin-bottom: 0;
                    @media screen and ( max-width: 640px ) {
                        @include bold-16;
                    }
                    @media screen and ( min-width: 769px ) {
                        text-align: center;                        
                    }
                }
            }
            figcaption.underline {
                text-decoration: underline;
            }
        }
    }
}

.vacancies-summary {
    li {
        @media screen and ( max-width: 640px ) {
            padding: 0 10px;
            width: ( 100% / 1 );
        }
        @media screen and ( min-width: 641px ) and ( max-width: 768px ) {
            padding: 0 10px 0 0;
            width: ( 100% / 2 );
        }
        @media screen and ( min-width: 769px ) {
            padding: 0 10px 0 0;
            width: ( 100% / 4 );
        }
    }
}

.candidate-results-count {
	font-weight: bold;
}

.candidate-name {
	font-weight: bold;
}

.candidate-address {
  list-style-type: none;
}