<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ConfigurationPath" value="Configs\settings.config" />
    <add key="Environment" value="Debug" />
    <add key="ida:MetadataAddress" value="https://naspreacs.accesscontrol.windows.net/FederationMetadata/2007-06/FederationMetadata.xml" />
    <add key="ida:Wtrealm" value="https://recruit.findapprenticeship.service.gov.uk/" />
    <add key="ida:SessionTimeout" value="60" />
    <add key="CdnUrl" value="//az693499.vo.msecnd.net" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <machineKey configSource="Configs\machineKey.config" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" enableVersionHeader="false" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <caching>
      <outputCache />
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Long" duration="3600" varyByParam="none" />
          <add name="Short" duration="10" varyByParam="none" />
          <add name="Data" duration="600" varyByParam="none" />
          <add name="SiteMap" duration="1800" varyByParam="none" />
          <add name="None" duration="0" noStore="true" varyByParam="none" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/404.aspx" />
      <error statusCode="403" redirect="~/403.aspx" />
      <error statusCode="500" redirect="~/500.aspx" />
    </customErrors>
    <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <httpModules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.30826.1200" newVersion="4.0.30826.1200" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpCompression>
      <staticTypes>
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="text/css" enabled="true" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="X-AspNetMvc-Version" />
        <add name="Cache-Control" value="public" />
        <!--HSTS header for GDS https://www.gov.uk/service-manual/operations/operating-servicegovuk-subdomains#transport-layer-security-->
        <add name="Strict-Transport-Security" value="max-age=31536000;includeSubDomains;preload" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff " />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Detailed" existingResponse="Replace">
      <remove statusCode="410" />
      <error statusCode="410" subStatusCode="1" path="VacancyNotFound.html" responseMode="File" />
      <remove statusCode="404" />
      <error statusCode="404" path="404.html" responseMode="File" />
      <remove statusCode="403" />
      <error statusCode="403" path="403.html" responseMode="File" />
      <remove statusCode="500" />
      <error statusCode="500" path="500.html" responseMode="File" />
    </httpErrors>
    <directoryBrowse enabled="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RemoveETag" type="SFA.Apprenticeships.Web.Common.Modules.RemoveETagModule, SFA.Apprenticeships.Web.Common" />
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--<security>
      <ipSecurity allowUnlisted="false">
        <add allowed="true" ipAddress="127.0.0.1" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="146.66.41.151" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="193.240.137.228" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="191.235.217.94" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="172.19.4.11" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="208.51.44.100" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="213.205.251.15" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="77.242.202.245" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="91.229.127.193" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="80.169.55.0" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="80.169.55.102" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="62.253.71.89" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="104.45.86.121" subnetMask="255.255.255.0" />
        -->
    <!-- Deployment Server -->
    <!--
        <add allowed="true" ipAddress="23.102.7.175" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="172.18.103.11" subnetMask="255.255.255.0" />
        -->
    <!-- Load test VMs -->
    <!--
        <add allowed="true" ipAddress="23.101.53.61" subnetMask="255.255.255.0" />
        -->
    <!-- Build Server 1 & 2 -->
    <!--
        <add allowed="true" ipAddress="23.101.50.251" subnetMask="255.255.255.0" />
        -->
    <!-- Management 1 Server -->
    <!--
      </ipSecurity>
    </security>-->

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <nlog throwExceptions="true" autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="SFA.Apprenticeships.Infrastructure.Logging" />
      <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    </extensions>
    <variable name="environment" value="Local" />
    <targets async="true">
      <target xsi:type="File" name="flatfilelogger" fileName="C:\logs\Web.Recruit.log" createDirs="true" keepFileOpen="false" encoding="iso-8859-2">
        <layout xsi:type="JsonLayout">
          <property name="user" layout="${mdlc:userId}" />
          <property name="session" layout="${mdlc:sessionId}" />
          <property name="date" layout="${longdate}" />
          <property name="level" layout="${level:upperCase=true}" />
          <property name="logger" layout="${logger}" />
          <property name="message" layout="${message}" />
          <property name="exception" layout="${onexception:${exception:format=tostring}}" />
          <property name="errordata" layout="${onexception:${exception:format=data}}" />
          <property name="errorcode" layout="${event-context:item=ErrorCode}" />
          <property name="stacktrace" layout="${onexception:${stacktrace:tostring}}" />
          <property name="ticks" layout="${ticks}" />
          <property name="processid" layout="${processid}" />
          <property name="useragent" layout="${mdlc:UserAgent}" />
          <property name="referrer" layout="${mdlc:UrlReferrer}" />
          <property name="userlanguages" layout="${mdlc:UserLanguages}" />
          <property name="headers" layout="${mdlc:Headers}" />
          <property name="requestGuid" layout="${mdlc:requestGuid}" />
          <property name="headersLogged" layout="${mdlc:headersLogged}" />
          <property name="queryString" layout="${mdlc:QueryString}" />
          <property name="formData" layout="${mdlc:FormData}" />
        </layout>
      </target>
      <target xsi:type="ApplicationInsightsTarget" name="aiTarget" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="flatfilelogger" />
      <logger name="*" minlevel="Trace" writeTo="aiTarget" />
    </rules>
  </nlog>
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <!-- 
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      -->
    <runtimePolicies>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet" />
      </ignoredTypes>
    </runtimePolicies>
  </glimpse>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>