@model SFA.Apprenticeships.Web.Common.ViewModels.DateViewModel

@if (Model != null && Model.HasValue)
{
    if (Model.Date.ShouldEmphasiseClosingDate())
    {
        <span class="note-text" style="color: red; font-weight: bold">@Model.Date.GetClosingDate()</span>
    }
    else
    {
        <span class="note-text">@Model.Date.GetClosingDate()</span>
    }
}