@using SFA.Apprenticeships.Domain.Entities.Raa.Vacancies
@model SFA.Apprenticeships.Domain.Entities.Raa.Vacancies.VacancyStatus

@switch (Model)
{
    case VacancyStatus.Draft:
        <span class="tag-draft" style="width: 110px">Draft</span>
        break;
    case VacancyStatus.PendingQA:
    case VacancyStatus.ReservedForQA:
        <span class="tag-pending" style="width: 110px">Submitted</span>
        break;
    case VacancyStatus.Referred:
        <span class="tag-pending" style="width: 110px">Referred</span>
        break;
    case VacancyStatus.Live:
        <span class="tag-live" style="width: 110px">Live</span>
        break;
    case VacancyStatus.Closed:
        <span class="tag-live" style="width: 110px">Closed</span>
        break;
    case VacancyStatus.Completed:
        <span class="tag-live" style="width: 110px">Completed</span>
        break;
    case VacancyStatus.Withdrawn:
        <span class="tag-live" style="width: 110px">Withdrawn</span>
        break;
    default:
        break;
}