@using SFA.Apprenticeships.Domain.Entities.Vacancies.ProviderVacancies
@model ProviderVacancyStatuses

@switch (Model)
{
    case ProviderVacancyStatuses.Draft:
        <span class="tag-draft" style="width: 110px">Draft</span>
        break;
    case ProviderVacancyStatuses.PendingQA:
    case ProviderVacancyStatuses.ReservedForQA:
        <span class="tag-pending" style="width: 110px">Submitted</span>
        break;
    case ProviderVacancyStatuses.RejectedByQA:
        <span class="tag-pending" style="width: 110px">Referred</span>
        break;
    case ProviderVacancyStatuses.Live:
        <span class="tag-live" style="width: 110px">Live</span>
        break;
    case ProviderVacancyStatuses.Closed:
        <span class="tag-live" style="width: 110px">Closed</span>
        break;
    case ProviderVacancyStatuses.Completed:
        <span class="tag-live" style="width: 110px">Completed</span>
        break;
    case ProviderVacancyStatuses.Withdrawn:
        <span class="tag-live" style="width: 110px">Withdrawn</span>
        break;
    default:
        break;
}