@using SFA.Apprenticeships.Domain.Entities.Raa.Vacancies
@model SFA.Apprenticeships.Domain.Entities.Raa.Vacancies.VacancyStatuses

@switch (Model)
{
    case VacancyStatuses.Draft:
        <span class="tag-draft" style="width: 110px">Draft</span>
        break;
    case VacancyStatuses.PendingQA:
    case VacancyStatuses.ReservedForQA:
        <span class="tag-pending" style="width: 110px">Submitted</span>
        break;
    case VacancyStatuses.RejectedByQA:
        <span class="tag-pending" style="width: 110px">Referred</span>
        break;
    case VacancyStatuses.Live:
        <span class="tag-live" style="width: 110px">Live</span>
        break;
    case VacancyStatuses.Closed:
        <span class="tag-live" style="width: 110px">Closed</span>
        break;
    case VacancyStatuses.Completed:
        <span class="tag-live" style="width: 110px">Completed</span>
        break;
    case VacancyStatuses.Withdrawn:
        <span class="tag-live" style="width: 110px">Withdrawn</span>
        break;
    default:
        break;
}