@model dynamic
@{
    ViewBag.Title = "Thank you for on-boarding.";
}

<h1 id="h1header" class="heading-xlarge">Thank you for signing up</h1>

<p>Thank you for signing-up to Recruit an apprentice.</p>
<p>We will email you when you can start using the new service.</p>
<p>In the meantime, continue to use Apprenticeship vacancies as normal.</p>