@model dynamic
@{
    ViewBag.Title = "Thank you for on-boarding.";
}

<h2>Thank you for signing up</h2>

<strong>Now that you have verified your email address, we are able to contact you.</strong>
<br/>
<strong>We will notify you of when you will be able to use the new service.</strong>
<br />
<strong>In the mean time, please continue to create vacancies as you do now.</strong>