@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.ProviderUser.SettingsViewModel

@{
    ViewBag.Title = "Recruit an Apprentice - Error while signing up";
}

<h1 class="heading-xlarge">Error while signing up</h1>

<p>
    Unfortunately there has been an error when signing up for the service. Please review the above message and contact helpdesk if necessary
</p>