@model SFA.Apprenticeships.Web.Recruit.ViewModels.UserProfileViewModel

@using SFA.Apprenticeships.Web.Recruit.Constants
@{
    ViewBag.Title = "Recruit an Apprentice - Contact Details";
}
<div class="panel-success toggle-content" id="nextProviderBanner">
    <div class="text">
        <div class="copy-16">
            <p>Please take a moment to fill in your contact details.</p>
        </div>
    </div>
</div>
<div class="panel-success toggle-content" id="userInfoSaved">
    <div class="text">
        <div class="copy-16">
            <p><i class="fa fa-check"></i>Your contact details have been saved</p>
        </div>
    </div>
</div>
<div class="grid-wrapper" id="userInfoPage">
    <div class="hgroup">
        <h1 class="heading-xlarge">
            Your contact details
        </h1>
    </div>
    <div class="text">
        <p>
            This information will not appear on the vacancy advert and will only
            be used by us if we need to contact you.
        </p>
    </div>

@using (Html.BeginRouteForm(RecruitmentRouteNames.UserInfo, FormMethod.Post))
{
    @Html.FormTextFor(
        m => m.Fullname,
        controlHtmlAttributes: new { type = "text", autofocus = "autofocus", spellcheck = "false" })

    @Html.FormTextFor(
        m => m.EmailAddress,
        controlHtmlAttributes: new { type = "email", spellcheck = "false" })

    @Html.FormTextFor(
        m => m.PhoneNumber,
        controlHtmlAttributes: new { @class = "form-label", type = "tel", spellcheck = "false" })

    <div class="form-group">
        <p class="form-label">Your default training site</p>
        @Html.DropDownListFor(m => m.DefaultTrainingSiteId, (List<SelectListItem>)ViewBag.Sites, new { @class = "chosen-select" })
    </div>
    <div class="toggle-content" id="newProviderTerms">
        <p>
            By continuing you accept the <a href="terms-and-conditions.html" target="_blank">terms and conditions</a> of
            this site.
        </p>
        <button class="button">Accept and continue</button>
    </div>
    <div class="" id="userInfoSaveBtn">
        <button class="button">Save details</button>
    </div>
}
</div>
