<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.24.3" targetFramework="net451" />
  <package id="EasyNetQ" version="0.45.0.364" targetFramework="net451" />
  <package id="EasyNetQ.Management.Client" version="0.45.0.364" targetFramework="net451" />
  <package id="Elasticsearch.Net" version="1.4.2" targetFramework="net451" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net451" />
  <package id="FluentValidation" version="5.5.0.0" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net451" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net451" />
  <package id="NEST" version="1.4.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net451" />
  <package id="Sendgrid" version="5.1.0" targetFramework="net451" />
  <package id="SendGrid.SmtpApi" version="1.2.1" targetFramework="net451" />
  <package id="structuremap" version="3.1.4.143" targetFramework="net451" />
</packages>