@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy.DeleteVacancyViewModel
@using System.Web.Mvc.Html
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.ProviderUser
@using SFA.Apprenticeships.Web.Recruit.Constants

@{
    ViewBag.Title = "Recruit an Apprentice - Delete a draft vacancy";

}

<div class="grid-wrapper">
    <div class="hgroup">
        <h1 class="heading-xlarge">
            Delete @Model.VacancyTitle vacancy
        </h1>
    </div>
</div>

@using (Html.BeginRouteForm(RecruitmentRouteNames.DeleteVacancy, FormMethod.Post))
{
    <div>You will not be able to retreive this vacancy once it has been deleted</div>
    <div class="grid grid-1-1">
        <button class="button" id="confirmDeleteVacancy" name="ConfirmDeleteVacancy" value="ConfirmDeleteVacancy">Confirm and return to recruitment home</button>
        @Html.RouteLink("Cancel",  RecruitmentRouteNames.RecruitmentHome, Model as VacanciesSummarySearchViewModel)
    </div>
}