@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.ProviderUser
@using SFA.Apprenticeships.Web.Recruit.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.VacancyManagement.EditWageViewModel

@{
    ViewBag.Title = "Recruit an Apprentice - Increase vacancy wage";
}

<h1 class="heading-xlarge">
    Increase vacancy wage
</h1>

@using (Html.BeginRouteForm(RecruitmentRouteNames.EditWage, FormMethod.Post, new { id = "edit-wage-form" }))
{
    <div>
        <p>You will not be able to retreive this vacancy once it has been deleted</p>
        <div class="column-full">
            @foreach (var prop in Model.GetType().GetProperties())
            {
                var getter = prop.GetGetMethod();
                @Html.Hidden(prop.Name, getter.Invoke(Model, new object[] { }))
                ;
            }
            <button class="button" id="editWageButton" name="EditWage" value="EditWage">Save and return</button>
            @Html.RouteLink("Cancel", RecruitmentRouteNames.RecruitmentHome)
        </div>
    </div>
}