@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.ProviderUser
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@using SFA.Apprenticeships.Web.Recruit.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.VacancyManagement.EditWageViewModel

@{
    ViewBag.Title = "Recruit an Apprentice - Increase vacancy wage";
}

<h1 class="heading-xlarge">
    Increase vacancy wage
</h1>

@using (Html.BeginRouteForm(RecruitmentRouteNames.EditWage, new RouteValueDictionary { { "vacancyReferenceNumber", Model.VacancyReferenceNumber } }, FormMethod.Post, new { id = "edit-wage-form" }))
{
    <div>
        <div class="form-group">
            <button class="button" type="submit" id="editWageButton" name="EditWage" value="EditWage">Save and return</button>

            @{
                var routeName = Model.VacancyApplicationsState == VacancyApplicationsState.HasApplications ?
                    RecruitmentRouteNames.VacancyApplications :
                    RecruitmentRouteNames.PreviewVacancy;

                @Html.RouteLink("Cancel", routeName, new { vacancyReferenceNumber = Model.VacancyReferenceNumber })
            }
        </div>
    </div>
}