<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:nlog="http://www.nlog-project.org/schemas/NLog.xsd">
  <appSettings>
    <add key="Environment" value="SIT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <httpCookies requireSSL="true" xdt:Transform="SetAttributes" />
    <authentication>
      <forms xdt:Transform="SetAttributes" timeout="15" />
    </authentication>
    <caching>
      <outputCache xdt:Transform="Replace" defaultProvider="AFCacheOutputCacheProvider">
        <providers>
          <add name="AFCacheOutputCacheProvider" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="sit" dataCacheClientName="nascache" applicationName="AFCacheOutputCache" />
        </providers>
      </outputCache>
    </caching>
  </system.web>

  <system.webServer>
    <security xdt:Transform="Replace">
      <ipSecurity allowUnlisted="true"/>
    </security>
    <rewrite xdt:Transform="Insert">
      <rules>        
        <rule name="RedirectToSiteMap" stopProcessing="true">
          <match url="^sitemap\.xml$" />
          <conditions>
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^.*\.cloudapp\.net$" />
          </conditions>
          <action type="Redirect" url="https://sit.findapprenticeship.service.gov.uk/sitemap.xml" redirectType="Permanent" />
        </rule>
        <rule name="RedirectToRobotsTxt" stopProcessing="true">
          <match url="^robots\.txt$" />
          <conditions>
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^.*\.cloudapp\.net$" />
          </conditions>
          <action type="Redirect" url="https://sit.findapprenticeship.service.gov.uk/robots.txt" redirectType="Permanent" />
        </rule>
        <rule name="RedirectToHTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{SERVER_NAME}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Custom" xdt:Transform="SetAttributes(errorMode)"></httpErrors>
  </system.webServer>

  <nlog:nlog>
    <nlog:variable name="environment" value="SIT" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)"/>
  </nlog:nlog>
</configuration>