<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
    <section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="ConfigurationPath" value="Configs\settings.config" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AutoSaveTimeInMinutes" value="1" />
    <add key="ShowAbout" value="true" />
    <add key="Environment" value="Debug" />
    <add key="CdnUrl" value="//az693499.vo.msecnd.net" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
    <authentication mode="Forms">
      <forms loginUrl="~/signin" timeout="90" protection="Encryption" slidingExpiration="false" name="User.Auth" />
    </authentication>
    <machineKey configSource="Configs\machineKey.config" />
    <sessionState mode="Off" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <caching>
      <outputCache />
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Long" duration="3600" varyByParam="none" />
          <add name="Short" duration="10" varyByParam="none" />
          <add name="Data" duration="600" varyByParam="none" />
          <add name="SiteMap" duration="1800" varyByParam="none" />
          <add name="None" duration="0" noStore="true" varyByParam="none" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/404.aspx" />
      <error statusCode="403" redirect="~/403.aspx" />
      <error statusCode="500" redirect="~/500.aspx" />
    </customErrors>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WebHost" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.13.0" newVersion="4.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.3.0" newVersion="3.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.Tracing.EventSource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.25.0" newVersion="1.1.25.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.5639" newVersion="1.2.0.5639" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.webServer>
    <httpCompression>
      <staticTypes>
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="text/css" enabled="true" />
      </staticTypes>
    </httpCompression>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="X-AspNetMvc-Version" />
        <add name="Cache-Control" value="public" />
        <!--HSTS header for GDS https://www.gov.uk/service-manual/operations/operating-servicegovuk-subdomains#transport-layer-security-->
        <add name="Strict-Transport-Security" value="max-age=31536000;includeSubDomains;preload" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff " />
      </customHeaders>
    </httpProtocol>

    <httpErrors errorMode="Detailed" existingResponse="Replace">
      <remove statusCode="410" />
      <error statusCode="410" subStatusCode="1" path="ApprenticeshipNotFound.html" responseMode="File" />
      <error statusCode="410" subStatusCode="2" path="TraineeshipNotFound.html" responseMode="File" />
      <remove statusCode="404" />
      <error statusCode="404" path="404.html" responseMode="File" />
      <remove statusCode="403" />
      <error statusCode="403" path="403.html" responseMode="File" />
      <remove statusCode="500" />
      <error statusCode="500" path="500.html" responseMode="File" />
    </httpErrors>

    <directoryBrowse enabled="false" />

    <modules runAllManagedModulesForAllRequests="true">
      <add name="RemoveETag" type="SFA.Apprenticeships.Web.Common.Modules.RemoveETagModule, SFA.Apprenticeships.Web.Common" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>

    <security>
      <ipSecurity allowUnlisted="false">
        <add allowed="true" ipAddress="127.0.0.1" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="146.66.41.151" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="193.240.137.228" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="191.235.217.94" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="172.19.4.11" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="208.51.44.100" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="213.205.251.15" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="77.242.202.245" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="91.229.127.193" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="80.169.55.0" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="80.169.55.102" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="62.253.71.89" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="104.45.86.121" subnetMask="255.255.255.0" />
        <!-- Deployment Server -->
        <add allowed="true" ipAddress="23.102.7.175" subnetMask="255.255.255.0" />
        <add allowed="true" ipAddress="172.18.103.11" subnetMask="255.255.255.0" />
        <!-- Load test VMs -->
        <add allowed="true" ipAddress="23.101.53.61" subnetMask="255.255.255.0" />
        <!-- Build Server 1 & 2 -->
        <add allowed="true" ipAddress="23.101.50.251" subnetMask="255.255.255.0" />
        <!-- Management 1 Server -->
      </ipSecurity>
    </security>

    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="SiteMapFileHandler" path="sitemap.xml" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <dataCacheClients configSource="Configs\dataCacheClient.config" />

  <nlog throwExceptions="true" autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="SFA.Apprenticeships.Infrastructure.Logging" />
      <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    </extensions>
    <variable name="environment" value="Local" />
    <targets async="true">
      <target xsi:type="File" name="flatfilelogger" fileName="C:\logs\Web.Candidate.log" createDirs="true" keepFileOpen="false" encoding="iso-8859-2">
        <layout xsi:type="JsonLayout"> <!-- TODO Use transforms rather than copy and pasting to every config file -->
          <property name="user" layout="${mdlc:userId}" />
          <property name="session" layout="${mdlc:sessionId}" />
          <property name="date" layout="${longdate}" />
          <property name="level" layout="${level:upperCase=true}" />
          <property name="logger" layout="${logger}" />
          <property name="message" layout="${message}" />
          <property name="exception" layout="${onexception:${exception:format=tostring}}" />
          <property name="errordata" layout="${onexception:${exception:format=data}}" />
          <property name="errorcode" layout="${event-context:item=ErrorCode}" />
          <property name="stacktrace" layout="${onexception:${stacktrace:tostring}}" />
          <property name="ticks" layout="${ticks}" />
          <property name="processid" layout="${processid}" />
          <property name="useragent" layout="${mdlc:UserAgent}" />
          <property name="referrer" layout="${mdlc:UrlReferrer}" />
          <property name="userlanguages" layout="${mdlc:UserLanguages}" />
          <property name="headers" layout="${mdlc:Headers}" />
          <property name="requestGuid" layout="${mdlc:requestGuid}" />
          <property name="headersLogged" layout="${mdlc:headersLogged}" />
        </layout>
      </target>
      <target xsi:type="ApplicationInsightsTarget" name="aiTarget" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="flatfilelogger" />
      <logger name="*" minlevel="Trace" writeTo="aiTarget" />
    </rules>
  </nlog>
</configuration>
