<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:nlog="http://www.nlog-project.org/schemas/NLog.xsd">
  <appSettings>
    <add key="ShowAbout" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Environment" value="PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <httpCookies requireSSL="true" xdt:Transform="SetAttributes" />
    <caching>
      <outputCache xdt:Transform="Replace" defaultProvider="AFCacheOutputCacheProvider">
        <providers>
          <add name="AFCacheOutputCacheProvider" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="prod" dataCacheClientName="nascache" applicationName="AFCacheOutputCache" />
        </providers>
      </outputCache>
    </caching>
  </system.web>

  <system.webServer>
    <security xdt:Transform="Replace">
      <ipSecurity allowUnlisted="true"/>
    </security>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="RedirectToSiteMap" stopProcessing="true">
          <match url="^sitemap\.xml$" />
          <conditions>
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^.*\.cloudapp\.net$" />
          </conditions>
          <action type="Redirect" url="https://www.findapprenticeship.service.gov.uk/sitemap.xml" redirectType="Permanent" />
        </rule>
        <rule name="RedirectToRobotsTxt" stopProcessing="true">
          <match url="^robots\.txt$" />
          <conditions>
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^.*\.cloudapp\.net$" />
          </conditions>
          <action type="Redirect" url="https://www.findapprenticeship.service.gov.uk/robots.txt" redirectType="Permanent" />
        </rule>
        <rule name="Redirect to https and www" stopProcessing="true">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
            <add input="{HTTP_HOST}" pattern="^findapprenticeship.service.gov.uk$" />
          </conditions>
          <action type="Redirect" url="https://www.findapprenticeship.service.gov.uk/{R:0}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Custom" xdt:Transform="SetAttributes(errorMode)"></httpErrors>
  </system.webServer>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <nlog:nlog>
    <nlog:variable name="environment" value="PROD" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)"/>
    <nlog:rules>
      <nlog:logger name="*" minlevel="Debug" xdt:Transform="SetAttributes(minlevel)" xdt:Locator="Match(name)"/>
    </nlog:rules>
  </nlog:nlog>
</configuration>