@model string

@if (!string.IsNullOrEmpty(Model))
{
    <details class="open" open>
        <summary>Comment</summary>
        <div class="detail-content qa-comment">
            <div class="blocklabel-single-container preserve-formatting">@Model</div>
        </div>
    </details>
}