<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>

  <system.serviceModel>
    <!-- TODO: review / remove these settings. -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />

    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- TODO: do not expose exceptions. -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="AvRdsBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IReferenceData" />
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="https://apprenticeshipvacancymatchingservice.lsc.gov.uk/services/ReferenceData/ReferenceData51.svc"
        binding="basicHttpBinding" bindingConfiguration="AvRdsBinding"
        contract="AvRds.IReferenceData" name="AvRds" />
      <endpoint address="http://apprenticeshipvacancymatchingservice.lsc.gov.uk/services/ReferenceData/ReferenceData51.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReferenceData"
        contract="AvRds.IReferenceData" name="BasicHttpBinding_IReferenceData" />
    </client>

    <services>
      <service name="SFA.Apprenticeship.Api.AvmsCompatability.ServiceImplementation.Version50.ReferenceDataService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint binding="basicHttpBinding" bindingNamespace="http://Navms.Ms.ExternalInterfaces/2011" contract="SFA.Apprenticeship.Api.AvmsCompatability.ServiceContracts.Version50.IReferenceData" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="SFA.Apprenticeship.Api.AvmsCompatability.ServiceImplementation.Version51.ReferenceDataService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint binding="basicHttpBinding" bindingNamespace="http://services.imservices.org.uk/AVMS/Interfaces/5.1" contract="SFA.Apprenticeship.Api.AvmsCompatability.ServiceContracts.Version51.IReferenceData" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
