@using SFA.Apprenticeships.Domain.Entities.Vacancies.ProviderVacancies
@model ProviderVacancyStatuses
    
@switch (Model)
{
    case ProviderVacancyStatuses.PendingQA:
        <span>Pending QA</span>
        break;
    case ProviderVacancyStatuses.ReservedForQA:
        <span>Reserved for QA</span>
        break;
}