@using SFA.Apprenticeships.Domain.Entities.Vacancies.ProviderVacancies
@model VacancyStatuses
    
@switch (Model)
{
    case VacancyStatuses.PendingQA:
        <span>Pending QA</span>
        break;
    case VacancyStatuses.ReservedForQA:
        <span>Reserved for QA</span>
        break;
}