@using SFA.Apprenticeships.Domain.Entities.Raa.Vacancies
@model VacancyStatus
    
@switch (Model)
{
    case VacancyStatus.Submitted:
        <span>Pending QA</span>
        break;
    case VacancyStatus.ReservedForQA:
        <span>Reserved for QA</span>
        break;
}