@{
    ViewBag.Title = "Next steps - Find an apprenticeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="progress-indicator progress-indicator-horizontal">
    <ul>
        <li class="active">
            <span class="sfa-hide-tablet">Page </span>1<span class="sfa-hide-tablet"> of 3</span>.
            Application form
        </li>
        <li>
            <span class="sfa-hide-tablet">Page </span>2<span class="sfa-hide-tablet"> of 3</span>.
            Check your application
        </li>
        <li>
            <span class="sfa-hide-tablet">Page </span>3<span class="sfa-hide-tablet"> of 3</span>.
            Submitted
        </li>
    </ul>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge" id="appTourStart">Application form</h1>
    </div>
    <div class="column-one-third">
        <div class="hide-nojs">
            <a href="#" id="runApplyTour"><i class="fa fa-question-circle"></i>How to apply for an apprenticeship</a>
            <p>(interactive walkthrough)</p>
        </div>
    </div>
</div>
<section class="sfa-section-bordered">
    <div>
        <div class="hgroup-medium">
            <h3 class="heading-medium">Mechanical Engineer – Precision Toolmaker</h3>
            <span class="heading-secondary ">R G Engineering</span>
        </div>
        <p>
            An exciting opportunity has arisen for the right candidate to gain an engineering
            qualification through an apprenticeship. If you have got drive and want
            to learn a highly skilled trade then look no further.
        </p>
        <p id="appTourSummary">
            <a href="search-details.html">View apprenticeship</a>
        </p>
    </div>
</section>
<fieldset class="sfa-xlarge-bottom-margin sfa-section-bordered grid-row">
    <legend class="heading-large">Your details</legend>
    <div class="column-one-third">
        <div class="form-group">
            <label for="first-name" class="form-label-bold">Full name</label>
            <span class="form-prepopped" id="fullNamePre">John Smith</span>
        </div>
        <div class="form-group">
            <p class="form-label-bold">Date of birth</p>
            <span class="form-prepopped" id="dobFullPre">12/06/1994</span>
        </div>
        <div class="form-group">
            <span class="form-label-bold">Address</span>
            <ul class="list-text form-prepopped">
                <li id="address1Pre">37 Bolton road</li>
                <li id="address2Pre"></li>
                <li id="address3Pre">Birmingham</li>
                <li id="address3bPre">West Midlands</li>
                <li id="address4Pre">B23 4BB</li>
            </ul>
        </div>
    </div>
    <div class="column-one-third">
        <div class="form-group">
            <label for="email-address" class="form-label-bold">Email address</label>
            <span class="form-prepopped" id="emailInputPre">john.smith@email.com</span>
        </div>
        <div class="form-group">
            <label for="tel-number" class="form-label-bold">Phone</label>
            <span class="form-prepopped" id="phoneInputPre">07954 389421</span>
        </div>
    </div>
</fieldset>
<fieldset class="sfa-xlarge-bottom-margin sfa-section-bordered" id="applyEducation">
    <legend class="heading-large">Education</legend>
    <div class="form-group">
        <label for="school-name" class="form-label-bold">Name of most recent school or college</label>
        <input class="form-control" type="text" id="school-name" autocapitalize="words">
    </div>
    <div class="inline-fixed">
        <p class="form-label-bold">Years attended</p>
        <div class="form-group">
            <label for="school-from" class="form-label-bold form-hint">Started</label>
            <input type="tel" class="form-control form-control-medium" id="school-from" pattern="[0-9]*"
                    maxlength="4">
        </div>
        <div class="form-group">
            <label for="school-to" class="form-label-bold form-hint">Finished</label>
            <input type="tel" class="form-control form-control-medium" id="school-to" pattern="[0-9]*"
                    maxlength="4">
        </div>
    </div>
</fieldset>
<fieldset class="sfa-xlarge-bottom-margin sfa-section-bordered" id="applyQualifications">
    <legend class="heading-large">Qualifications</legend>
    <div class="hide-nojs">
        <p class="form-label-bold">Do you have any qualifications?</p>
        <p class="form-hint text" id="appTourQuals">
            If you don't know your results yet, enter your predicted grades. These
            are grades your teacher expects you to get.
        </p>
        <div class="form-group form-group-compound inline clearfix">
            <label data-target="qualifications-panel" for="qualifications-yes" class="block-label selection-button-radio">
                <input checked aria-controls="qualifications-panel" aria-expanded="false" name="quals"
                       type="radio" id="qualifications-yes">Yes
            </label>
            <label for="qualifications-no" class="block-label selection-button-radio">
                <input name="quals" type="radio" id="qualifications-no">No
            </label>
        </div>
        <div id="qualifications-panel" class="has-qualifications toggle-content" aria-hidden="true"
                role="region">
            <div class="enter-qualification clearfix">
                <div class="inline-fixed">
                    <div class="form-group">
                        <label for="qual-type" class="form-label-bold">Type of qualification</label>
                        <select class="form-control" id="qual-type">
                            <option value="Select">Select from list</option>
                            <option class="gcse" value="GCSE">GCSE</option>
                            <option class="as-level" value="AS Level">AS Level</option>
                            <option class="a-level" value="A Level">A Level</option>
                            <option class="btec" value="BTEC">BTEC</option>
                            <option class="nvq1" value="NVQ or SVQ Level 1">NVQ or SVQ Level 1</option>
                            <option class="nvq2" value="NVQ or SVQ Level 2">NVQ or SVQ Level 2</option>
                            <option class="nvq3" value="NVQ or SVQ Level 3">NVQ or SVQ Level 3</option>
                            <option id="otherQualOption" class="other" value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="subject-year" class="form-label-bold">Year</label>
                        <input maxlength="4" type="tel" class="form-control form-control-small" pattern="[0-9]*"
                                id="subject-year">
                    </div>
                </div>
                <div class="other-qual-input form-group toggle-content">
                    <label for="other-qual" class="form-label-bold">Name of other qualification</label>
                    <input type="text" class="form-control" id="other-qual">
                </div>
                <div class="form-group form-group-compound">
                    <label for="subject-name" class="form-label-bold">Subject</label>
                    <input type="text" class="form-control" id="subject-name">
                </div>
                <div class="inline-fixed">
                    <div class="form-group">
                        <label for="subject-grade" class="form-label-bold">Grade</label>
                        <input type="text" class="form-control form-control-medium" id="subject-grade">
                    </div>
                    <div class="form-group">
                        <input id="qual-predicted" type="checkbox">
                        <label for="qual-predicted">Predicted?</label>
                    </div>
                </div>
                <div class="form-group">
                    <a href="#" class="button save-qual-btn" id="saveQualification">Save this qualification</a>
                </div>
            </div>
            <div class="qualifications-wrapper">
                <div class="qualification-table toggle-content" id="gcse" style="display: block;">
                    <div class="hgroup-small">
                        <h3 class="heading-small heading-qualType">GCSE</h3>
                    </div>
                    <table class="grid-3-4">
                        <colgroup>
                            <col class="t40">
                            <col class="t25">
                            <col class="t15">
                            <col class="t10">
                            <col class="t10">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="th-qualSubject">
                                    <span class="heading-span">Subject</span>
                                </th>
                                <th class="th-qualGrade">
                                    <span class="heading-span">Grade</span>
                                </th>
                                <th class="th-qualYear">
                                    <span class="heading-span">Year</span>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="tbody-qual"><tr class="tr-qualRow"><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="Maths" readonly=""></td><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="B" readonly=""></td><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="2015" readonly=""></td><td class="td-qualEdit sfa-align-center"><span class="fake-link cell-span">Edit</span></td><td class="qualRemove sfa-align-center"><i class="cell-span"><i class="font-xsmall fa fa-times-circle icon-black"></i><i class="visuallyhidden">Remove</i></i></td></tr><tr class="tr-qualRow"><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="English" readonly=""></td><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="B" readonly=""></td><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="2015" readonly=""></td><td class="td-qualEdit sfa-align-center"><span class="fake-link cell-span">Edit</span></td><td class="qualRemove sfa-align-center"><i class="cell-span"><i class="font-xsmall fa fa-times-circle icon-black"></i><i class="visuallyhidden">Remove</i></i></td></tr><tr class="tr-qualRow"><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="Science" readonly=""></td><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="BB" readonly=""></td><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="2015" readonly=""></td><td class="td-qualEdit sfa-align-center"><span class="fake-link cell-span">Edit</span></td><td class="qualRemove sfa-align-center"><i class="cell-span"><i class="font-xsmall fa fa-times-circle icon-black"></i><i class="visuallyhidden">Remove</i></i></td></tr><tr class="tr-qualRow"><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="Geography" readonly=""></td><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="C" readonly=""></td><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="2015" readonly=""></td><td class="td-qualEdit sfa-align-center"><span class="fake-link cell-span">Edit</span></td><td class="qualRemove sfa-align-center"><i class="cell-span"><i class="font-xsmall fa fa-times-circle icon-black"></i><i class="visuallyhidden">Remove</i></i></td></tr><tr class="tr-qualRow"><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="History" readonly=""></td><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="B" readonly=""></td><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="2015" readonly=""></td><td class="td-qualEdit sfa-align-center"><span class="fake-link cell-span">Edit</span></td><td class="qualRemove sfa-align-center"><i class="cell-span"><i class="font-xsmall fa fa-times-circle icon-black"></i><i class="visuallyhidden">Remove</i></i></td></tr><tr class="tr-qualRow"><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="Spanish" readonly=""></td><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="C" readonly=""></td><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="2015" readonly=""></td><td class="td-qualEdit sfa-align-center"><span class="fake-link cell-span">Edit</span></td><td class="qualRemove sfa-align-center"><i class="cell-span"><i class="font-xsmall fa fa-times-circle icon-black"></i><i class="visuallyhidden">Remove</i></i></td></tr></tbody>
                    </table>
                </div>
                <div class="qualification-table" id="a-level"><div class="hgroup-small"><h3 class="heading-small heading-qualType">A Level</h3></div><table class="grid-3-4"><colgroup><col class="t40"><col class="t25"><col class="t15"><col class="t10"><col class="t10"><col></colgroup><thead><tr><th class="th-qualSubject"><span class="heading-span">Subject</span></th><th class="th-qualGrade"><span class="heading-span">Grade</span></th><th class="th-qualYear"><span class="heading-span">Year</span></th><th></th><th></th></tr></thead><tbody class="tbody-qual"><tr class="tr-qualRow"><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="Biology" readonly=""></td><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="C (Predicted)" readonly=""></td><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="2016" readonly=""></td><td class="td-qualEdit sfa-align-center"><span class="fake-link cell-span">Edit</span></td><td class="qualRemove sfa-align-center"><i class="cell-span"><i class="font-xsmall fa fa-times-circle icon-black"></i><i class="visuallyhidden">Remove</i></i></td></tr><tr class="tr-qualRow"><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="Business Studies" readonly=""></td><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="B (Predicted)" readonly=""></td><td class="td-qualcell"><input class="form-control qual-input-edit" type="text" value="2016" readonly=""></td><td class="td-qualEdit sfa-align-center"><span class="fake-link cell-span">Edit</span></td><td class="qualRemove sfa-align-center"><i class="cell-span"><i class="font-xsmall fa fa-times-circle icon-black"></i><i class="visuallyhidden">Remove</i></i></td></tr></tbody></table></div>
            </div>
        </div>
    </div>
    
</fieldset>
<fieldset class="sfa-xlarge-bottom-margin sfa-section-bordered" id="applyWorkExperience">
    <legend class="heading-large">Work experience</legend>
    <p class="hide-nojs form-label-bold text">Do you have any work experience?</p>
    <p class="form-hint text" id="appTourWork">
        Please include any work, whether paid or voluntary.
    </p>
    <div class="hide-nojs">
        <div class="form-group inline clearfix">
            <label data-target="workexperience-panel" for="workexp-yes" class="block-label selection-button-radio">
                <input checked name="workexp" type="radio" id="workexp-yes">Yes
            </label>
            <label for="workexp-no" class="block-label selection-button-radio">
                <input name="workexp" type="radio" id="workexp-no">No
            </label>
        </div>
        <div id="workexperience-panel" class="has-work-experience toggle-content">
            <div class="enter-work clearfix">
                <div class="form-group form-group-compound">
                    <label for="work-employer" class="form-label-bold">Employer</label>
                    <input type="text" class="form-control" id="work-employer">
                </div>
                <div class="form-group form-group">
                    <label for="work-title" class="form-label-bold">Job title</label>
                    <input type="text" class="form-control" id="work-title">
                </div>
                <div class="form-group form-group-compound">
                    <label for="work-role" class="form-label-bold">Main duties</label>
                    <textarea type="text" rows="3" class="form-control" id="work-role" data-val-length-max="200"></textarea>
                    <span class="form-hint">
                        <span class="maxchar-count">200</span>
                        <span class="maxchar-text">characters remaining</span>
                    </span>
                </div>
                <div class="inline-fixed">
                    <div class="form-group form-group-compound">
                        <label for="work-from" class="form-label-bold">Started</label>
                        <div class="form-group form-group-compound">
                            <span class="form-hint">Month</span>
                            <select class="form-control" name="" id="work-from">
                                <option value="Jan">Jan</option>
                                <option value="Feb">Feb</option>
                                <option value="Mar">Mar</option>
                                <option value="Apr">Apr</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="Aug">Aug</option>
                                <option value="Sept">Sept</option>
                                <option value="Oct">Oct</option>
                                <option value="Nov">Nov</option>
                                <option value="Dec">Dec</option>
                            </select>
                        </div>
                        <div class="form-group form-group-compound">
                            <span class="form-hint">Year</span>
                            <input type="tel" class="form-control form-control-small" pattern="[0-9]*" maxlength="4"
                                    id="work-from-year">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="work-to" class="form-label-bold">Finished</label>
                        <div class="form-group form-group-compound">
                            <span class="form-hint">Month</span>
                            <select class="form-control" name="" id="work-to">
                                <option value="Jan">Jan</option>
                                <option value="Feb">Feb</option>
                                <option value="Mar">Mar</option>
                                <option value="Apr">Apr</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="Aug">Aug</option>
                                <option value="Sept">Sept</option>
                                <option value="Oct">Oct</option>
                                <option value="Nov">Nov</option>
                                <option value="Dec">Dec</option>
                            </select>
                        </div>
                        <div class="form-group form-group-compound">
                            <span class="form-hint">Year</span>
                            <input type="tel" class="form-control form-control-small" pattern="[0-9]*" maxlength="4"
                                    id="work-to-year">
                        </div>
                        <div class="form-group form-group-compound">
                            <input id="work-current" type="checkbox">
                            <label for="work-current">Current</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <a href="#" class="button" id="addWorkBtn">Save this work experience</a>
                </div>
            </div>
            <div class="work-history-wrapper grid-3-4">
                <div class="grid-row work-history-item"><div class="work-controls"><div class="work-edit sfa-align-center"><span class="cell-span fake-link">Edit</span></div><div class="work-delete sfa-align-center"><span class="cell-span"><i class="font-xsmall fa fa-times-circle icon-black"></i><i class="visuallyhidden">Remove</i></span></div></div><div class="column-one-half"><table class="table-no-btm-border table-compound"><colgroup><col class="t100"><col></colgroup><thead><tr><th><span class="heading-span">Work experience</span></th></tr></thead><tbody><tr><td><input type="text" class="form-control toggle-content inline width-all-49 editable-work-input" value="Boots"><span class="cell-span editable-work">Boots</span><span class="cell-span work-hyphen">-</span><input type="text" class="form-control toggle-content inline width-all-49 editable-work-input no-right-margin" value="Customer service"><span class="cell-span editable-work">Customer service</span><div></div><textarea rows="3" class="form-control toggle-content editable-work-input">Helping customers with their queries, handling complaints. Working at the checkout to process purchases</textarea><span class="cell-span editable-work">Helping customers with their queries, handling complaints. Working at the checkout to process purchases</span></td></tr></tbody></table></div><div class="column-one-half"><table class="table-no-btm-border table-compound"><colgroup><col class="t30"><col class="t30"><col class="t25"><col class="t15"><col></colgroup><thead><tr><th><span class="heading-span">From</span></th><th><span class="heading-span">To</span></th><th></th><th></th></tr></thead><tbody><tr><td><div class="toggle-content"><div class="form-group form-group-compound"><select class="form-control" class="form-control work-month-select" id="workFromSelect"><option value="Jan">Jan</option><option value="Feb">Feb</option><option value="Mar">Mar</option><option value="Apr">Apr</option><option value="May">May</option><option value="June">June</option><option value="July">July</option><option value="Aug">Aug</option><option value="Sept">Sept</option><option value="Oct">Oct</option><option value="Nov">Nov</option><option value="Dec">Dec</option></select></div><div class="form-group form-group-compound"><input type="text" class="form-control toggle-content work-year-input" value="2013"></div></div><span class="cell-span editable-work work-month work-from-month">Jan</span><span class="cell-span editable-work work-year">2013</span></td><td><div class="toggle-content"><div class="form-group form-group-compound disabled"><select class="form-control" class="form-control editable-current work-month-select" id="workToSelect" disabled=""><option value="Jan">Jan</option><option value="Feb">Feb</option><option value="Mar">Mar</option><option value="Apr">Apr</option><option value="May">May</option><option value="June">June</option><option value="July">July</option><option value="Aug">Aug</option><option value="Sept">Sept</option><option value="Oct">Oct</option><option value="Nov">Nov</option><option value="Dec">Dec</option></select></div><div class="form-group form-group-compound disabled"><input type="text" class="editable-current form-control toggle-content work-year-input" value="" disabled=""></div><div class="form-group form-group-compound"><label><input checked="" type="checkbox" id="edit-current"> Current</label></div></div><span class="cell-span editable-work work-to-span work-month work-to-month"></span><span class="cell-span editable-work work-to-span work-year">Current</span></td><td></td><td></td></tr></tbody></table></div></div>
            </div>
        </div>
    </div>
    
</fieldset>
<fieldset class="sfa-xlarge-bottom-margin sfa-section-bordered" id="applyTraining">
    <legend class="heading-large">Training courses</legend>
    <p class="hide-nojs form-label-bold text">Have you been on a training course?</p>
    <p class="form-hint text" id="appTourTraining">
        Include any courses you've received, in or outside of work
    </p>
    <div class="hide-nojs">
        <div class="form-group inline clearfix">
            <label data-target="training-panel" for="training-yes" class="block-label selection-button-radio">
                <input  name="training" type="radio" id="training-yes">Yes
            </label>
            <label for="training-no" class="block-label selection-button-radio">
                <input checked name="training" type="radio" id="training-no">No
            </label>
        </div>
        <div id="training-panel" class="has-training toggle-content">
            <div class="enter-training clearfix">
                <div class="form-group form-group-compound">
                    <label for="training-employer" class="form-label-bold">Training provider</label>
                    <input type="text" class="form-control" id="training-employer">
                </div>
                <div class="form-group form-group">
                    <label for="training-title" class="form-label-bold">Training course title</label>
                    <input type="text" class="form-control" id="training-title">
                </div>
                <!-- <div class="form-group form-group-compound">
                    <label for="training-role" class="form-label-bold">What skills did you gain from this course?</label>
                    <span class="form-hint text">
                    Try to highlight any skills that might be relevant to this apprenticeship
                    </span>
                    <textarea type="text" rows="3" class="form-control" id="training-role" data-val-length-max="200"></textarea>
                    <span class="form-hint"><span class="maxchar-count">200</span> characters remaining</span>
                </div> -->
                <div class="inline-fixed">
                    <div class="form-group form-group-compound">
                        <label for="training-from" class="form-label-bold">From</label>
                        <div class="form-group form-group-compound">
                            <span class="form-hint">Month</span>
                            <select class="form-control" name="" id="training-from">
                                <option value="Jan">Jan</option>
                                <option value="Feb">Feb</option>
                                <option value="Mar">Mar</option>
                                <option value="Apr">Apr</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="Aug">Aug</option>
                                <option value="Sept">Sept</option>
                                <option value="Oct">Oct</option>
                                <option value="Nov">Nov</option>
                                <option value="Dec">Dec</option>
                            </select>
                        </div>
                        <div class="form-group form-group-compound">
                            <span class="form-hint">Year</span>
                            <input type="tel" class="form-control form-control-small" pattern="[0-9]*" maxlength="4"
                                    id="training-from-year">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="training-to" class="form-label-bold">To</label>
                        <div class="form-group form-group-compound">
                            <span class="form-hint">Month</span>
                            <select class="form-control" name="" id="training-to">
                                <option value="Jan">Jan</option>
                                <option value="Feb">Feb</option>
                                <option value="Mar">Mar</option>
                                <option value="Apr">Apr</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="Aug">Aug</option>
                                <option value="Sept">Sept</option>
                                <option value="Oct">Oct</option>
                                <option value="Nov">Nov</option>
                                <option value="Dec">Dec</option>
                            </select>
                        </div>
                        <div class="form-group form-group-compound">
                            <span class="form-hint">Year</span>
                            <input type="tel" class="form-control form-control-small" pattern="[0-9]*" maxlength="4"
                                    id="training-to-year">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <a href="#" class="button save-training-btn" id="addTrainingBtn">Save this training course</a>
                </div>
            </div>
            <div class="training-wrapper grid-3-4">
            </div>
        </div>
    </div>
    
</fieldset>
<fieldset class="sfa-xlarge-bottom-margin sfa-section-bordered" id="applyAboutYou">
    <legend class="heading-large">About you</legend>
    <div class="form-group text" id="appTourAbout">
        <details>
            <summary aria-controls="helpText" role="button" aria-expanded="false">Help with this section</summary>
            <p class="panel panel-border-narrow" id="helpText" role="region" aria-hidden="true">
                Think carefully about how you answer these questions. Where possible, keep the
                vacancy that you're applying for in mind, and tailor your answers to
                match the role.
            </p>
        </details>
    </div>
    <div class="form-group">
        <label for="question1" class="form-label-bold">What are your main strengths?</label>
        <span class="form-hint text" id="appTourStrengths">Please provide examples of when you've demonstrated your strengths</span>
        <textarea id="question1" class="form-control" rows="4" data-val-length-max="4000"
                    data-value="">I feel that one of my main strengths is that I've got good communication skills. I am captain of my local Rugby team and I constantly have to be confident and constantly communicate with my team members. I've also held the position of customer service assistant on a helpdesk, so I have had to communicate with our customers over the phone on a daily basis.</textarea>
        <span class="form-hint"><span class="maxchar-count">4000</span>  <span class="maxchar-text">characters remaining</span></span>
        <span class="visuallyhidden aria-limit" aria-live="polite"></span>
    </div>
    <div class="form-group">
        <label for="question2" class="form-label-bold">What skills would you like to improve during this apprenticeship?</label>
        <span class="form-hint text" id="appTourSkills">Think of what your main duties would be and whether there are skills you'd like to develop</span>
        <textarea id="question2" class="form-control" rows="4" data-val-length-max="4000"
                    data-value="">I would like to improve my knowledge of the latest cutting and colouring techniques being used within the fashion industry and how these could be adapted to suit high street fashion trends.</textarea>
        <span class="form-hint"><span class="maxchar-count">4000</span>  <span class="maxchar-text">characters remaining</span></span>
        <span class="visuallyhidden aria-limit" aria-live="polite"></span>
    </div>
    <div class="form-group">
        <label for="question3" class="form-label-bold">What are your hobbies and interests?</label>
        <span class="form-hint text" id="appTourHobbies">Remember to include any personal achievements</span>
        <textarea id="question3" class="form-control" rows="4" data-val-length-max="4000"
                    data-value="">I play the piano to a Grade 6 level, I feel that the passion and dedication that I've shown towards learning the piano proves that I could transfer these skills to my apprenticeship. Having to practice every day and seeing the results has been a very rewarding process.</textarea>
        <span class="form-hint"><span class="maxchar-count">4000</span>  <span class="maxchar-text">characters remaining</span></span>
        <span class="visuallyhidden aria-limit" aria-live="polite"></span>
    </div>
</fieldset>
<fieldset class="sfa-xlarge-bottom-margin sfa-section-bordered" id="applyAdditional">
    <legend class="heading-large">Additional questions</legend>
    <div class="form-group">
        <label for="add-question1" class="form-label-bold" id="appTourAdditional1">Why would you like to become an Apprentice?</label>
        <textarea id="add-question1" class="form-control" rows="4" data-val-length-max="4000"
                    data-value="">I'd like to become an apprentice so that I can gain the skills and qualities that I need to enjoy a long and successful career. I didn't feel like University was the right route for me, even though I've received offers from 3 Universities.</textarea>
        <span class="form-hint"><span class="maxchar-count">4000</span>  <span class="maxchar-text">characters remaining</span></span>
        <span class="visuallyhidden aria-limit" aria-live="polite"></span>
    </div>
    <div class="form-group">
        <label for="add-question2" class="form-label-bold" id="appTourAdditional2">Where do you see yourself in three years?</label>
        <textarea id="add-question2" class="form-control" rows="4" data-val-length-max="4000"
                    data-value="">In 3 years time I would like to be a team leader, or maybe even assistant manager. As I'm a quick learner I think that this is a realistic target.</textarea>
        <span class="form-hint"><span class="maxchar-count">4000</span>  <span class="maxchar-text">characters remaining</span></span>
        <span class="visuallyhidden aria-limit" aria-live="polite"></span>
    </div>
    <div class="form-group inline clearfix">
        <p class="form-label-bold" id="disability-label">Do you have a learning difficulty, disability or health problem?</p>
        <label for="disability-yes" class="block-label selection-button-radio">
            <input name="disability" type="radio" id="disability-yes" aria-labelledby="disability-label">Yes
        </label>
        <label for="disability-no" class="block-label selection-button-radio">
            <input name="disability" type="radio" id="disability-no" aria-labelledby="disability-label">No
        </label>
        <label for="disability-prefno" class="block-label selection-button-radio">
            <input name="disability" type="radio" id="disability-prefno" aria-labelledby="disability-label">Prefer not to say
        </label>
        <details>
            <summary><span class="summary">Why we collect this info</span></summary>
            <div class="panel panel-border-narrow">
                <p>
                    Employers who are part of the ‘Positive about disabled people’ scheme
                    will guarantee candidates an interview who meet the apprenticeship
                    criteria if they have a disability.
                </p>
                <p>
                    For this reason we ask you to provide this information so we can
                    inform the employer and provider.
                </p>
            </div>
        </details>
    </div>
    <div class="form-group">
        <p class="heading-small">Is there anything we can do to support your interview?</p>
        <p class="secondary-text">For example, do you need a signer or information in braille</p>
        <div class="form-group form-group-compound inline">
            <label data-target="support-panel" for="support-yes" class="block-label selection-button-radio">
                <input name="support" type="radio" id="support-yes" aria-controls="support-panel"
                        aria-expanded="false">Yes
            </label>
            <label for="support-no" class="block-label selection-button-radio">
                <input checked name="support" type="radio" id="support-no">No
            </label>
        </div>
        <div id="support-panel" class="panel panel-border-narrow toggle-content" aria-hidden="true">
            <span class="form-hint">Please provide details</span>
            <textarea id="question4" class="form-control" rows="4" data-val-length-max="4000"></textarea>
            <span class="form-hint">
                <span class="maxchar-count">4000</span>
                <span class="maxchar-text">characters remaining</span>
            </span>
            <span class="visuallyhidden aria-limit" aria-live="polite"></span>
        </div>
</fieldset>
<div class="form-group inline">
    <a href="#" class="button" id="applyPreviewBtn">Save and continue</a>
    <div class="panel-danger toggle-content" id="unsavedQuals">
        <div>
            <p>
                You've got unsaved changes in your <a href="#qualifications-panel">qualification section</a>.
                You must press "Save qualification" to save each qualification.
            </p>
        </div>
    </div>
    <p id="saveApplication">
        <a href="#" class="button sfa-button-secondary saveADraft">Save</a>
    </p>
    <!--   <p id="applicationSaved">
        Saved at 10:20 to <a href="dashboard.html">my applications</a>
    </p> -->
</div>

<ol id="appFormTour" class="sfa-hide">
    <li data-id="appTourStart" data-next-button="Start tour">
        <div aria-live="polite">
            <p>
                The following tips are taken from <a href="https://nationalcareersservice.direct.gov.uk/advice/courses/typesoflearning/Pages/apprenticeship-application-help.aspx"
                                                        target="_blank">this page on the NCS website</a>.
            </p>
        </div>
    </li>
    <li data-id="appTourStart">
        <div aria-live="polite">
            <p class="sfa-small-bottom-margin">
                Before you start your application, print off a copy of anything that
                might help you, such as:
            </p>
            <ul class="list list-bullet">
                <li>your curriculum vitae (CV)</li>
                <li>any practice application forms you have completed</li>
                <li>personal statement</li>
                <li>achievement portfolio</li>
                <li>copies of certificates.</li>
            </ul>
        </div>
    </li>
    <li data-id="appTourSummary">
        <div aria-live="polite">
            <p>
                This is the summary of the apprenticeship you're applying for, clicking
                this link will take you to the details page for the apprenticeship.
            </p>
            <p>
                You could also print the apprenticeship details page, so that you can
                refer to it during your application.
            </p>
        </div>
    </li>
    <li data-id="school-name">
        <div aria-live="polite">
            <p>If you're currently at school/college, then enter the name of this one.</p>
        </div>
    </li>
    <li data-id="appTourQuals">
        <div aria-live="polite">
            <p>
                Make sure you read the "skills and qualifications required" area of the
                apprenticeship details. Enter any qualifications that you've got, or
                are predicted to get.
            </p>
        </div>
    </li>
    <li data-id="appTourWork">
        <div aria-live="polite">
            <p>
                Enter as many different positions that you've had, including your main
                duties. Make sure to mention any skills that are similar to those listed
                in the "skills and qualifications required" area.
            </p>
            <p>The main duties section is limited to 200 characters, so keep these brief.</p>
        </div>
    </li>
    <li data-id="appTourTraining">
        <div aria-live="polite">
            <p>Here you're able to add any training courses that you've been on, these might be courses that you've been on through work, or something you've paid for yourself.</p>
        </div>
    </li>
    <li data-id="appTourAbout">
        <div aria-live="polite">
            <p>
                This section is one of the most important parts of the application form,
                and it will help you to get through to interview.
            </p>
            <p>
                You need to be prepared to put in a lot of work to get this section looking
                really good.
            </p>
        </div>
    </li>
    <li data-id="appTourStrengths">
        <div aria-live="polite">
            <p>
                It’s got to be punchy, easy to read, and make the employer want to read
                more. If you’re not sure what to write, ask a friend or teacher to
                list your three best qualities.
            </p>
            <p>
                Remember to give examples of your strengths. For example, if the employer
                asks for ‘good communication skills’ you need to tell them you have
                ‘good communication skills’ and back this up with evidence of when
                you used these skills.
            </p>
            <p>You've got 4000 characters here, so don't be afraid to go into detail.</p>
        </div>
    </li>
    <li data-id="appTourSkills">
        <div aria-live="polite">
            <p>
                In this section you only need to write a good paragraph or a few sentences
                that answers the question. Try to do it in a clever way and link it
                directly to the job you’re applying for.
            </p>
            <p>
                For example, if you were going for a job in hairdressing you could say
                something like this:
            </p>
            <p>
                ‘I would like to improve my knowledge of the latest cutting and colouring
                techniques being used within the fashion industry and how these could
                be adapted to suit high street fashion trends.’
            </p>
        </div>
    </li>
    <li data-id="appTourHobbies">
        <div aria-live="polite">
            <p>
                When choosing which personal interests to put on your application, advisers
                can help you to choose things that show a different side to your personality
                than your job skills. This shows employers that you’re a well-rounded
                person.
            </p>
            <p>
                We know this section can be hard to fill in, as many people are modest
                about their achievements outside of work and school. In fact, many
                people don’t see their activities as ‘interests’ at all.
            </p>
            <p>
                An adviser can talk to you about what you like to do in your spare time,
                and can help you to pick out things that will impress employers.
            </p>
        </div>
    </li>
    <li data-id="appTourAdditional1">
        <div aria-live="polite">
            <p>
                These additional questions are important, think carefully about how you
                answer them and make sure you tailor your answer to the employer's
                requirements.
            </p>
        </div>
    </li>
    <li data-id="applyPreviewBtn">
        <div aria-live="polite">
            <p>
                Once you're happy with your application, continue to the next page where
                you can read through your answers and finally submit your application.
            </p>
            <p>
                Employers will be impressed if your application seems carefully considered,
                and like you’ve made the effort to understand the role and what’s required
                of you.
            </p>
            <p>
                You can create this impression by applying for fewer jobs but taking
                the time to make sure each application is tailored to that organisation
                and role.
            </p>
        </div>
    </li>
    <li data-id="saveApplication">
        <div aria-live="polite">
            <p>
                You can save your application at any time, and pick it up where you left
                off from in "my applications"
            </p>
        </div>
    </li>
    <li data-id="runApplyTour">
        <div aria-live="polite">
            <p>You can start this tour again at any point from your application form.</p>
        </div>
    </li>
    <li class="joyride-withborder" data-id="headerLinkFAA">
        <div aria-live="polite">
            <p>
                Find an apprenticeship to apply for, using some of the tips from this
                tour.
            </p>
        </div>
    </li>
    <li data-id="myapplications-link" data-button="Finish">
        <div aria-live="polite">
            <p>
                If you've got saved applications, try using these tips to tailor your
                application to the apprenticeship you're applying for.
            </p>
        </div>
    </li>
</ol>


@section scripts
{
    @Scripts.Render("~/bundles/joyride")
    <script>
        $(function () {
            function appTour() {
                $('#appFormTour').joyride({
                    'autoStart': true,
                    'nextButton': true,
                    'prev_button': true,
                    'tipAnimation': 'pop'
                });
            }

            appTour();

            $('#runApplyTour').on('click', function () {
                appTour();

                return false;
            });
        });
    </script>
}