@{
    ViewBag.Title = "Next steps - Find an apprenticeship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="heading-xlarge">Next steps</h2>
<div class="text">
    <p>
        If your application was unsuccessful there are a few things you can do
        to ensure you have a better chance next time.
    </p>
</div>
<div class="text">
    <p>
        Read the <a href="https://nationalcareersservice.direct.gov.uk/advice/courses/typesoflearning/Pages/apprenticeship-application-help.aspx"
                    rel="external" target="_blank">National Careers Service’s application guide</a> if you'd like more advice.
    </p>
    <p>
        To help you write a better application you can take a guided tour of
        the application form.
    </p>
    <div class="form-group hide-nojs">
        @Html.RouteLink("Start tour", CandidateRouteNames.HowToApply, null, new { @class = "button" })
    </div>
</div>
<div class="text">
    <h3 class="heading-medium heading-with-check">
        <i class="font-large fa fa-users"></i>What the shortlisters say
    </h3>
    <div class="panel-indent">
        <div class="sfa-medium-bottom-margin">
            <p>
                <i class="fa fa-quote-left"></i>Good applicants have well-written
                application forms where they have taken the time to give examples
                of their skills and have a good balance between academic achievement
                and enthusiasm for the job/industry that they are applying for.
            </p>
        </div>
        <div class="sfa-medium-bottom-margin">
            <p>
                <i class="fa fa-quote-left"></i>Your application needs to show that
                you have thought about why you are applying for the job.
            </p>
        </div>
        <div class="sfa-medium-bottom-margin">
            <p>
                <i class="fa fa-quote-left"></i>Avoid poor spelling, grammar and
                punctuation. This is critical if you want to be taken seriously
                in your application. Ask someone else with a good eye for detail
                to proofread your application before you submit it.
            </p>
        </div>
        <div class="sfa-medium-bottom-margin">
            <p>
                <i class="fa fa-quote-left"></i>Remember to tailor your application
                for the job that you are applying for.
            </p>
        </div>
    </div>
    <h3 class="heading-medium heading-with-check">
        <i class="font-large fa fa-check-square-o"></i>Mistakes can spell trouble
    </h3>
    <details>
        <summary>More details</summary>
        <div class="detail-content panel-indent">
            <p>
                Mistakes make employers think you haven’t taken the time to get things
                right. They could be concerned about how you will communicate with
                customers and other organisations.
            </p>
            <p>
                If spelling and grammar aren’t your strong points, ask someone who’s
                good with words to check your application. Our advisers can also
                tell you how to improve your writing.
            </p>
        </div>
    </details>
    <h3 class="heading-medium heading-with-check">
        <i class="font-large fa fa-check-square-o"></i>Tailored applications, not mass mailshot
    </h3>
    <details>
        <summary>More details</summary>
        <div class="detail-content panel-indent">
            <p>
                Employers will be impressed if your application seems carefully considered,
                and if you’ve made an effort to understand the role and what’s
                required of you.
            </p>
            <p>
                You can create this impression by applying for fewer jobs but taking
                the time to make sure each application is tailored to an organisation
                and role.
            </p>
        </div>
    </details>
    <h3 class="heading-medium heading-with-check">
        <i class="font-large fa fa-check-square-o"></i>The perfect apprentice
    </h3>
    <details>
        <summary>More details</summary>
        <div class="detail-content panel-indent">
            Employers want an apprentice who’s:
            <ul class="list-bullet sfa-medium-bottom-margin">
                <li>reliable</li>
                <li>hard-working</li>
                <li>eager to learn</li>
                <li>good at dealing with people</li>
            </ul>
            <p>
                In your application try to include examples of times when you’ve
                shown these qualities. You can then apply for another apprenticeship
                and see if you're more successful.
            </p>
        </div>
    </details>
    <p>
        If you'd like more advice on careers contact the
        <a href="https://nationalcareersservice.direct.gov.uk/advice/Pages/default.aspx"
            rel="external" target="_blank">National Careers Service</a>.
    </p>
    <div class="get-started">
        <div class="get-started">@Html.RouteLink("Find an apprenticeship", CandidateRouteNames.ApprenticeshipSearch, null, new { @id = "find-apprenticeship-button", @class = "button" })</div>
    </div>
</div>
<ol id="newAppChanges" class="alwayshidden">
    <li class="tourPushDown" data-id="applicationsLink" data-button="Close">
        <h3 class="heading-small">Updates to your applications</h3>
        <p aria-live="polite">You've got 2 updates</p>
    </li>
</ol>
