@import '_colours';
@import '_buttons';
@import '_conditionals';

.button-link {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    background: none;
    border: none;
    color: #005ea5;
    cursor: pointer;
    display: inline-block;
    line-height: 1.4;
    margin: 0 15px 15px 0;
    padding: .526315em .789473em .263157em;
    text-decoration: underline;
    vertical-align: top;
    -webkit-font-smoothing: antialiased
}

@media(max-width: 640px) {
    .button-link {
        font-size:16px;
        line-height: 1.25
    }
}

.inline-button .button-link {
    margin-bottom: 0
}

.inline-text .button-link {
    margin: 0;
    padding: 0;
    line-height: 1.3
}

.button-link:hover {
    color: #2e8aca
}

.button-link:focus {
    outline: 3px solid #ffbf47
}






.sfa-button-secondary {
    @include button (transparent);
    @include box-sizing (border-box);
    vertical-align: top;

    color: $link-colour;
    text-decoration: underline;

    @include media (mobile) {
    width: 100%;
    text-align: center;
    margin-top:0.75em;
    }

    &:focus {
      outline: 3px solid $focus-colour;
      @include box-shadow(0 2px 0 $focus-colour);
    }

    &:visited {
      color:$link-colour;
    }

    &:hover {
      color:$link-hover-colour;
    }

    &:active {
      top:0;
      color:$link-hover-colour;
      background:$focus-colour;
    }
}

// Disabled buttons
.sfa-button-secondary[disabled="disabled"] {
    background: $button-colour;
    &:focus {
      outline: none;
    }

    &:hover {
      color:$link-colour;
    }
}