@import '_colours';
@import '_buttons';
@import '_conditionals';

.sfa-button-secondary {
    @include button (transparent);
    @include box-sizing (border-box);
    vertical-align: top;

    color: $link-colour;
    text-decoration: underline;

    @include media (mobile) {
    width: 100%;
    text-align: center;
    margin-top:0.75em;
    }

    &:focus {
      outline: 3px solid $focus-colour;
      @include box-shadow(0 2px 0 $focus-colour);
    }

    &:visited {
      color:$link-colour;
    }

    &:hover {
      color:$link-hover-colour;
    }

    &:active {
      top:0;
      color:$link-hover-colour;
      background:$focus-colour;
    }
}

// Disabled buttons
.sfa-button-secondary[disabled="disabled"] {
    background: $button-colour;
    &:focus {
      outline: none;
    }

    &:hover {
      color:$link-colour;
    }
}