.search-bar {
    overflow: hidden;
    position: relative
}

.search-bar select {
    position: absolute;
    left: 0;
    width: 75px;
}

.search-bar .search-input-wrapper {
    float: left;
    box-sizing: border-box;
    padding-left: 74px;
    padding-right: 47px;
    width: 100%
}

.search-bar .search-input-wrapper input[type="text"] {
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 7px;
    box-sizing: border-box;
    width: 100%
}

.search-bar .reset-search {
    position: absolute;
    overflow: hidden;
    right: 53px;
    top: 8px
}

.search-bar .reset-search span {
    position: absolute;
    left: -5000px
}

.search-bar .search-btn {
    position: absolute;
    overflow: hidden;
    right: 0;
    font-size: 18px;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 12px;
    width: 48px
}

.search-bar .search-btn span {
    position: absolute;
    left: -5000px
}