
/*

GDS guidelines reckon mean against using an icon to show an external link.
The content around the link, or the link itself should make the user 
aware that this is an external link.

a[rel="external"]:after {
    background-image: url(../img/icon-external.svg);
    background-repeat: no-repeat;
    background-position: 3px .4em;
    content: '     ';
    background-size: .7em .6em;
}
*/

.summary-style {
    display: inline-block;
    margin-left: 5px
}

.summary-style:before {
    content: '► ';
    font-size: 16px;
    display: inline-block;
    margin-top: 1px;
    margin-right: -1px;
    width: 20px
}

.summary-style.open:before {
    content: '▼ '
}

.toggle-content {
    display: none
}