@using SFA.Apprenticeships.Web.Manage.Constants
@{
    ViewBag.Title = "Administrator functions";
}

<h1 id="heading" class="heading-xlarge">Administrator functions</h1>

<ul>
    <li>@Html.RouteLink("Manage Providers", ManagementRouteNames.AdminProviders)</li>
</ul>
