@using SFA.Apprenticeships.Web.Manage.Constants
@{
    ViewBag.Title = "Administrator functions";
}

<h1 id="heading" class="heading-xlarge">Administrator functions</h1>

<ul>
    <li><a href="@Url.RouteUrl(ManagementRouteNames.AdminProviders)">Manage Providers</a></li>
</ul>
