CREATE VIEW [MI_Views].[ProviderSite_Vw]
AS
     SELECT ProviderSiteID,
            FullName,
            TradingName,
            EDSURN,
            AddressLine1,
            AddressLine2,
            AddressLine3,
            AddressLine4,
            AddressLine5,
            Town,
            CountyId,
            PostCode,
            LocalAuthorityId,
            ManagingAreaID,
            Longitude,
            Latitude,
            GeocodeEasting,
            GeocodeNorthing,
            OwnerOrganisation,
            EmployerDescription,
            CandidateDescription,
            WebPage,
            OutofDate,
            ContactDetailsForEmployer,
            ContactDetailsForCandidate,
            HideFromSearch,
            TrainingProviderStatusTypeId,
            IsRecruitmentAgency,
            ContactDetailsAsARecruitmentAgency
     FROM dbo.ProviderSite;