CREATE VIEW [MI_Views].[lsc_referredlearningprovider_Vw]
AS
(
    SELECT createdby,
           createdbydsc,
           createdbyname,
           createdon,
           createdonutc,
           importsequencenumber,
           lsc_apprenticeshipopportunityid,
           lsc_apprenticeshipopportunityiddsc,
           lsc_apprenticeshipopportunityidname,
           lsc_date_referred,
           lsc_date_referredutc,
           lsc_date_responded,
           lsc_date_respondedutc,
           lsc_employerid,
           lsc_employeriddsc,
           lsc_employeridname,
           lsc_employeridyominame,
           lsc_learningpartnerid,
           lsc_learningpartneriddsc,
           lsc_learningpartneridname,
           lsc_learningpartneridyominame,
           lsc_name,
           lsc_pleasespecify,
           lsc_reason_for_referral,
           lsc_reason_for_referral_other,
           lsc_reason_for_referralname,
           lsc_referredlearningproviderid,
           lsc_response_time,
           lsc_selected,
           lsc_selected_reason,
           lsc_selected_reasonname,
           lsc_selectedname,
           modifiedby,
           modifiedbydsc,
           modifiedbyname,
           modifiedon,
           modifiedonutc,
           organizationid,
           organizationiddsc,
           organizationidname,
           overriddencreatedon,
           overriddencreatedonutc,
           statecode,
           statecodename,
           statuscode,
           statuscodename,
           timezoneruleversionnumber,
           utcconversiontimezonecode
    FROM dbo.lsc_referredlearningprovider
);