@model MonitoringInformationViewModel

<div class="form-group">
    <p class="form-label">Is there anything we can do to support your interview?</p>
    @if (Model.RequiresSupportForInterview)
    {
        <span id="@Html.IdFor(m => m.AnythingWeCanDoToSupportYourInterview)" class="form-prepopped prewrap">@Html.DisplayFor(m => m.AnythingWeCanDoToSupportYourInterview)</span>
    }
    else
    {
        <span id="@Html.IdFor(m => m.AnythingWeCanDoToSupportYourInterview)" class="form-prepopped prewrap">I don't have any interview support requirements</span>
    }
</div>