
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.AnonymisedApplicantDetailsViewModel

<section>
    <div class="panel panel-border-narrow">
        <ul class="list-text">
            <li><span >Applicant ID:</span></li>
            <li>@Model.ApplicantId</li>
        </ul>
    </div>
</section>