
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.AnonymisedApplicantDetailsViewModel

<section class="inner-block-padr">
    <div class="panel-indent">
        <ul class="list-text">
            <li><span class="">Applicant ID:</span></li>
            <li>@Model.ApplicantId</li>
        </ul>
    </div>
</section>