@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Application.EducationViewModel

<fieldset class="fieldset-with-border">
    <legend class="heading-large">
        Education
    </legend>
    <div class="form-group">
        <label for="school-name" class="form-label">Name of most recent school/college</label>
        <span class="form-prepopped" id="school-name">@(Model == null ? "-" : Model.Institution ?? "-")</span>
    </div>
    <div class="inline-fixed">
        <p class="form-label">Years attended</p>
        <div class="form-group">
            <label for="school-from" class="form-hint">Started</label>
            <span class="form-prepopped" id="school-from">@(Model == null ? "-" : Model.FromYear == 0 ? "-" : Model.FromYear.ToString())</span>
        </div>
        <div class="form-group">
            <label for="school-to" class="form-hint">Finished</label>
            <span class="form-prepopped" id="school-to">@(Model == null ? "-" : Model.ToYear == 0 ? "-" : Model.ToYear.ToString())</span>
        </div>
    </div>
</fieldset>