@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Provider.ProviderSiteEmployerLinkViewModel

<noscript>
    <div class="blocklabel-single-container">
        <div>
            <div class="form-group inline clearfix blocklabel-single">
                <a name="@Html.NameFor(m => m.IsEmployerLocationMainApprenticeshipLocation).ToString().ToLower()"></a>
                <h4 class="bold-small">Is this address the vacancy location?</h4>

                <button type="submit" class="button" name="ConfirmEmployer" value="SetDifferentLocation">No, I need to add a different location</button>
                <button type="submit" class="button" name="ConfirmEmployer" value="SetEmployersLocationAsMainLocation">Yes, this will be the vacancy location</button>
            </div>
        </div>

        @if (Model.ShowNumberOfPositions)
        {
            <div id="location-type-main-location-panel" class="toggle-content blocklabel-content">
                @Html.FormTextFor(model => model.NumberOfPositions, controlHtmlAttributes: new { type = "text", @class = "form-control-small", @maxlength = "5", size = 12 }, labelHtmlAttributes: new { @class = "bold-small" })
            </div>
        }
    </div>
</noscript>