@using SFA.Apprenticeships.Web.Recruit.Constants
@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy.ApplicationsLinkViewModel

@if (Model.ApplicationCount > 0)
{
    <p>
        <a href="@Url.RouteUrl(RecruitmentRouteNames.VacancyApplications, new { vacancyReferenceNumber = Model.VacancyReferenceNumber })">Applications for apprenticeship</a>
    </p>
}