@using SFA.Apprenticeships.Web.Recruit.ViewModels
@model EditLinkViewModel
    
@{
    var linkText = Model.CommentViewModel.HasComment ? "Edit/View feedback" : "Edit";
}
<a href="@Model.EditUrl" class="edit-comment-link">@linkText</a>
