@model SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy.EditLinkViewModel
    
@{
    var linkText = Model.CommentViewModel.HasComment ? "Edit/View feedback" : "Edit";
}
<a href="@Model.EditUrl" class="edit-comment-link">@linkText</a>
