@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Vacancy
@model ValidationResultViewModel

@if (Model.Status.IsStateEditable())
{
    <a name="@Model.AnchorName"></a>
    if (Model.HasWarning)
    {
        <a href="@Model.ViewValidationResultUrl"><i class="fa fa-flag the-icon" title="@Model.Warning"></i></a>
    }
}

@Html.Partial(CommentViewModel.PartialView, Model.CommentViewModel)