@{
    ViewBag.Title = "Recruit an Apprentice - Create New Vacancy - Add employer description";
}

<div class="grid-wrapper">
    <div class="hgroup">
        <h1 class="heading-xlarge">
            Add employer description
        </h1>
    </div>
</div>
