@model VacancyOwnerRelationshipViewModel
@using System.Web.Mvc.Html
@using SFA.Apprenticeships.Web.Raa.Common.ViewModels.Provider
@using SFA.Apprenticeships.Web.Recruit.Constants

@{
    ViewBag.Title = "Recruit an Apprentice - Add employer information";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Add employer information
        </h1>
    </div>
</div>

@using (Html.BeginRouteForm(RecruitmentRouteNames.ComfirmNewEmployer, FormMethod.Post, new { id = "confirm-new-employer-form" }))
{
    @Html.DisplayFor(m => m, VacancyOwnerRelationshipViewModel.PartialView)

    <div class="column-full inline">
        <button class="button">Save description and link to employer</button>
        @Html.RouteLink("Choose a different employer", RecruitmentRouteNames.SelectNewEmployer, new { providerSiteErn = Model.ProviderSiteId, edsUrn = Model.Employer.EdsUrn, vacancyGuid = Model.VacancyGuid, comeFromPreview = Model.ComeFromPreview }, new { @class = "button sfa-button-secondary" })
    </div>
}

@section scripts {
    <script type="text/javascript">
        var comeFromPreview = "@Model.ComeFromPreview.ToString()";

        $("#NumberOfPositionsJS").attr("id", "NumberOfPositions").attr("Name", "NumberOfPositions");
        $("#NonAnonymousEmployerJS").attr("id", "NonAnonymousEmployer").attr("Name", "NonAnonymousEmployer");
        $("#AnonymousEmployerJS").attr("id", "AnonymousEmployer").attr("Name", "AnonymousEmployer");

        $("#location-type-main-location").on('click', function () {
            if (comeFromPreview === "True") {
                $("#confirmEmployer").text("Save and return to Preview");
            }
        });

        $("#location-type-different-location").on('click', function () {
            $("#confirmEmployer").text("Save and continue");
        });
    </script>

    @*Difficult to put in the partial view. See http://stackoverflow.com/questions/5981490/how-to-render-javascript-into-masterlayout-section-from-partial-view*@
}