@model SFA.Apprenticeships.Web.Recruit.ViewModels.Vacancy.SubmittedVacancyViewModel
@using SFA.Apprenticeships.Web.Recruit.Constants
@{
    ViewBag.Title = "Recruit an Apprentice - Confirmation of submission";
}

<div class="success-banner">
    <h1 class="heading-large no-btm-margin"><i class="fa fa-check"></i>Vacancy submitted for approval</h1>
</div>
<section class="section-border">
    <section class="text">
        <p>
            Once your vacancy has been approved it'll be published on the Find and apprenticeship service
        </p>
    </section>
</section>
<section class="section-border">
    <div class="hgroup-medium text">
        <h2 class="heading-medium">Create another vacancy</h2>
    </div>
    <div class="form-group">
        <a href="@Url.RouteUrl(RecruitmentRouteNames.SelectExistingEmployer, new { providerSiteErn = Model.ProviderSiteErn })" class="button">Create vacancy</a>
    </div>
    <p>
        <a href="@Url.RouteUrl(RecruitmentRouteNames.RecruitmentHome)">Return to recruitment home</a>
    </p>
</section>
