<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="specBind" type="SpecBind.Configuration.ConfigurationSectionHandler, SpecBind" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <plugins>
      <add name="SpecBindGeneratorPlugin" path="..\..\specbind\src\lib\" type="Generator" />
    </plugins>
    <unitTestProvider name="NUnit" />

    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <stepAssemblies>
      <stepAssembly assembly="SpecBind" />
    </stepAssemblies>
    <trace traceTimings="true" />
  </specFlow>
  <specBind>
    <application startUrl="http://employerenquiry.azurewebsites.net/" />
    <browserFactory provider="SpecBind.Selenium.SeleniumBrowserFactory, SpecBind.Selenium" browserType="chrome" elementLocateTimeout="00:00:01" ensureCleanSession="true" pageLoadTimeout="00:01:00" driverNeedsValidation="true" reuseBrowser="true">
      <settings>
        <add name="javascript.enabled" value="true" />
      </settings>
    </browserFactory>
    <!-- For additional details on SpecBind configuration options see the project site. -->
    <!-- For additional details on SpecBind configuration options see the project site. -->
    <!--<browserFactory provider="SpecBind.Selenium.SeleniumBrowserFactory, SpecBind.Selenium" browserType="IE" />-->
  </specBind>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>