// Vacancies 

.vac-title {
  margin: 0;
  font-weight: bold;
  a {
    text-decoration: none;
  }
  .subtitle{
      font-weight: normal;
  }
}

#employer-data-display {
	display: none;
}

.cancel-link{
    margin-left: 12px;
}

.locations-table {
    .location-positions {
        text-align: center;
    }
    .locations-positions-header{
        text-align: center;
    }
}

.editable-item {
    position: relative;
    margin: -5px -5px 10px -5px;
    padding: 5px;
    .text,
    details,
    p {
        margin-bottom: 0;
    }
    .edit-comment-link {
        clear: both;
        @include copy-16;
        display: block;
        margin: .5rem 0;
    }
}

html:not(.touch).js .editable-item {
    border: 1px dotted #fff;
    .edit-comment-link {
        color: white;
        &:focus {
            color: #005ea5;
        }
    }       
    &:hover {
        background: rgba( 0, 0, 0, .025 );
        border: 1px dotted #d4d4d4;
        .edit-comment-link {
            color: #005ea5;
        }
    }
}

.fa-flag {
    color: $light-blue;
}

.fa-check {
    color: $turquoise;
}

.raa-icon-comment {
    @extend copy-19;
    font-size: 19px !important;    
    color: $turquoise;
}

h2{
    a{
        i.raa-icon-comment{
            vertical-align: middle;
        }
    }
}

.preserve-formatting{
    white-space: pre-line;
}

.remove-button-link{
    font-size: 14px;
}

.use-location-button-link{
    font-size: 14px;
}

// Dashboard 

.vacancies-summary, .applications-summary {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    li {
        margin: 0;
        padding: 0 10px;
        display: block;
        float: left;
        a {
            text-decoration: none;
        }
        figure.data {
            .count {
                @include bold-48( $tabular-numbers: true );
                margin-bottom: 0;
                @media screen and ( max-width: 640px ) {
                    padding: .25em 0;
                    @include bold-48( $tabular-numbers: true );
                }
                @media screen and ( max-width: 768px ) {
                    @include bold-48( $tabular-numbers: true );
                    vertical-align: middle;
                    display: inline-block;
                    margin-right: 10px;
                }
                @media screen and ( min-width: 769px ) {
                    text-align: center;                        
                }
            }
            figcaption {
                display: block;
                @media screen and ( max-width: 768px ) {
                    vertical-align: middle;
                    display: inline-block;
                    margin-right: 10px;
                }
                h2 {
                    @include bold-16;
                    margin-bottom: 0;
                    @media screen and ( max-width: 640px ) {
                        @include bold-16;
                    }
                    @media screen and ( min-width: 769px ) {
                        text-align: center;                        
                    }
                }
            }
        }
    }
}

.vacancies-summary {
    li {
        @media screen and ( max-width: 640px ) {
            padding: 0 10px;
            width: ( 100% / 1 );
        }
        @media screen and ( min-width: 641px ) and ( max-width: 768px ) {
            padding: 0 10px 0 0;
            width: ( 100% / 3 );
            margin-bottom: 10px;
        }
        @media screen and ( min-width: 769px ) {
            padding: 0 10px 0 0;
            width: ( 100% / 5 );
            margin-bottom: 10px;
        }
    }
}

.applications-summary {
    li {
        @media screen and ( max-width: 640px ) {
            padding: 0 10px;
            width: ( 100% / 1 );
        }
        @media screen and ( min-width: 641px ) and ( max-width: 768px ) {
            padding: 0 10px 0 0;
            width: ( 100% / 2 );
        }
        @media screen and ( min-width: 769px ) {
            padding: 0 10px 0 0;
            width: ( 100% / 4 );
        }
    }
}

table#vacancies-table {
    @media screen and ( max-width: 768px ) {
        border-top: 1px solid $grey-2;
        display: block;
        thead {
            display: none;
        } 
        tr {
            display: block;
            border-bottom: 1px solid $grey-2;
            padding: 1em 0;
            td {
                display: block;
                text-align: left;
                border: none;
                padding: 0.25em 0;
                &.vac-toolbox {
                    padding: 1em 0;
                }
                .vac-title {
                    @include bold-19;
                }
                &.vac-employer,
                &.vac-ref-number,
                &.vac-no-of-applications {
                    &:before {
                        content: attr(data-label) ":\00a0";
                        @include bold-16;
                    }
                }
            }
        }
    }
}

table#rightLocationAddressesTable{
    @media screen and ( max-width: 768px ) {
        thead{
            display: none;
        }
    }
}

.location-search-results{
    padding: 0;
    vertical-align: middle;
}

.add-location-link{
    margin-top: 8px;
}

.unselected-apprenticeship-type {
  @include core-19;
  background: none;
  border: none;
  display: inline-block;
  line-height: 1.4;
  margin: 0 $gutter-half $gutter-half 0;
  padding: 7px 10px 5px 0;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}

.no-employers-found{
    margin-bottom:20px;
}

.no-employers-optional-action{
    margin-top:20px;
}

.vac-status{
    text-align: center;
}

.select-employer-link-to-new{
    margin-bottom:15px;
    display:block;
}