@model string

@{
    var state = string.IsNullOrWhiteSpace(Model) ? string.Empty : "open";
}

<details @state>
    <summary>Comment</summary>
    <div class="detail-content qa-comment">
        <div class="blocklabel-single-container">
            @Html.FormTextAreaFor(m => m, controlHtmlAttributes: new { @class = "width-all-1-1 form-textarea-medium", type = "text" })
        </div>
    </div>
</details>