// Vacancies 

.vac-title {
  margin: 0;
  font-weight: bold;
  .subtitle {
      font-weight: normal;
  }
}


html:not(.no-js) [data-editable] {
    position: relative;
    height: auto;
    min-height: auto;
    max-height: auto;
	input,
	textarea {
	    border-color: white;
	}
	textarea {
		resize: none;
		overflow-y: hidden; /* fixes scrollbar flash - kudos to @brettjonesdev */
    	padding-top: .1em;
   	}
	&.empty {
		color: transparent;
		input,
		textarea {
		    color: #fff;  			
		}
		label {
			opacity: 0;
		}
		.form-hint.hide-nojs {
			visibility: hidden;		
		}
	}
	.editor,
	.adder {
	    position: absolute;
	    top: 2px;
	    left: 2px;
	    // font-size: 16px;
	    color: $link-colour;
	    box-sizing: border-box;
	    padding: 0;
	    text-align: center;
	    display: none;
	    background: rgba( 0, 0, 0, .01 );
	    border: 2px dashed $grey-3;
	    vertical-align: middle;
	    cursor: pointer;
	    white-space: nowrap;
		&:hover,
		&:active {
			color: $link-hover-colour;
			span {
				text-decoration: underline;
			}
		}
	}
	.tools {
		position: absolute;
		top: 100%;
		right: 0;
		display: none;
		padding: 0;
		a {
			font-size: 16px;
		}
	}
	&.edited {
		.tools {
			display: block;
		}
	}
	.editor {
		vertical-align: top;
		text-align: right;
		height: 100%;
		span {
			background: #fcfcfc;
			display: inline-block;
			padding: .25em 1em;
		}
	}
	&.full:hover {
		.editor {
			display: block;
		}
	}
	.adder {
	    strong {
	    	&:after {
		    	content: "+";
	    	}
	    	font-size: 1.25em;
		    vertical-align: middle;
		    display: inline-block;
	    }
	}
	&.empty {
		.adder {
    		display: block;
		}
	}
}



#employer-data-display {
	display: none;
}