<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- PRODUCTION CONFIG -->
	<appSettings>
        <add key="ConfigurationStorageConnectionString" value="UseDevelopmentStorage=true" />
		<add key="CacheConnection" value="REPLACE" />
	</appSettings>
 
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="SecureBinding"
					sendTimeout="00:05:00"
					maxBufferSize="2147483647"
					maxBufferPoolSize="2147483647"
					maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647"
						maxStringContentLength="2147483647"
						maxArrayLength="2147483647" maxBytesPerRead="2147483647"
						maxNameTableCharCount="2147483647" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate"/>
					</security>
				</binding>
                <binding name="SFABasicHttpBinding" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>				
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="GatewayCertificate">
					<clientCredentials>
						<clientCertificate findValue="B4CB6B341C2261DAEAA59685D60B71A9C56BC21B" storeName="My" storeLocation="LocalMachine" x509FindType="FindByThumbprint"/>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<client>
			<endpoint address="https://gateway.prod.avms.sfa.bis.gov.uk/services/NASGatewayService/GatewayService.svc"
				binding="basicHttpBinding" bindingConfiguration="SecureBinding"
				contract="GatewayServiceProxy.GatewayServiceContract" name="SecureService"
				behaviorConfiguration="GatewayCertificate"/>
				
            <endpoint address="https://apprenticeshipvacancymatchingservice.lsc.gov.uk/Services/ReferenceData/ReferenceData51.svc"
                binding="basicHttpBinding" bindingConfiguration="SFABasicHttpBinding"
                contract="LegacyReferenceDataProxy.IReferenceData" name="ReferenceData" />

            <endpoint address="https://services.edrs.lsc.gov.uk/lookup17.asmx"
                binding="basicHttpBinding" bindingConfiguration="SFABasicHttpBinding"
                contract="EmployerDataService.EmployerLookupSoap" name="EmployerDataService" />
		</client>
	</system.serviceModel>
</configuration>
